{# SPDX-License-Identifier: Apache-2.0 -#}
{% for banner in banners %}
  <div class="notification-bar {{ "notification-bar--dismissable" if banner.dismissable else "" }}"
       data-controller="notification"
       data-notification-target="notification"
       id="{{ banner.id }}">
    <div class="notification-bar__container">
      <span class="notification-bar__icon">
        <i class="fa {{ banner.fa_icon }}" aria-hidden="true"></i>
      </span>
      <span class="notification-bar__message">{{ banner.text }}</span>
      <a href="{{ banner.link_url }}"
         class="button notification-bar__button"
         target="_blank"
         rel="noopener">{{ banner.link_label }}</a>
      {% if banner.dismissable %}
        <button type="button"
                title="{% trans %}Dismiss this notification{% endtrans %}"
                data-notification-target="dismissButton"
                data-action="click->notification#dismiss"
                class="notification-bar__dismiss"
                aria-label="{% trans %}Close{% endtrans %}">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      {% endif %}
    </div>
  </div>
{% endfor %}
