{% if request.user %}
  <nav class="horizontal-menu -light -tall">
    <a class="link" href="{{ request.route_path('accounts.profile', username=request.user.username) }}">{{ request.user.username }}</a>
    <a class="link" {{ l20n("signout") }} href="{{ request.route_path('accounts.logout') }}">Sign Out</a>
    <a class="link" {{ l20n("help") }} href="TODO">Help</a>
  </nav>
{% else %}
  <nav class="horizontal-menu -light -tall">
    <a class="link" {{ l20n("signin") }} href="{{ request.route_path('accounts.login') }}">Sign In</a>
    <a class="link" {{ l20n("register") }} href="TODO">Register</a>
    <a class="link" {{ l20n("help") }} href="TODO">Help</a>
  </nav>
{% endif %}
