{# SPDX-License-Identifier: Apache-2.0 -#}
{% macro publisher(publ) -%}
  {% if publ.kind == "GitHub" %}
    <p>
      Publisher: <a href="https://github.com/{{ publ.repository }}/blob/HEAD/.github/workflows/{{ publ.workflow }}">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
      <code>{{ publ.workflow }}</code> on {{ publ.repository }}
    </a>
  </p>
{% elif publ.kind == "GitLab" %}
  <p>
    Publisher: <a href="https://gitlab.com/{{ publ.repository }}/blob/HEAD/{{ publ.workflow_filepath }}">
    <i class="fa-brands fa-gitlab" aria-hidden="true"></i>
    <code>{{ publ.workflow_filepath }}</code> on {{ publ.repository }}
  </a>
</p>
{% elif publ.kind == "Google" %}
<p>
  Publisher: <span>
  <i class="fa-brands fa-google" aria-hidden="true"></i>
  <code>{{ publ.email }}</code>
</span>
</p>
{% endif %}
{%- endmacro %}

{% macro attestation_block(viewer, bundle, file, request) %}
  {% set is_slsa = "slsa" in viewer.predicate_type %}
  {% if bundle.publisher.kind == "GitHub" %}
    {% set platform_name = "GitHub Actions" %}
    {% set platform_url = "https://github.com/features/actions" %}
  {% elif bundle.publisher.kind == "GitLab" %}
    {% set platform_name = "GitLab CI/CD" %}
    {% set platform_url = "https://docs.gitlab.com/ci/" %}
  {% elif bundle.publisher.kind == "Google" %}
    {% set platform_name = "Google Cloud" %}
    {% set platform_url = "" %}
  {% endif %}
  <div class="attestation {% if is_slsa %}attestation--slsa{% else %}attestation--pypi{% endif %}">
    <div class="attestation__header">
      <div class="attestation__publisher">
        <div class="attestation__publisher-icons">
          {% if bundle.publisher.kind == "GitHub" %}
            <i class="fa-brands fa-github" aria-hidden="true"></i>
          {% elif bundle.publisher.kind == "GitLab" %}
            <i class="fa-brands fa-gitlab" aria-hidden="true"></i>
          {% elif bundle.publisher.kind == "Google" %}
            <i class="fa-brands fa-google" aria-hidden="true"></i>
          {% endif %}
          {% if is_slsa %}
            <img src="{{ request.static_url('warehouse:static/dist/images/SLSA.svg') }}" alt="" aria-hidden="true">
          {% else %}
            <img src="{{ request.static_url('warehouse:static/dist/images/pypi-attestation-cube.svg') }}" alt="" aria-hidden="true">
          {% endif %}
        </div>
      </div>
      <div class="attestation__header-content">
        {% if is_slsa %}
          <h4><a href="{{ viewer.predicate_type }}" target="_blank" rel="noopener">SLSA Build Provenance</a> {% trans %}Attestation{% endtrans %}</h4>
          <p>PyPI verified that this artifact, at this checksum, originated from the builder listed below.</p>
          <p><strong>Built by {{ platform_name }}, verified by PyPI on <time datetime="{{ file.upload_time|format_datetime('yyyy-MM-ddTHH:mm:ss') }}" title="{{ file.upload_time|format_datetime('yyyy-MM-dd HH:mm:ss') }}">upload</time>.</strong></p>
        {% else %}
          <h4><a href="{{ request.user_docs_url('/attestations/publish/v1/') }}">PyPI Publish</a> {% trans %}Attestation{% endtrans %}</h4>
          <p>PyPI verified that this artifact, at this checksum, originated from the publisher listed below.</p>
          <p><strong>Signed by {{ platform_name }}, verified by PyPI on <time datetime="{{ file.upload_time|format_datetime('yyyy-MM-ddTHH:mm:ss') }}" title="{{ file.upload_time|format_datetime('yyyy-MM-dd HH:mm:ss') }}">upload</time>.</strong></p>
        {% endif %}
        <a href="https://search.sigstore.dev/?logIndex={{ viewer.transparency_entry.logIndex }}"
           target="_blank"
           rel="noopener"
           title="{% trans %}Sigstore transparency entry{% endtrans %}">
          {% trans %}Transparency log{% endtrans %}
        </a>
      </div>
    </div>
    <div class="attestation__details">
      <div class="attestation__metadata">
        <div class="attestation__metadata-header">
          <span class="attestation__metadata-icon">
            <i class="fa-solid fa-fingerprint" aria-hidden="true"></i>
          </span>
          <h5 class="attestation__metadata-title">{% trans %}Identity{% endtrans %}</h5>
        </div>
        <dl class="attestation__metadata-content">
          <dt>{% if is_slsa %}{% trans %}Build platform{% endtrans %}{% else %}{% trans %}Publishing platform{% endtrans %}{% endif %}</dt>
          <dd>
            {% if platform_url %}
              <a href="{{ platform_url }}" target="_blank" rel="noopener">{{ platform_name }}</a>
            {% else %}
              {{ platform_name }}
            {% endif %}
          </dd>
          {% if bundle.publisher.repository %}
            <dt>{% if is_slsa %}{% trans %}Build repository{% endtrans %}{% else %}{% trans %}Publishing repository{% endtrans %}{% endif %}</dt>
            <dd>
              <a href="{{ viewer.source }}" target="_blank" rel="noopener">{{ viewer.source | replace("https://", "") }}</a>
            </dd>
            <dt>{% if is_slsa %}{% trans %}Build commit{% endtrans %}{% else %}{% trans %}Publishing commit{% endtrans %}{% endif %}</dt>
            <dd>
              <a href="{{ viewer.permalink_with_digest }}" target="_blank" rel="noopener">{{ viewer.permalink_with_digest | replace("https://", "") }}</a>
            </dd>
          {% elif bundle.publisher.kind == "Google" %}
            <dt>{% trans %}Service account{% endtrans %}</dt>
            <dd>{{ bundle.publisher.email }}</dd>
          {% endif %}
        </dl>
      </div>
      <div class="attestation__metadata">
        <div class="attestation__metadata-header">
          <span class="attestation__metadata-icon">
            {% if is_slsa %}
              <i class="fa-solid fa-gear" aria-hidden="true"></i>
            {% else %}
              <i class="fa-solid fa-circle-play" aria-hidden="true"></i>
            {% endif %}
          </span>
          <h5 class="attestation__metadata-title">{% if is_slsa %}{% trans %}Build{% endtrans %}{% else %}{% trans %}Workflow{% endtrans %}{% endif %}</h5>
        </div>
        <dl class="attestation__metadata-content">
          {% if viewer.workflow_filename and viewer.build_digest %}
            <dt>{% if is_slsa %}{% trans %}Build instructions{% endtrans %}{% else %}{% trans %}Publishing configuration{% endtrans %}{% endif %}</dt>
            <dd>
              <a href="{{ viewer.workflow_url }}" target="_blank" rel="noopener">{{ viewer.workflow_url | replace("https://", "") }}</a>
            </dd>
          {% endif %}
          {% if viewer.source_reference %}
            <dt>{% if is_slsa %}{% trans %}Build logs{% endtrans %}{% else %}{% trans %}Publishing logs{% endtrans %}{% endif %}</dt>
            <dd>
              <a href="{{ viewer.permalink_with_reference }}" target="_blank" rel="noopener">{{ viewer.permalink_with_reference | replace("https://", "") }}</a>
            </dd>
          {% endif %}
        </dl>
      </div>
      <div class="attestation__metadata">
        <div class="attestation__metadata-header">
          <span class="attestation__metadata-icon">
            <i class="fa-regular fa-file" aria-hidden="true"></i>
          </span>
          <h5 class="attestation__metadata-title">{% trans %}Artifact{% endtrans %}</h5>
        </div>
        <dl class="attestation__metadata-content">
          <dt>{% trans %}File{% endtrans %}</dt>
          <dd><code>{{ viewer.subject_name }}</code></dd>
          <dt>{% trans %}SHA-256 checksum{% endtrans %}</dt>
          <dd>
            <div class="attestation__checksum" data-controller="clipboard">
              <span data-clipboard-target="source">{{ viewer.subject_digest }}</span>
              <button type="button"
                      class="button button--small copy-tooltip copy-tooltip-w"
                      data-action="clipboard#copy"
                      data-clipboard-target="tooltip"
                      data-clipboard-tooltip-value="{% trans %}Copy to clipboard{% endtrans %}">
                <i class="fa-regular fa-copy" aria-hidden="true"></i>
              </button>
            </div>
            <a href="{{ request.user_docs_url('/attestations/consuming-attestations/') }}" target="_blank" rel="noopener">{% trans %}Verifying attestations{% endtrans %}</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
{% endmacro %}

<div id="{{ file.filename }}"
     data-project-tabs-target="content"
     role="tabpanel"
     aria-labelledby="file-tab"
     tabindex="-1">
  <h2 class="page-title">
    <a href="#files"
       data-project-tabs-target="tab"
       data-action="project-tabs#onTabClick">{% trans %}Release files{% endtrans %}</a>
    / {{ file.filename }}
  </h2>
  <table class="table table--information">
    <tbody>
      <tr>
        <th scope="row">{% trans %}Download URL{% endtrans %}</th>
        <td class="file-download">
          <a href="{{ request.route_url('packaging.file', path=file.path) }}">
            <i class="fa-regular fa-circle-down" aria-hidden="true"></i>
            <span>{{ file.filename }}</span>
          </a>
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans %}Size{% endtrans %}</th>
        <td>{{ file.size|filesizeformat() if file.size else 0|filesizeformat() }}</td>
      </tr>
      {% if file.pretty_wheel_tags %}
        <tr>
          <th scope="row">{% trans %}Tags{% endtrans %}</th>
          <td class="file-tags">
            {% for tag in file.pretty_wheel_tags %}
              {% if tag.lower() not in ['any', 'none'] %}
                <span class="badge badge--neutral badge--no-uppercase">{{ tag }}</span>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
      <tr data-controller="clipboard">
        <th scope="row">
          {% trans %}SHA-256 checksum{% endtrans %}
          <br>
          <a href="https://pip.pypa.io/en/stable/topics/secure-installs/#hash-checking-mode"
             title="{% trans %}External link{% endtrans %}"
             target="_blank"
             rel="noopener">{% trans %}How to use checksums{% endtrans %}</a>
        </th>
        <td class="file-checksum">
          <code data-clipboard-target="source">{{ file.sha256_digest }}</code>
          <button type="button"
                  class="button button--small copy-tooltip copy-tooltip-w"
                  data-action="clipboard#copy"
                  data-clipboard-target="tooltip"
                  data-clipboard-tooltip-value="{% trans %}Copy to clipboard{% endtrans %}">
            {% trans %}Copy{% endtrans %}
          </button>
        </td>
      </tr>
      <tr data-controller="clipboard">
        <th scope="row">
          {% trans %}BLAKE2b-256 checksum{% endtrans %}
          <br>
          <a href="https://pip.pypa.io/en/stable/topics/secure-installs/#hash-checking-mode"
             title="{% trans %}External link{% endtrans %}"
             target="_blank"
             rel="noopener">{% trans %}How to use checksums{% endtrans %}</a>
        </th>
        <td class="file-checksum">
          <code data-clipboard-target="source">{{ file.blake2_256_digest }}</code>
          <button type="button"
                  class="button button--small copy-tooltip copy-tooltip-w"
                  data-action="clipboard#copy"
                  data-clipboard-target="tooltip"
                  data-clipboard-tooltip-value="{% trans %}Copy to clipboard{% endtrans %}">
            {% trans %}Copy{% endtrans %}
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans %}Upload date{% endtrans %}</th>
        <td>{% trans upload_time=humanize(file.upload_time) %}{{ upload_time }}{% endtrans %}</td>
      </tr>
      <tr>
        <th scope="row">
          {% trans %}Uploaded using Trusted Publishing?{% endtrans %}
          <br>
          <a href="{{ request.user_docs_url('/trusted-publishers/') }}">{% trans %}What is trusted publishing?{% endtrans %}</a>
        </th>
        <td>
          {% if file.uploaded_via_trusted_publisher %}
            {% trans %}Yes{% endtrans %}
          {% else %}
            {% trans %}No{% endtrans %}
          {% endif %}
        </td>
      </tr>
      {% if file.uploaded_via %}
        <tr>
          <th scope="row">{% trans %}Uploaded via{% endtrans %}</th>
          <td>{{ file.uploaded_via }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% if file.provenance %}
    <h3>Provenance</h3>
    {% set provenance = file.provenance.as_model %}
    <p>
      <strong>Provenance</strong> describes where a file came from. On PyPI, provenance is shared via <strong>attestations</strong>, which provide a verifiable record of the build or publishing details. <a href="{{ request.user_docs_url('/attestations/') }}">View details, limitations and caveats.</a>
    </p>
    {% for bundle in provenance.attestation_bundles %}
      {% for attestation in bundle.attestations %}
        {% set viewer = PEP740AttestationViewer(bundle.publisher, attestation) %}
        {{ attestation_block(viewer, bundle, file, request) }}
        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}




        <!-- The following attestation bundles were made for <code>{{ file.filename }}</code>: -->


      <div class="file">
        <div class="file__graphic">
          <i class="fa-solid fa-file-circle-check" aria-hidden="true"></i>
        </div>
        <div class="card file__card">
          {{ publisher(bundle.publisher) }}
          Attestations:
          <small>
            <i>Values shown here reflect the state when the release was signed and may no longer be current.</i>
          </small>
          <ul>
            {% for attestation in bundle.attestations %}
              {% set viewer = PEP740AttestationViewer(bundle.publisher, attestation) %}
              <li>
                Statement:
                <ul>
                  <li>
                    Statement type: <a href="{{ viewer.statement_type }}"><code>{{ viewer.statement_type }}</code></a>
                  </li>
                  <li>
                    Predicate type: <a href="{{ viewer.predicate_type }}"><code>{{ viewer.predicate_type }}</code></a>
                  </li>
                  <li>
                    Subject name: <code>{{ viewer.subject_name }}</code>
                  </li>
                  <li>
                    Subject digest: <code>{{ viewer.subject_digest }}</code>
                  </li>
                  <li>
                    Sigstore transparency entry: <a href="https://search.sigstore.dev/?logIndex={{ viewer.transparency_entry.logIndex }}">{{ viewer.transparency_entry.logIndex }}</a>
                  </li>
                  <li>Sigstore integration time: {{ humanize(viewer.transparency_entry.integratedTime | int | ctime, time="true") }}</li>
                </ul>
                {% if bundle.publisher.repository %}
                  Source repository:
                  <ul>
                    <li>
                      Permalink: <a href="{{ viewer.permalink_with_digest }}">
                      <code>{{ bundle.publisher.repository }}@{{ viewer.source_digest }}</code>
                    </a>
                  </li>
                  <li>
                    Branch / Tag: <a href="{{ viewer.permalink_with_reference }}">
                    <code>{{ viewer.source_reference }}</code>
                  </a>
                </li>
                <li>
                  Owner: <a href="{{ viewer.owner }}">{{ viewer.owner }}</a>
                </li>
                <li>
                  Access: <code>{{ viewer.access }}</code>
                </li>
              </ul>
            {% endif %}
            Publication detail:
            <ul>
              <li>
                Token Issuer: <code>{{ viewer.issuer }}</code>
              </li>
              {% if viewer.publisher.kind == "Google" %}
                <li>
                  Service Account: <code>{{ viewer.publisher.email }}</code>
                </li>
              {% endif %}
              {% if viewer.environment %}
                <li>
                  Runner Environment: <code>{{ viewer.environment }}</code>
                </li>
              {% endif %}
              {% if viewer.workflow_filename and viewer.build_digest %}
                <li>
                  Publication workflow:
                  <a href="{{ viewer.workflow_url }}">
                    <code>{{ viewer.workflow_filename }}@{{ viewer.build_digest }}</code>
                  </a>
                </li>
              {% endif %}
              {% if viewer.trigger %}
                <li>
                  Trigger Event: <code>{{ viewer.trigger }}</code>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
