{# SPDX-License-Identifier: Apache-2.0 -#}
{% for message in request.session.pop_flash(queue="error") %}
  <div class="banner banner--danger banner--dismissable"
       data-controller="notification"
       data-notification-target="notification"
       role="alert">
    <div class="banner__container">
      <span class="banner__icon">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span class="sr-only">{% trans %}Error{% endtrans %}</span>
      </span>
      <span class="banner__message">{{ message }}</span>
      <button type="button"
              title="{% trans %}Dismiss this notification{% endtrans %}"
              data-notification-target="dismissButton"
              data-action="click->notification#dismiss"
              class="banner__dismiss"
              aria-label="{% trans %}Close{% endtrans %}">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
{% endfor %}
{% for message in request.session.pop_flash(queue="warning") %}
  <div class="banner banner--warning banner--dismissable"
       data-controller="notification"
       data-notification-target="notification"
       role="alert">
    <div class="banner__container">
      <span class="banner__icon">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        <span class="sr-only">{% trans %}Warning{% endtrans %}</span>
      </span>
      <span class="banner__message">{{ message }}</span>
      <button type="button"
              title="{% trans %}Dismiss this notification{% endtrans %}"
              data-notification-target="dismissButton"
              data-action="click->notification#dismiss"
              class="banner__dismiss"
              aria-label="{% trans %}Close{% endtrans %}">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
{% endfor %}
{% for message in request.session.pop_flash() %}
  <div class="banner banner--dismissable"
       data-controller="notification"
       data-notification-target="notification">
    <div class="banner__container">
      <span class="banner__message">{{ message }}</span>
      <button type="button"
              title="{% trans %}Dismiss this notification{% endtrans %}"
              data-notification-target="dismissButton"
              data-action="click->notification#dismiss"
              class="banner__dismiss"
              aria-label="{% trans %}Close{% endtrans %}">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
{% endfor %}
{% for message in request.session.pop_flash(queue="success") %}
  <div class="banner banner--success banner--dismissable"
       data-controller="notification"
       data-notification-target="notification"
       role="status">
    <div class="banner__container">
      <span class="banner__icon">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span class="sr-only">{% trans %}Success{% endtrans %}</span>
      </span>
      <span class="banner__message">{{ message }}</span>
      <button type="button"
              title="{% trans %}Dismiss this notification{% endtrans %}"
              data-notification-target="dismissButton"
              data-action="click->notification#dismiss"
              class="banner__dismiss"
              aria-label="{% trans %}Close{% endtrans %}">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
{% endfor %}
