{% macro recaptcha_html(request, form) -%}
  {% if request.find_service(name="recaptcha").enabled %}
  <div id="recaptcha-container"></div>
  {% if form.g_recaptcha_response.errors %}
  <ul class="errors">
    {% for error in form.g_recaptcha_response.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
{%- endmacro %}

{% macro recaptcha_src(request) -%}
  {% if request.find_service(name="recaptcha").enabled %}
    <script
      id="recaptcha-js"
      src="//www.google.com/recaptcha/api.js?onload=renderCaptcha&render=explicit"
      data-site-key="{{ request.registry.settings["recaptcha.site_key"] }}"
      async
      defer>
    </script>
  {% endif %}
{%- endmacro %}
