
{% set sponsors = [
  dict(
    name="Google",
    service="Object Storage and Download Analytics",
    url="https://careers.google.com/",
    image="google.png",
    activity=[
      "Google is a visionary sponsor of the Python Software Foundation."
    ],
    footer=true,
    psf_sponsor=true,
    infra_sponsor=true,
    one_time=false,
    sidebar=true,
  ),
  dict(
    name="Facebook / Instagram",
    url="https://research.fb.com/",
    image="facebook.png",
    activity=[
      "Facebook / Instagram is a sustainability sponsor of the Python Software Foundation."
    ],
    footer=true,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=true,
  ),
  dict(
    name="Salesforce",
    url="https://opensource.salesforce.com/",
    image="salesforce.png",
    activity=[
      "Salesforce is a sustainability sponsor of the Python Software Foundation."
    ],
    footer=true,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=true,
  ),
  dict(
    name="Bloomberg",
    url="https://www.techatbloomberg.com/",
    image="bloomberg.png",
    activity=[
      "Bloomberg is a maintaining sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Capital One",
    url="https://www.capitalone.com/tech/",
    image="capitalone.png",
    activity=[
      "Capital One is a maintaining sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=true,
  ),
  dict(
    name="Latacora",
    url="https://www.latacora.com",
    image="latacora.png",
    activity=[
      "Latacora is a contributing sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=true,
  ),
  dict(
    name="JetBrains",
    url="https://www.jetbrains.com/pycharm",
    image="jetbrains.png",
    activity=[
      "JetBrains is a supporting sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="LinkedIn",
    url="https://www.linkedin.com",
    image="linkedin.png",
    activity=[
      "LinkedIn is a supporting sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="OpenEDG Python Institute",
    url="https://pythoninstitute.org/",
    image="openEDG.png",
    activity=[
      "OpenEDG Python Institute is a supporting sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Mattermost",
    url="http://mattermost.com",
    image="mattermost.png",
    activity=[
      "Mattermost is a partner sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Novetta",
    url="https://mattermost.com",
    image="novetta.png",
    activity=[
      "Novetta is a partner sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Tidelift",
    url="https://tidelift.com/",
    image="tidelift.png",
    activity=[
      "Tidelift is a partner sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Real Python",
    url="https://realpython.com/",
    image="realpython.png",
    activity=[
      "Real Python is a participating sponsor of the Python Software Foundation."
    ],
    footer=false,
    psf_sponsor=true,
    infra_sponsor=false,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Pingdom",
    service="Monitoring",
    url="https://www.pingdom.com/",
    image="pingdom.png",
    activity=[
      "PyPI's infrastructure volunteers use Pingdom to monitor and receive alerts about downtime and other issues affecting end-users."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Sentry",
    service="Error logging",
    url="https://getsentry.com/for/python",
    image="sentry.png",
    activity=[
      "The PyPI team uses Sentry to capture, record, and respond to exceptions and errors on PyPI."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="AWS",
    service="Cloud computing",
    url="https://aws.amazon.com/",
    image="aws.png",
    activity=[
      "PyPI uses AWS infrastructure to host the machines that power our services, serve DNS, host our databases, and send and monitor email.",
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="DataDog",
    service="Monitoring",
    url="https://www.datadoghq.com/",
    image="datadog.png",
    activity=[
      "PyPI uses DataDog to collect metrics from the applications, services, and infrastructure behind the scenes allowing for the team to measure the impact of new changes, monitor for problems, and alert when systems fail."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Fastly",
    service="CDN",
    url="https://www.fastly.com/",
    image="fastly.png",
    activity=[
      "PyPI uses Fastly's CDN to quickly serve content to end-users, allowing us to minimize our hosting infrastructure and obscure possible downtime."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="DigiCert",
    service="EV certificate",
    url="https://www.digicert.com/",
    image="digicert.png",
    activity=[
      "PyPI uses Digicert to secure communication and prove identity with an EV Certificate."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="StatusPage",
    service="Status page",
    url="https://statuspage.io",
    image="statuspage.png",
    activity=[
      "The PyPI team uses StatusPage to communicate downtime, service degradation, or maintenance windows to end-users."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=true,
    one_time=false,
    sidebar=false,
  ),
  dict(
    name="Mozilla",
    url="https://www.mozilla.org",
    image="mozilla.png",
    activity=[
      "In late 2017 the Python Software Foundation was awarded a Mozilla Open Source Support (MOSS) award.",
      "This award was used to move PyPI from its legacy codebase and deploy Warehouse - the new codebase powering PyPI."
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=false,
    one_time=true,
    sidebar=false,
  ),
  dict(
    name="Open Technology Fund",
    url="https://www.opentech.fund",
    image="otf.png",
    activity=[
      "In 2019 the Python Software Foundation was awarded a contract through the OTF Core Infrastructure Fund.",
      "This contract included an audit and improvements to the accessibility of PyPI, internationalization and translations for PyPI user interface, and security features including two-factor authentication and API tokens for uploads.",
    ],
    footer=false,
    psf_sponsor=false,
    infra_sponsor=false,
    one_time=true,
    sidebar=false,
  ),
] %}
