/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/layout-utilities";

/*
  Logo and description found on the homepage:

  <div class="about-pypi">
    <div class="about-pypi__logo">
      // logo here
    </div>
    <div class="about-pypi__text">
      // content here
    </div>
  </div>
*/

.about-pypi {
  @include layout-utilities.split-table-layout;
  @include layout-utilities.site-container;
  table-layout: auto;
  max-width: 1000px;
  margin: 0 auto;

  &__logo {
    padding-top: 10px;
    padding-right: 50px;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      padding: 0;
    }

    img {
      width: 220px;
      max-width: 100%;
      margin: -(grid.$half-spacing-unit) 50px 0 0;

      @media only screen and (max-width: breakpoints.$small-tablet) {
        display: none;
      }
    }
  }

  &__text {
    text-align: left;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      display: block;
      width: 100%;
      margin-bottom: -10px;
    }
  }
}
