/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colors";

/*
  A wrapper that applies a diagonal stripe background to indicate admin-only UI.

  <div class="admin-include">
    // Admin-only content here (buttons, etc.)
  </div>
*/

.admin-include {
  padding: 0.5rem;
  background: repeating-linear-gradient(45deg, colors.$base-grey, colors.$base-grey 10px, color.adjust(colors.$danger-color, $alpha: -0.8) 10px, color.adjust(colors.$danger-color, $alpha: -0.8) 20px);

  justify-items: center;

  form {
    display: inline;
  }

  .button {
    margin: 0;
  }
}
