/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colours";

/*
  List with check marks, with items divided by a borer:

  <ul class="hooray-list">
    <li>List item here</li>
  </ul>
*/

.admin-include {
  padding: 0.5rem;
  background: repeating-linear-gradient(45deg, #ececec, #ececec 10px, color.adjust(colours.$danger-color, $alpha: -0.8) 10px, color.adjust(colours.$danger-color, $alpha: -0.8) 20px);

  justify-items: center;

  form {
    display: inline;
  }

  .button {
    margin: 0;
  }
}
