@use "../settings/breakpoints";
@use "../tools/layout-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A container for filters that are applied to a search result.
  Contains a button to toggle the filter menu on mobile:

  <div class="applied-filters">
    // Filters go here (see filter-badge for details)
    <span class="applied-filters__add-button">
      <button type="button" class="-js-add-filter button button--small">
        Add filter
      </button>
    </div>
  </div>
*/

.applied-filters {
  margin-top: 10px;
  margin-bottom: 15px;
  @include layout-utilities.clearfix;

  &__add-button {
    display: none;

    @media only screen and (max-width: breakpoints.$desktop) {
      display: inline-block;
      float: left;
    }
  }
}
