@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/typography";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A block of author information, found on the author profile sidebar.

  <div class="author-profile">
    // Avatar here (no class required)
    <div class="author-progile__info">
      <h1 class="author-profile__name">
        // Username
      </h1>
      <div class="author-profile__meta"
        <p>
          // Meta
        </p>
      </div>
      <a class="author-profile__edit-button">Edit Profile</a>
    </div>
  </div>
*/

.author-profile {
  padding-bottom: grid.$spacing-unit;

  @media only screen and (min-width: breakpoints.$desktop) {
    padding-right: grid.$spacing-unit;
  }

  @media only screen and (max-width: breakpoints.$desktop) and (min-width: breakpoints.$mobile) {
    padding: 0 0 (grid.$spacing-unit * 1.5);
    display: flex;
    align-items: flex-start;

    img {
      height: 175px;
      margin-right: grid.$spacing-unit;
    }
  }

  @media only screen and (max-width: breakpoints.$desktop) {
    &__info {
      padding-top: 0 !important;
    }
  }

  @media only screen and (max-width: breakpoints.$mobile) {
    img {
      display: none;
      margin-right: 0;
    }
  }

  &__info {
    padding-top: grid.$spacing-unit;
    word-wrap: break-word;
  }

  &__name {
    @include typography.h2;
    padding: 0 0 grid.$half-spacing-unit;
    word-wrap: break-word;

    @media only screen and (max-width: breakpoints.$desktop) {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__meta {
    margin-bottom: grid.$spacing-unit;
    word-wrap: break-word;
  }

  &__metadiv {
    margin-bottom: grid.$half-spacing-unit;
    word-wrap: break-word;
  }

  &__edit-button {
    margin-bottom: grid.$spacing-unit;
    width: 100%;
    text-align: center;
  }
}
