/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colors";
@use "../settings/fonts";

/*
  A badge for highlighting important information.
  Use for small strings, or numbers.

  <span class="badge">Contributor</span>
  or
  <a class="badge">Sole owner</a>

  Modifiers:
    - neutral: Light grey background with dark text
    - dark: Dark grey background
    - light: Light blue background with dark text
    - success: Green background
    - warning: Orange background
    - danger: Red background
    - key-dates: Adjusts spacing for use in the key dates sidebar section
*/

.badge {
  font-size: fonts.$small-font-size;
  letter-spacing: 0.02rem;
  margin-left: 0.3rem;
  vertical-align: 0.15rem;
  text-transform: uppercase;
  border: 1px solid colors.$primary-color;
  background-color: colors.$primary-color;
  color: colors.$white;
  padding: 1px 8px;
  border-radius: 3px;
  font-weight: 600;
  white-space: nowrap;

  .fa {
    margin-right: 0.4em;
  }

  &:hover {
    color: colors.$white;
  }

  &:focus,
  &:active {
    border-color: colors.$white;
    outline: 1px solid colors.$primary-color;
  }

  &--neutral {
    background-color: colors.$base-grey;
    border-color: colors.$base-grey;
    color: color.adjust(colors.$base-grey, $lightness: -50%);

    &:hover {
      color: color.adjust(colors.$base-grey, $lightness: -60%);
    }

    &:focus,
    &:active {
      outline: 1px solid color.adjust(colors.$base-grey, $lightness: -50%);
    }
  }

  &--dark {
    background-color: colors.$text-color;
    border-color: colors.$text-color;

    &:focus,
    &:active {
      outline: 1px solid colors.$text-color;
    }
  }

  &--light {
    background-color: color.adjust(colors.$primary-color-light-border, $lightness: -9%);
    border-color: color.adjust(colors.$primary-color-light-border, $lightness: -10%);
    color: colors.$text-color;

    &:hover {
      color: colors.$text-color;
    }

    &:focus,
    &:active {
      outline: 1px solid colors.$text-color;
    }
  }

  &--success {
    background-color: colors.$success-color;
    border-color: colors.$success-color;

    &:focus,
    &:active {
      outline: 1px solid colors.$success-color;
    }
  }

  &--warning {
    background-color: colors.$warning-color;
    border-color: colors.$warning-color;

    &:focus,
    &:active {
      outline: 1px solid colors.$warning-color;
    }
  }

  &--danger {
    background-color: colors.$danger-color;
    border-color: colors.$danger-color;

    &:focus,
    &:active {
      outline: 1px solid colors.$danger-color;
    }
  }

  &--key-dates {
    display: inline-block;
    margin-top: 0.8em;
    margin-left: 0;
  }

}
