@use "sass:color";
@use "../settings/colours";
@use "../tools/link-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A badge for highlighting important information.
  Use for small strings, or numbers.

  <span class="badge">Contributor</span>
  or
  <a class="badge">Sole owner</span>
*/

.badge {
  font-size: 0.7em;
  margin-left: 0.5em;
  vertical-align: 0.15em;
  text-transform: uppercase;
  border: 1px solid colours.$primary-color;
  background-color: colours.$primary-color;
  color: colours.$white;
  padding: 0 7px;
  border-radius: 3px;
  font-weight: 600;
  white-space: nowrap;
  @include link-utilities.link-without-underline;

  .fa {
    margin-right: 0.4em;
  }

  &:hover {
    color: colours.$white;
  }

  &:focus,
  &:active {
    border-color: colours.$white;
    outline: 1px solid colours.$primary-color;
  }

  &--success {
    background-color: colours.$success-color;
    border-color: colours.$success-color;

    &:focus,
    &:active {
      outline: 1px solid colours.$success-color;
    }
  }

  &--danger {
    background-color: colours.$danger-color;
    border-color: colours.$danger-color;

    &:focus,
    &:active {
      outline: 1px solid colours.$danger-color;
    }
  }

  &--warning {
    background-color: colours.$warning-background-color;
    border-color: colours.$warning-background-color;
    color: colours.$warning-color;

    &:hover {
      color: colours.$warning-color;
    }

    &:focus,
    &:active {
      outline: 1px solid colours.$warning-color;
    }
  }

  &--neutral {
    background-color: colours.$base-grey;
    border-color: colours.$base-grey;
    color: color.adjust(colours.$base-grey, $lightness: -50%);

    &:hover {
      color: color.adjust(colours.$base-grey, $lightness: -60%);
    }

    &:focus,
    &:active {
      outline: 1px solid color.adjust(colours.$base-grey, $lightness: -50%);
    }
  }
}

a.badge {
  text-decoration: underline;
}
