/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/grid";
@use "../tools/layout-utilities";
@use "../tools/link-utilities";

/*
  Navigation breadcrumbs.

  <nav aria-label="Breadcrumb" class="breadcrumbs">
    <ul>
      <li class="breadcrumbs__breadcrumb"></li>
      <li class="breadcrumbs__breadcrumb"></li>
    </ul>
  </nav>
*/


.breadcrumbs {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: grid.$half-spacing-unit;
  margin-top: grid.$spacing-unit;
  padding-left: grid.$half-spacing-unit;
  padding-right: grid.$half-spacing-unit;

  + div {
    margin-top: grid.$half-spacing-unit;
  }

  @media only screen and (max-width: breakpoints.$tablet) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    @include layout-utilities.clearfix;
  }

  &__breadcrumb {
    color: color.grayscale(colours.$primary-color);
    display: inline-block;
    float: left;
    list-style-type: none;

    &:first-child {
      color: colours.$text-color;
    }

    a {
      @include link-utilities.link-without-underline;
    }

    .fa {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }

    &:not(:last-child)::after {
      content: "\f054";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-left: 4px;
      margin-right: 6px;
      color: colours.$light-grey;
      font-size: 12px;
    }
  }
}
