@use "sass:color";
@use "sass:list";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../settings/z-index";
@use "../tools/link-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A button:

  <a class="button">Button</a>
  <input type="submit" class="button">Button</a>
  <button type="button" class="button">Button</button>

  Modifiers:
    - small: Makes button small.
    - full-width: Makes button full width of parent container.
    - primary: Makes button bright blue.
    - danger: Makes button red.
    - warning: Makes button brown.
    - disabled: Styles for when the button cannot be clicked.
    - switch-to-desktop: Switch to desktop button found in site footer.
    - switch-to-mobile: Switch to mobile button found in site header.

  Accessibility:
    - All <button> elements should have a `type` defined
*/

.button {
  position: relative;
  font-weight: fonts.$bold-font-weight;
  cursor: pointer;
  padding: 8.5px grid.$half-spacing-unit;
  background-color: transparent;
  color: color.adjust(colours.$text-color, $lightness: 10);
  border: 1px solid colours.$accessible-border-color;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  @include link-utilities.link-without-underline;

  i.fa {
    position: relative;
    top: 2px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: colours.$primary-color;
    color: color.adjust(colours.$primary-color, $lightness: -10);
    z-index: list.index(z-index.$z-index-scale, "active-button"); // Needed for button groups
    outline: none;
  }

  &--small {
    font-size: fonts.$small-font-size;
    padding: 6px 8px;
  }

  &--full-width {
    width: 100%;
  }

  &--primary {
    border-color: colours.$primary-color;
    background-color: colours.$primary-color;
    color: colours.$white;
    z-index: list.index(z-index.$z-index-scale, "primary-button"); // Needed for button groups

    &:hover,
    &:active,
    &:focus {
      border-color: color.adjust(colours.$primary-color, $lightness: -10);
      background-color: color.adjust(colours.$primary-color, $lightness: -9);
      text-decoration-color: color.adjust(colours.$white, $alpha: -0.8);
      color: colours.$white;
    }

    &:active,
    &:focus {
      border-color: colours.$white;
      @include link-utilities.link-focus-state(colours.$primary-color);
    }
  }

  &--tertiary {
    border-color: colours.$light-grey;
    background-color: colours.$white;
  }

  &--danger {
    border-color: colours.$danger-color;
    background-color: colours.$danger-color;
    color: colours.$white;

    &:focus,
    &:hover,
    &:active {
      border-color: color.adjust(colours.$danger-color, $lightness: -5);
      background-color: color.adjust(colours.$danger-color, $lightness: -4);
      text-decoration-color: color.adjust(colours.$white, $alpha: -0.8);
      color: colours.$white;
    }

    &:active,
    &:focus {
      border-color: colours.$white;
      @include link-utilities.link-focus-state(colours.$danger-color);
    }
  }

  &--warning {
    border-color: colours.$warning-color;
    background-color: colours.$warning-color;
    color: colours.$white;

    &:focus,
    &:hover,
    &:active {
      border-color: color.adjust(colours.$warning-color, $lightness: -5);
      background-color: color.adjust(colours.$warning-color, $lightness: -4);
      text-decoration-color: color.adjust(colours.$white, $alpha: -0.8);
      color: colours.$white;
    }

    &:active,
    &:focus {
      border-color: colours.$white;
      @include link-utilities.link-focus-state(colours.$warning-color);
    }
  }

  &[disabled],
  &--disabled {
    cursor: not-allowed;
    background-color: color.adjust(colours.$background-color, $lightness: -5%);
    border-color: color.adjust(colours.$background-color, $lightness: -5%);
    color: color.adjust(colours.$background-color, $lightness: -12%);
    text-decoration: line-through;
    pointer-events: auto;

    &:focus,
    &:hover,
    &:active {
      background-color: color.adjust(colours.$background-color, $lightness: -5%);
      border-color: color.adjust(colours.$background-color, $lightness: -5%);
      color: color.adjust(colours.$background-color, $lightness: -12%);
      outline: none;
    }
  }

  &--switch-to-desktop {
    border-color: color.adjust(colours.$white, $alpha: -0.3);
    color: colours.$white;
    margin: grid.$spacing-unit auto 0;

    &:hover,
    &:focus,
    &:active {
      border-color: colours.$white;
      color: colours.$white;
    }
  }

  &--switch-to-mobile {
    font-size: 500%;
    padding: 40px;
    height: auto;
    margin: 25px;
    border-radius: 25px;
    width: calc(100% - 50px);
  }
}
