/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/grid";
@use "../tools/typography";

/*
  A heading aligned in the center, with a sub title and horziontal rule:

  <div class="centered-heading">
    <h1 class="centered-heading__title">Title</h1>
    <p class="centered-heading__subtitle">Subtitle</p>
    <hr class="centered-heading__rule">
  </div>
*/

.centered-heading {
  text-align: center;

  &__title {
    @include typography.h1-title;
    padding-bottom: 0;
  }

  &__rule {
    max-width: 300px;
    margin: grid.$half-spacing-unit auto (grid.$spacing-unit * 2);
    background: colours.$base-grey;

    @media only screen and (max-width: breakpoints.$tablet) {
      display: none;
    }
  }
}
