/*
  A tree of checkboxes with sub levels. Level padding is added with html spaces.

  <div class="checkbox-tree">
    <div class="checkbox-tree__item"
      <input class="checkbox-tree__checkbox">
      <label class="checkbox-tree__label"></label>
    </div>
  </div>
*/

.checkbox-tree{
  &__item {
    padding: 2px 0;
  }

  &__checkbox {
    position: relative;
    top: 3px;
  }

  &__label {
    font-size: $small-font-size;
    cursor: pointer;
    line-height: 1;
  }
}
