/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/grid";

/*
A custom styled code block.

 <code class="code-block">
   Code here
 </code>

 <pre class="code-block">
   Code here
 </pre>

Modifiers:
  - tight: Reduces the block's padding.
  - with-copy: tight, with a copy-to-clipboard button.
*/

.code-block {
  display: block;
  padding: grid.$half-spacing-unit;
  margin-bottom: grid.$half-spacing-unit;
  word-break: break-all;
  direction: ltr;
  overflow-x: auto;
}

.code-block--tight {
  padding: grid.$quarter-spacing-unit;
}

.code-block--with-copy {
  display: inline-flex;
  align-items: center;
  gap: grid.$quarter-spacing-unit;
  padding: grid.$quarter-spacing-unit;

  span {
    flex: 1;
    min-width: 0;
    word-break: break-all;
  }

  .button {
    padding: 2px 4px;
    border: 0;
    flex-shrink: 0;
  }
}
