/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/grid";

/*
A custom styled code block.

 <code class="code-block">
   Code here
 </code>

 <pre class="code-block">
   Code here
 </pre>
*/

.code-block {
  display: block;
  padding: grid.$half-spacing-unit;
  margin-bottom: grid.$half-spacing-unit;
  word-break: break-all;
  direction: ltr;
  overflow-x: auto;
}
