/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../settings/breakpoints";

/*
  Search and filter wheels

  <div class="filter-wheels">
    <div class="wheel-filters__search">
      Search bar here
    </div>
    <div class="wheel-filters__filters">
      Filters here
    </div>
  </div>
*/

.filter-wheels {
  display: flex;
  gap: grid.$spacing-unit / 2;
  justify-content: space-between;

  @media only screen and (max-width: breakpoints.$tablet) {
    flex-wrap: wrap;
  }

  &__search {
    flex-grow: 1;

    .form-group input {
      height: 40px;
    }

    @media only screen and (max-width: breakpoints.$tablet) {
      width: 100%;
    }
  }

  &__filters {
    flex: 0 1 auto;
    flex-shrink: 0;
    display: flex;
    gap: grid.$spacing-unit / 3;
    align-items: flex-end;

    div {
      flex: 0 1 auto;
    }

    @media only screen and (max-width: breakpoints.$tablet) {
      width: 100%;
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      display: block;
    }
  }
}
