@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/grid";
@use "../tools/link-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  Footer:

  <div class="footer">
    <div class="footer__icon">
      // footer icon image goes here
    </div>
    <div class="footer__menus"> // menu wrapper
      <div class="footer__menu">
        // H2: Menu title
        <nav aria-label="menu label">
          <ul>
            <li><a>Menu Link</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <hr class="footer__divider">

    <div class="footer__text">
      // copyright, disclaimers,etc.
    </div>
  </div>
*/

.footer {
  background-color: color.adjust(colours.$primary-color, $lightness: 2%);
  color: colours.$white;
  padding: 60px 0;
  width: 100%;

  @media only screen and (max-width: breakpoints.$mobile) {
    padding-top: 40px 0;
  }

  &__logo {
    margin-bottom: grid.$spacing-unit;
    text-align: center;
  }

  &__menus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: grid.$spacing-unit;

    @media only screen and (max-width: breakpoints.$mobile) {
      margin-bottom: 10px;
    }
  }

  &__menu {
    flex-basis: 220px;
    flex-shrink: 0;
    margin: 0 grid.$half-spacing-unit 40px;
    padding: 0;

    h2 {
      color: colours.$white;
      margin-bottom: 5px;
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      padding: 2px 0;
      list-style: none;
      text-align: center;

      a {
        text-decoration: none;
        @include link-utilities.white-underlined-link;
      }
    }
  }

  &__divider {
    border: 1px solid color.adjust(colours.$white, $alpha: -0.7);
    margin: 0 auto grid.$spacing-unit;
    width: 200px;
    background: none;
    height: 0;
  }

  &__text {
    color: color.adjust(colours.$white, $alpha: -0.05);
    font-size: 0.9rem;
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding: 0 20px;

    a {
      @include link-utilities.white-underlined-link;
    }
  }
}
