/* SPDX-License-Identifier: Apache-2.0 */

/*
  A heading with a subtitle nested directly underneath:

  <div class="heading-wsubtitle">
    <h2 class="heading-wsubtitle__heading">Heading</h2>
    <p class="heading-wsubtitle__subtitle">Subtitle</p>
  </div>

  Modifiers:
   - in-content: restore heading spacing for instances where heading is not
     at the top of the page
*/

.heading-wsubtitle {
  &__heading {
    padding-bottom: 5px;
  }

  &__subtitle {
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 15px;
    padding-top: 0;
  }

  &--in-content {
    .heading-wsubtitle__heading {
      padding-top: 30px;
    }
  }
}
