/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/link-utilities";

/*
  Layout for warehouse's homepage banner:

  <div class="homepage-banner">
    <h1 class="homepage-banner__title">
      // Title here
    </h1>

    // Search here

    <p class="homepage-banner__browse">
      <a> // Browse link here </a>
    </p>
  </div>
*/

.homepage-banner {
  text-align: center;

  &__title {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 20px 40px;

    @media only screen and (max-width: breakpoints.$mobile) {
      padding: 0 10px grid.$spacing-unit;
    }
  }

  &__browse {
    font-size: 1.2rem;
    margin: grid.$spacing-unit 0 10px 0;

    a {
      @include link-utilities.white-underlined-link;
    }
  }
}
