/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colors";

.horizontal-tabs {
  margin-top: 30px;

  &__tabbar {
    overflow: hidden;
    border: 1px solid colors.$border-color;
    background-color: colors.$off-white;

    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;

      &:hover {
        background-color: color.adjust(colors.$off-white, $lightness: -10%);
      }

      &.is-active {
        background-color: colors.$primary-color;
        color: colors.$white;
      }
    }
  }

  &__tabcontent {
    display: block;
    padding: 20px;
    border: 1px solid colors.$border-color;
    border-top: none;

    &.is-hidden {
      display: none;
    }
  }
}
