/* SPDX-License-Identifier: Apache-2.0 */

.horizontal-tabs {
  margin-top: 30px;

  &__tabbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;

      &:hover {
        background-color: #ddd;
      }

      &.is-active {
        background-color: #006dad;
        color: #fff;
      }
    }
  }

  &__tabcontent {
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;

    &.is-hidden {
      display: none;
    }
  }
}
