/* SPDX-License-Identifier: Apache-2.0 */

/*
  Language switcher found on the site footer.

  <div class="language-switcher">
    <ul>
      <li><button type="button" class="language-swticher__selected">Selected language</button><li>
      <li><button type="button">Other language</button></li>
    </ul>
  </div>
*/

.language-switcher {
  background-color: lighten($primary-color, 1);
  border-top: 1px solid darken($primary-color, 2);
  color: $white;
  padding: $half-spacing-unit 0;
  width: 100%;
  text-align: center;
  font-size: $small-font-size;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 $quarter-spacing-unit;
    }

    button {
      color: $white;
      border: 0;
      background-color: transparent;
      padding: 0;
      text-decoration: underline;
      @include white-underlined-link;
    }

    button.language-switcher__selected {
      pointer-events: none;
      @include link-without-underline;

      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f105"#{'/*rtl:"\f104"*/'};
        margin-right: 4px;
        color: $white;
        position: relative;
        top: 0.5px;
      }
    }
  }
}
