@use "sass:color";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../tools/link-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  Language switcher found on the site footer.

  <div class="language-switcher">
    <ul>
      <li><button type="button" class="language-swticher__selected">Selected language</button><li>
      <li><button type="button">Other language</button></li>
    </ul>
  </div>
*/

.language-switcher {
  background-color: color.adjust(colours.$primary-color, $lightness: 1);
  border-top: 1px solid color.adjust(colours.$primary-color, $lightness: -2);
  color: colours.$white;
  padding: grid.$half-spacing-unit 0;
  width: 100%;
  text-align: center;
  font-size: fonts.$small-font-size;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 grid.$quarter-spacing-unit;
    }

    button {
      color: colours.$white;
      border: 0;
      background-color: transparent;
      padding: 0;
      text-decoration: underline;
      @include link-utilities.white-underlined-link;
    }

    button.language-switcher__selected {
      pointer-events: none;
      @include link-utilities.link-without-underline;

      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f105"#{'/*rtl:"\f104"*/'};
        margin-right: 4px;
        color: colours.$white;
        position: relative;
        top: 0.5px;
      }
    }
  }
}
