/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/colours";
@use "../settings/fonts";

/*
  A lede paragraph.  Use to highlight important sections in the text.

  <p class="lede-paragraph">I will be larger than my counterparts</p>
*/

.lede-paragraph {
  font-weight: fonts.$bold-font-weight;
  font-size: 1.2rem;
  color: color.adjust(colours.$text-color, $lightness: 10%);
}
