/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colors";
@use "../settings/grid";
@use "../settings/fonts";
@use "../tools/link-utilities";

/*
  Legal footer:

  <div class="legal-footer">
    <div class="legal-footer__inner">
      <ul class="legal-footer__meta">...</ul>  // trademark, copyright, sitemap, deploy sha
    </div>
  </div>
*/

.legal-footer {
  width: 100%;
  border-top: 1px solid color.adjust(colors.$primary-color, $lightness: -2%);
  background-color: colors.$header-background-color;
  color: colors.$white;
  font-size: fonts.$small-font-size;

  &__inner {
    max-width: grid.$site-container;
    padding: grid.$half-spacing-unit grid.$spacing-unit;
    margin: 0 auto;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      padding: grid.$half-spacing-unit;
      text-align: center;
    }
  }

  &__meta {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: grid.$half-spacing-unit;

      a {
        @include link-utilities.white-underlined-link;
      }
    }
  }
}
