/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";

/*
  Container for mobile search bar.

  <div class="mobile-search"></div>
*/

.mobile-search {
  display: none;
  padding: 10px;
  background-color: color.adjust(colours.$primary-color, $lightness: -5%);

  @media screen and (max-width: breakpoints.$tablet) {
    display: block;
  }
}
