/* SPDX-License-Identifier: Apache-2.0 */

/*
  Styling for the font-awesome icons used in Organization management pages.
  The FontAwesome icons are used to indicate the permissions available to a role
  in a table, so are narrowly scoped to prevent conflicts with other icons.

  <tbody class="org-roles">
    <tr>
      <td>
        <i class="fa fa-square-check"></i>
      </td>
      <td>
        <i class="fa fa-square-check"></i>
      </td>
      <td>
        <i class="fa fa-xmark"></i>
      </td>
    </tr>
   </tbody>

 */

tbody.org-roles > tr > td {
  text-align: center;

  .fa-square-check {
    color: green;
  }

  .fa-xmark {
    color: red;
  }
}
