/* SPDX-License-Identifier: Apache-2.0 */

@use "snippet";

/*
  A card that contains information about a package. Often found in package lists.
  The card can be an "a" or "div" element, but if it contains a link, choosing
  a top-level "a" element is recommended for accessibility reasons.

  <a class="package-snippet" href="/link/to/target">
    <h3 class="package-snippet__title">
      // Package title
      <span class="package-snippet__version">// Version</span> // Optional!
    </h3>
    <p class="package-snippet__description">// Description</p>
  </a>
*/

.package-snippet {
  @include snippet.snippet(url("../images/white-cubes.png"), url("../images/white-cubes.svg"));
}
