/*
  A horizontal bar on the package detail page that includes the main links
  for each page.

  <div class="package-links">
    <nav class="horizontal-menu package-links__horizontal-menu">
      // package links
    </nav>
  </div>
*/

.package-links {
  display: table;
  width: 100%;

  @media only screen and (max-width: $large-desktop){
     display: block;
  }

  &__horizontal-menu {
    list-style-type: none;
    display: table-cell;
    margin: 0;

    @media only screen and (max-width: $large-desktop){
       display: block;
    }
  }
}
