/* SPDX-License-Identifier: Apache-2.0 */

/*
  The  description on the package detail page.

  <div class="package-description">
    <p class="package-description__summary">Summary here</p>
    <a class="package-description__edit-button">Optional edit button for package maintainers</a>
  </div>
*/

.package-description {
  direction: ltr;
  min-height: 58px;
  margin-top: -10px;

  &__summary {
    font-size: 1.1rem;
    padding: 0;
    margin-top: 10px;
  }

  &__edit-button {
    margin-top: 10px;
  }
}
