/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../tools/layout-utilities";
@use "../tools/link-utilities";

/*
  The  main header of a project detail page. Contains key project information
  including name, description, license, etc.

  This block assumes it is placed inside a dark container.

  <div class="project-header">
    <h1 class="project-header__name"></h1>
    <p class="project-header__summary"></p>
    <p class="project-header__pip-instructions">
      <span>// pip instructions</span>
      <button><i></i></button> // copy icon
    </p>
  </div>
*/

.project-header {
  @include layout-utilities.site-container;

  &__name {
    padding: 0;
    margin-top: -10px;
  }

  &__summary {
    padding: 10px 0;
  }

  &__pip-instructions {
    margin-top: 10px;
    padding-bottom: 0;

    span {
      font-family: fonts.$code-font;
      font-weight: 500;
      font-size: 1rem;
      float: left;
      background-color: color.adjust(colours.$black, $alpha: -0.85);
      padding: 8px;
      border: 1px dotted colours.$transparent-white;
      line-height: grid.$spacing-unit;

      @media only screen and (max-width: breakpoints.$tablet) {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: breakpoints.$mobile) {
        font-size: 1rem;
      }
    }

    button {
      color: colours.$white;
      line-height: grid.$spacing-unit;
      float: left;
      cursor: pointer;
      padding: 8px grid.$half-spacing-unit;
      background-color: color.adjust(colours.$black, $alpha: -0.85);
      border-right: 1px dotted colours.$transparent-white;
      border-top: 1px dotted colours.$transparent-white;
      border-bottom: 1px dotted colours.$transparent-white;
      border-left: 1px;

      &:hover {
        background-color: color.adjust(colours.$black, $alpha: -0.8);
      }

      @include link-utilities.link-focus-state(colours.$white);
    }
  }
}

.banner--archived {
  .project-header__pip-instructions {
    span {
      background-color: color.adjust(colours.$base-grey, $lightness: -2%);
      color: colours.$text-color;
      border-color: colours.$border-color;
    }

    button {
      background-color: color.adjust(colours.$base-grey, $lightness: -2%);
      color: colours.$text-color;
      border-color: colours.$border-color;

      &:hover {
        background-color: color.adjust(colours.$base-grey, $lightness: -10%);
      }
    }
  }
}
