/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "sass:list";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../settings/z-index";
@use "../tools/design-utilities";
@use "../tools/layout-utilities";

/*
  Individual release information represented as a card with meta data

  <div class="release">
    <div class="release__meta">
      // Badge here
    </div>
    <div class="release__graphic"> // Node graphic with connecting line
      <div class="release__line"></div>
      <img class="release__node">
    </div>
    <a class="release__card" href="/link/to/version">
      <p class="release__version"></p>
      <p class="release__version-date"></p>
    </a>
  </div>

  Modifiers:
    - current: adds grey background to current release
    - latest: prevents release__line from showing above
    - oldest: precents release__line from showing below
*/

.release {
  @include layout-utilities.clearfix;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-left: 1px solid colours.$background-color;
  padding: 0 grid.$half-spacing-unit;

  &__meta {
    width: 110px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & > .badge {
      float: right;
    }

    @media screen and (max-width: breakpoints.$tablet) {
      & > .badge {
        float: left;
        margin-right: 10px;
      }
    }

    @media screen and (max-width: breakpoints.$mobile) {
      display: none;
    }
  }

  &__graphic {
    width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;

    @media screen and (max-width: breakpoints.$tablet) {
      display: none;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: list.index(z-index.$z-index-scale, "history-line");
    background: url("../images/history-line.png") repeat-y 50% 50%;
  }

  &__node {
    background-color: colours.$background-color;
    padding: 7px 0;
    position: relative;
    z-index: list.index(z-index.$z-index-scale, "history-node");
  }

  &__card {
    display: block;
    @include design-utilities.card;
    padding: grid.$half-spacing-unit;
    margin: grid.$half-spacing-unit 0;
  }

  &__version {
    padding-bottom: 0;
    font-size: 1.25rem;
    font-weight: fonts.$bold-font-weight;
  }

  &__version-date {
    padding-bottom: 2px;
  }

  &__yanked-reason {
    display: block;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--current {
    background-color: color.adjust(colours.$background-color, $lightness: -1%);
    border: 1px dotted #ccc;

    .release__node {
      background-color: color.adjust(colours.$background-color, $lightness: -1%);
    }

    .release__card {
      background-color: colours.$white;
      box-shadow: 1px 1px 2px 1px color.adjust(colours.$black, $alpha: -0.95);
    }
  }

  &--latest,
  &--oldest {
    .release__line {
      height: 50%;
    }
  }

  &--oldest {
    .release__line {
      bottom: auto;
      top: 0;
    }
  }
}
