/* SPDX-License-Identifier: Apache-2.0 */

/*
  Container for release timeline.

  <div class="release-timeline">
    // Timeline here
  </div>
*/

.release-timeline {
  margin-top: 5px;

  .release:first-child,
  .release:last-child {
    .release__line {
      height: 50%;
    }
  }

  .release:last-child {
    .release__line {
      bottom: auto;
      top: 0;
    }
  }
}
