/*
  The site header.

  <header class="site-header">
    <a class="site-header__logo"></a>
  </header>
*/

.site-header {
  background-color: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  &__logo{
    padding: ($spacing-unit / 2) 0;
    max-width: 65px;
    float: left;

    @media screen and (max-width: $small-tablet) {
      max-width: 50px;
    }
  }
}
