/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/grid";
@use "../tools/link-utilities";

/*
  The site header.

  <header class="site-header">
    <a class="site-header__logo"></a>
  </header>

  Modifiers:
    - test-pypi: Adds a 'testing' image in the bg for test PyPI
*/

.site-header {
  background-color: colours.$header-background-color;
  background-repeat: repeat;
  background-position: 0 50%;
  border-bottom: 1px solid colours.$header-border-color;

  &__logo {
    padding: grid.$half-spacing-unit 0;
    max-width: 65px;
    float: left;
    @include link-utilities.link-without-underline;
    @include link-utilities.link-focus-state(colours.$white);

    @media screen and (max-width: breakpoints.$small-tablet) {
      max-width: 50px;
    }
  }

  &--test-pypi {
    background-image: url("../images/testing.png");
  }

  &--dev-pypi {
    background-image: url("../images/dev.png");
  }
}
