/* SPDX-License-Identifier: Apache-2.0 */

/*
  Skip to content link for keyboard users.
  Must be the first item inside the page body.
  <a href="#content" class="skip-to-content">Skip to main content</a>
 */

.skip-to-content {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: index($z-index-scale, "skip-to-content");
  @include link-without-underline;

  &:focus {
    top: 7px;
    left: 7px;
    width: auto;
    height: auto;
    line-height: 1;
    padding: $half-spacing-unit;
    color: $primary-color;
    font-weight: $bold-font-weight;
    background-color: $white;
  }
}
