/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:list";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../settings/z-index";
@use "../tools/link-utilities";

/*
  Skip to content link for keyboard users.
  Must be the first item inside the page body.
  <a href="#content" class="skip-to-content">Skip to main content</a>
 */

.skip-to-content {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: list.index(z-index.$z-index-scale, "skip-to-content");
  @include link-utilities.link-without-underline;

  &:focus {
    top: 7px;
    left: 7px;
    width: auto;
    height: auto;
    line-height: 1;
    padding: grid.$half-spacing-unit;
    color: colours.$primary-color;
    font-weight: fonts.$bold-font-weight;
    background-color: colours.$white;
  }
}
