@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/grid";
@use "../tools/link-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  The sponsor footer.

  <div class="sponsors">
    <p class="sponsors__title">
      // Title
    </p>
    <div class="sponsors__divider"></div>

    <a class="sponsors__sponsor">
      <img class="sponsors__image">
      <span class="sponsors__name"></span>
      <span class="sponsors__service"></span>
    </a>
  </div>
*/

.sponsors {
  text-align: center;
  border-top: 1px solid color.adjust(colours.$primary-color, $lightness: -2);
  background-color: colours.$primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // place the entire div in center page
  padding: grid.$half-spacing-unit;

  &__title {
    display: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid color.adjust(colours.$white, $alpha: -0.8);
    color: colours.$white;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      display: block;
      flex: 1;
    }
  }

  &__divider {
    flex-basis: 100%;
    height: 0;
  }

  &__sponsor {
    display: inline-grid;
    grid-template-rows: fit-content(40%);
    text-align: center;
    padding: grid.$half-spacing-unit 13px 10px 13px;
    opacity: 0.95;
    @include link-utilities.link-without-underline;
    @include link-utilities.link-focus-state(colours.$white);

    &:hover {
      opacity: 1;

      .sponsors__image {
        opacity: 1;
      }
    }

    @media only screen and (max-width: breakpoints.$tablet) {
      padding: 7px 10px;
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      padding: 5px 7px;
    }
  }

  &__image {
    justify-self: center;
    max-width: 100px;
    opacity: 0.8;

    @media only screen and (max-width: breakpoints.$tablet) {
      display: none;
    }
  }

  &__name,
  &__service {
    max-width: 100px;
    align-self: end;
    font-size: 0.75rem;
    color: colours.$white;
  }

  &__name {
    font-weight: 600;
    margin-top: 10px;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      margin: 0;
      font-weight: normal;
    }
  }

  &__service {
    @media only screen and (max-width: breakpoints.$small-tablet) {
      display: none;
    }
  }
}
