/* SPDX-License-Identifier: Apache-2.0 */

/*
  <div class="sponsorship-benefits">
    <div class="sponsorship-benefits__benefit">
    // Benefit text here
    </div>
  </div>
*/

.sponsorship-benefits {
  display: flex;

  @media only screen and (max-width: $desktop) {
    display: block;
    padding: $spacing-unit 0 0;
  }

  &__benefit {
    width: 33%;
    padding: $spacing-unit;

    @media only screen and (max-width: $desktop) {
      width: 100%;
      padding: 0 0 $spacing-unit;
    }
  }
}
