/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/typography";

/*
  <div class="sponsorship-intro">
    <div class="sponsorship-intro__text">
    // Intro text here
    </div>
    <div class="sponsorship-intro__donations">
      // donations box here
    </div>
  </div>
*/

.sponsorship-intro {
  display: flex;

  @media only screen and (max-width: breakpoints.$desktop) {
    display: block;
  }

  &__text {
    width: 70%;
    padding-right: grid.$spacing-unit * 2;

    @media only screen and (max-width: breakpoints.$desktop) {
      width: 100%;
      padding: 0;
      margin-bottom: grid.$spacing-unit * 2;
    }

    h1 {
      @include typography.h1-title;
      padding-bottom: 0;
    }

    .lede-paragraph {
      margin: grid.$spacing-unit 0;
      padding: 0;
    }
  }

  &__donations {
    width: 30%;
    padding-bottom: 120px !important;

    @media only screen and (max-width: breakpoints.$desktop) {
      width: 100%;
    }
  }
}
