/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/fonts";
@use "../settings/grid";
@use "../tools/link-utilities";
@use "../tools/typography";

/*
  Grid of sponsorship packages:

  <div class="sponsor-packages">
    <div class="sponsor-package">
      <div class="sponsor-package__header">
        <div class="sponsor-package__icon">
          <i class="fas fa-xxx" aria-hidden="true"></i>
        </div>
        <h3>Package title</h3>
        <p>Package description</p>
      </div>
      <div class="sponsor-package__body">
        // Content here
        <a class="button sponsor-package__button">
          // Button text
        </a>
      </div>
    </div>
  </div>
*/

.sponsor-packages {
  display: grid;
  grid-gap: grid.$spacing-unit;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: (grid.$spacing-unit * 1.5) 0 (grid.$spacing-unit * 2);

  @media screen and (max-width: breakpoints.$mobile) {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .sponsor-package {
    margin-top: grid.$spacing-unit;
  }
}

.sponsor-package {
  border: 2px solid colours.$primary-color;
  border-radius: 4px;
  position: relative;
  padding-bottom: 80px;

  &__header {
    background-color: colours.$primary-color;
    color: colours.$white;
    padding: grid.$spacing-unit;
    text-align: center;
    position: relative;
    border-radius: 2px 2px 0 0;

    a {
      @include link-utilities.white-underlined-link;
    }

    h2,
    h3 {
      @include typography.h2;
      padding: 0;
    }
  }

  &__icon {
    position: absolute;
    top: -30px;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    background-color: colours.$primary-color;
    font-size: 30px;
  }

  &__body {
    padding: grid.$spacing-unit;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 10px 0;
        margin-left: 20px;

        &:first-of-type {
          padding-top: 0;
        }
      }
    }

    ul + p {
      font-weight: fonts.$bold-font-weight;
      padding: 0;
      margin: 15px 0 0;
    }
  }

  &__button {
    position: absolute;
    bottom: grid.$spacing-unit;
    left: grid.$spacing-unit;
    width: calc(100% - 60px);
    text-align: center;

    .button {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
