/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/grid";

/*
  <div class="sponsorship-benefits">
    <div class="sponsorship-benefits__benefit">
    // Benefit text here
    </div>
  </div>
*/

.sponsorship-benefits {
  display: flex;

  @media only screen and (max-width: breakpoints.$desktop) {
    display: block;
    padding: grid.$spacing-unit 0 0;
  }

  &__benefit {
    width: 33%;
    padding: grid.$spacing-unit;

    @media only screen and (max-width: breakpoints.$desktop) {
      width: 100%;
      padding: 0 0 grid.$spacing-unit;
    }
  }
}
