@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colours";
@use "../settings/fonts";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  Horizontal bar that displays statistics on the homepage.

  <div class="statistics-bar">
    <p class="statistics-bar__statistic">
      // Statistic
    </p>
  </div>
*/

.statistics-bar {
  text-align: center;

  &__statistic {
    color: color.adjust(colours.$primary-color, $lightness: -15%);
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;

    @media only screen and (max-width: breakpoints.$tablet) {
      font-size: fonts.$base-font-size;
    }
  }
}
