/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "../settings/breakpoints";
@use "../settings/colors";
@use "../settings/fonts";
@use "../settings/grid";
@use "../tools/link-utilities";

/*
  Tables for displaying data about a project, release or file.

  <table class="table">
    <caption class="sr-only">Caption for table</caption>
    <thead>
      <tr>
        <th scope="col">Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Row title</th>
        <td>Data</td>
      </tr>
    </tbody>
  </table>

  Note:
    Elements applied to this component will differ based on the table.
    e.g. the downloads table will contain 'table__upload-date' to represent the
    upload column on that table.

  Accessibility:
    - label the table with caption (for screen reader users)
    - Add 'scope="col"' to column headings
    - Use a th and add 'scope="row"' for row headings

   Modifiers:
     - information: table for displaying table data - ideally with row level headings
     - files: specific styles for files table on project detail page
     - releases: specific styles for releases table on manage project page
     - manage-files: specific styles for files table on the releases tab
     - history: specific styles for project journals
     - collaborators: specific styles for managing a project's collaborators
     - emails: specific styles for emails on the manage account page
     - 2fa: specific styles for 2fa methods on the manage account page
     - api-tokens: specific styles for API tokens on the manage account page
     - security-logs: specific styles for security logs on the manage account page

 */

// TABLE
@mixin mobile-friendly-table {
  border-bottom: 1px solid colors.$base-grey;

  thead {
    display: none;
  }

  tbody tr th,
  tbody tr td,
  tbody tr th:first-child,
  tbody tr td:first-child,
  tbody tr th:last-child,
  tbody tr td:last-child {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-bottom: 0;
    padding: 2px 0;
  }

  tbody tr td:first-child,
  tbody tr th:first-child {
    border-top: 1px solid colors.$base-grey;
    padding-top: 15px;

    .table__mobile-label {
      margin-top: 0;
    }
  }

  tbody tr td:last-child {
    padding-bottom: 15px;
  }

  .table__mobile-label {
    display: block;
    margin-top: 5px;
  }

  .table__align-right {
    text-align: left;
  }

  tbody tr td .dropdown {
    display: block;
    float: none;

    .dropdown__content,
    .dropdown__link {
      width: unset;
      right: auto;
    }
  }

  tbody tr td .button {
    margin-top: 5px;
  }
}

.table {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  box-shadow: none;
  background-color: transparent;
  text-align: left;

  thead tr {
    background-color: transparent;
  }

  tbody tr,
  th,
  td {
    border: 0;
    background-color: transparent;
    padding: 10px;
  }

  tbody tr th {
    font-weight: fonts.$bold-font-weight;
  }

  th,
  td {
    border-bottom: 1px solid colors.$base-grey;
  }

  tr th:first-child,
  tr td:first-child {
    padding-left: 0;
  }

  tr th:last-child,
  tr td:last-child {
    padding-right: 0;
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom: 0;
  }

  &__align-left {
    text-align: left;
  }

  &__align-center {
    text-align: center;
  }

  &__align-right {
    text-align: right;
  }


  &__mobile-label {
    display: none;
    font-weight: fonts.$bold-font-weight;
  }

  // Custom table styles

  &--information {
    th {
      width: 1%;
      white-space: nowrap;

      a {
        font-weight: normal;
      }
    }

    td,
    th {
      vertical-align: baseline;
    }

    @media only screen and (max-width: breakpoints.$tablet) {
      @include mobile-friendly-table;
    }

    td.file-download {
      a {
        text-decoration: none;
        word-break: break-all;

        span {
          text-decoration: underline;
        }
      }
    }

    td.file-tags {
      .badge {
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-left: 0;
      }
    }
  }

  &--files {
    margin-bottom: grid.$half-spacing-unit;
    border-collapse: collapse;
    width: 100%;

    .table__filter-control {
      display: inline-block;
      position: relative;
      left: 7px;

      .fa-filter {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: -11px;
        transform: translateY(-50%);
        font-size: fonts.$small-font-size;
        color: colors.$light-grey;
      }

      &:has(select option[selected]:not([value=""])) .fa-filter {
        color: colors.$mid-grey;
      }
    }

    select.table-filter {
      width: auto;
      max-width: 130px;
      border: 0;
      font-size: fonts.$base-font-size;
      background: transparent;
      font-weight: fonts.$bold-font-weight;
      cursor: pointer;
      appearance: none;
      mask-image: linear-gradient(to right, black 85%, transparent 100%);

      &:hover,
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .table__filter-col {
      width: 14%;
      overflow-wrap: anywhere;
    }

    th:last-child,
    td:last-child {
      width: 1%;
      white-space: nowrap;
    }

    .file-info__name {
      display: block;
      overflow-wrap: anywhere;
      position: relative;
      left: -2px;

      a {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }

    .file-info__metadata {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 5px;
    }

    .file-info__meta-divider {
      display: inline-block;
      width: 1px;
      height: 18px;
      position: relative;
      top: 4px;
      background-color: colors.$light-grey;
      flex-shrink: 0;
    }

    .file-info__meta {
      padding: 2px 4px;
      border: 2px solid transparent;
      border-radius: 4px;
      font-size: fonts.$small-font-size;
    }

    .file-info__meta--warning {
      padding-right: 5px;
      border-color: colors.$warning-color;
      color: colors.$warning-color;
    }

    .file-info__details-button {
      min-width: 80px;
      float: right;
    }

    @media only screen and (max-width: breakpoints.$tablet) {
      @include mobile-friendly-table;

      .table__filter-col {
        display: none;
      }

      .file-info__metadata {
        flex-direction: column;
        gap: 4px;
      }

      .file-info__metadata i {
        display: none;
      }

      .file-info__meta {
        font-size: fonts.$base-font-size;
      }

      .file-info__meta-divider {
        display: none;
      }

      .file-info__details-button {
        float: none;
        width: auto;
      }
    }
  }


  &--releases {
    word-wrap: break-word;
    margin-bottom: grid.$spacing-unit;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;
      margin-bottom: grid.$half-spacing-unit;
    }
  }

  &--manage-files,
  &--history {
    margin-top: grid.$half-spacing-unit;

    @media only screen and (max-width: breakpoints.$tablet) {
      @include mobile-friendly-table;
    }
  }

  &--collaborators {
    td:empty::after {
      content: "—";
    }

    .table__user-details {
      display: flex;
      align-items: center;
      @include link-utilities.link-without-underline;
    }

    .table__user-gravatar {
      display: block;
      width: 50px;
      flex-shrink: 0;
      text-align: center;
    }

    .table__user-text {
      margin-left: 10px;
      text-align: left;

      > * {
        display: inline-block;
        background-position: 0 1.15em;
        background-repeat: repeat-x;
        background-size: 100% 1.5px;
        @include link-utilities.primary-underlined-link;
      }
    }

    .table__change-field {
      margin-left: -10px;
      width: 120px;
    }

    .table__change-button {
      margin-left: 10px;
      margin-top: 5px;
      visibility: hidden;
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;

      .table__user-details {
        margin-bottom: 5px;
      }

      .table__change-role {
        width: 100%;

        .table__change-field,
        .table__change-button {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }

  &--emails {
    margin: 0 0 grid.$spacing-unit;

    .table__email {
      word-wrap: break-word;
      word-break: break-all;
      font-family: fonts.$code-font;
      font-size: 0.9rem;
    }

    .table__status-badges {
      display: block;
      min-width: 160px;
    }

    .table__status-detail {
      display: block;
      max-width: 200px;
      font-size: fonts.$small-font-size;
      margin-top: 5px;
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;

      .table__status-detail {
        max-width: initial;
      }
    }
  }

  &--2fa,
  &--api-tokens {
    margin: 0 0 grid.$spacing-unit;

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;
    }
  }

  &--security-logs {
    margin-top: 0;

    .table__monospace {
      word-wrap: break-word;
      word-break: break-all;
      font-family: fonts.$code-font;
      font-size: 95%;
    }

    td {
      small,
      strong {
        display: block;
      }
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;
    }
  }

  &--publisher-list {
    margin-top: 0;

    .table__monospace {
      word-wrap: break-word;
      word-break: break-all;
      font-family: fonts.$code-font;
      font-size: 95%;
    }

    td {
      small,
      strong {
        display: block;
      }
    }

    @media only screen and (max-width: breakpoints.$small-tablet) {
      @include mobile-friendly-table;
    }
  }

  td {
    &.table__no-bottom-border {
      border-bottom: none;
    }
  }

}
