/* SPDX-License-Identifier: Apache-2.0 */

/*
  Verified tag and session

  <div class="verified"></div>
*/

.verified, .unverified {
  ul {
    padding-top: 0;
  }

  h3 {
    padding-bottom: 0;
  }

  h6 {
    padding-bottom: 5px;
    padding-top: 15px;
  }

  small {
    color: #555;
  }

  .check {
    color: #148024;
  }
}
