{# SPDX-License-Identifier: Apache-2.0 -#}

{% extends "base.html" %}

{% block title_header %}{% endblock %}

{% block content %}
  <h2>Organizations</h2>
  <div class="row">
    <div class="col-lg-4 col-6">
      {% component "admin.stat_card",
         color="bg-gradient-info",
         value=organizations_count.Total ~ " Approved",
         sublines=["Community: " ~ organizations_count.Community,
                   "Company : " ~ organizations_count.Company],
         icon="fa-people-group",
         footer_url=request.route_path("admin.organization.list") %}
    </div>
    <div class="col-lg-4 col-6">
      {% component "admin.stat_card",
         color="bg-gradient-purple",
         value=organization_applications_count.submitted ~ " To Review",
         sublines=["Awaiting Response: " ~ organization_applications_count.moreinformationneeded,
                   "Deferred: " ~ organization_applications_count.deferred],
         icon="fa-inbox",
         footer_url=request.route_path("admin.organization_application.list"),
         footer_text="View All Reviewable" %}
    </div>
  </div>
  <h3>Company Orgs</h3>
  <div class="row">
    <div class="col-lg-4 col-6">
      {% component "admin.stat_card",
         color="bg-gradient-success",
         value=active_company_organizations ~ " Subscribed",
         sublines=["With " ~ active_company_organization_users ~ " Users",
                   "$" ~ (active_company_organization_users * 5) ~ " / mo"],
         icon="fa-money-bill-trend-up" %}
    </div>
  </div>
  <h3>Organization Utilization</h3>
  <div class="row">
    <div class="col-lg-4 col-6">
      {% component "admin.stat_card",
         color="bg-gradient-teal utilization-card",
         value=orgs_with_projects.Total ~ " With Projects",
         sublines=["Community: " ~ orgs_with_projects.get('Community', 0),
                   "Company: " ~ orgs_with_projects.get('Company', 0)],
         icon="fa-folder-open",
         tooltip="Organizations that have at least one project" %}
    </div>
    <div class="col-lg-4 col-6">
      {% component "admin.stat_card",
         color="bg-gradient-teal utilization-card",
         value=orgs_with_multiple_members.Total ~ " With Members",
         sublines=["Community: " ~ orgs_with_multiple_members.get('Community', 0),
                   "Company: " ~ orgs_with_multiple_members.get('Company', 0)],
         icon="fa-users",
         tooltip="Organizations with more than 1 member" %}
    </div>
  </div>
  <div class="row">
    {% if malware_reports_count %}
      <div class="col-lg-4 col-6">
        {% component "admin.stat_card",
           color="bg-gradient-warning",
           value=malware_reports_count | string,
           description="Open Malware Reports",
           icon="fa-dumpster-fire",
           footer_url=request.route_path("admin.malware_reports.list"),
           footer_text="More info" %}
      </div>
    {% endif %}
  </div>
  <!-- /.row -->
{% endblock %}
