# By default, everything is owned by our reviewers team.
* @pypi/warehouse-reviewers

# Frontend files are owned by both our reviewers team AND the frontend team,
# which allows either team to approve a Pull Request, but it does not require
# both to approve it.
#
# We have to keep @pypi/warehouse-reviewers here, because GitHub will only match
# a path to a single line in the CODEOWNERS file, whichever line it matches last.
.github/ISSUE_TEMPLATE/~visual-design.md @pypi/warehouse-reviewers @pypi/warehouse-frontend
tests/frontend/*                         @pypi/warehouse-reviewers @pypi/warehouse-frontend
warehouse/admin/static/*                 @pypi/warehouse-reviewers @pypi/warehouse-frontend
warehouse/admin/templates/*              @pypi/warehouse-reviewers @pypi/warehouse-frontend
warehouse/static/*                       @pypi/warehouse-reviewers @pypi/warehouse-frontend
warehouse/templates/*                    @pypi/warehouse-reviewers @pypi/warehouse-frontend
.stylelintrc.json                        @pypi/warehouse-reviewers @pypi/warehouse-frontend
babel.cfg                                @pypi/warehouse-reviewers @pypi/warehouse-frontend
babel.config.js                          @pypi/warehouse-reviewers @pypi/warehouse-frontend
eslint.config.mjs                        @pypi/warehouse-reviewers @pypi/warehouse-frontend
package-lock.json                        @pypi/warehouse-reviewers @pypi/warehouse-frontend
package.json                             @pypi/warehouse-reviewers @pypi/warehouse-frontend
webpack.config.js                        @pypi/warehouse-reviewers @pypi/warehouse-frontend
webpack.plugin.localize.js               @pypi/warehouse-reviewers @pypi/warehouse-frontend

# There are, not *technically* frontend files, but when you're working on the
# frontend you may end up needing to update the user facing documentation and/or
# the developer documentation around changes to how the frontend is developed,
# so we'll allow frontend and reviewers both to own these as well.
docs/dev/*  @pypi/warehouse-reviewers @pypi/warehouse-frontend
docs/user/* @pypi/warehouse-reviewers @pypi/warehouse-frontend

# We don't need to have a codeowner for this file, because it is effectively a
# checked in build artifact that is determinstically generated from the rest
# of the code base. Thus if you edit this without a corresponding edit somewhere
# else, tests will fail, and we can rely on the codeowner from whatever file was
# edited that caused this file to get regenerated to trigger a codeowner
# review.
warehouse/locale/messages.pot
