{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% block content %}
  <p>
    The project {{ project_name }} has been deleted.
    <ul>
      <li>
        <strong>Deleted by:</strong> {{ submitter_name }} with a role: {{ submitter_role }}.
      </li>
    </ul>
  </p>
  <p>
    If you have questions or concerns, you can email <a href="mailto:admin@pypi.org">admin@pypi.org</a> to communicate with the PyPI administrators.
  </p>
{% endblock %}
{% block reason %}
  <p>You are receiving this because you are {{ recipient_role_descr }} of this project.</p>
{% endblock %}
