{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set site = request.registry.settings["site.name"] %}
{% block content %}
  <p>Hello {{ username }},</p>
  <p>Thank you for being a part of PyPI Organizations!</p>
  <p>
    PyPI Organizations was initially created to provide more granular team and project management for large communities and organizations. We are looking to expand PyPI Organizations's features and would love to hear your feedback.
  </p>
  <p>
    Please fill out the survey below on how using PyPI Organizations is going for you and the <strong>{{ organization_name }}</strong> team
    and what you would like to see PyPI Organizations offer in the near future.
  </p>
  <p>
    <strong><a href="{{ survey_url }}">Take the Survey</a></strong>
  </p>
  <p>Feel free to be as detailed as possible in your responses and feedback.</p>
  <p>– The PyPI Team</p>
{% endblock %}
{% block reason %}
  You are receiving this because you are a member of the <strong>{{ organization_name }}</strong> organization on PyPI. If you are a member of multiple PyPI Organizations you may receive multiple emails.
{% endblock %}
