*.py[co]
*.mo

*.egg-info/
*.egg
.eggs/

.cache/
.coverage
.state

docs/_build/
build/
dist/*.tar.gz
dist/*.whl
htmlcov/

node_modules/

dev/example.sql
./data/

warehouse/.commit
warehouse/static/components
warehouse/static/dist
