*.py[co]

*.egg-info/
*.egg
.eggs/

.cache/
.coverage
.state
.idea

docs/_build/
build/
dist/*.tar.gz
dist/*.whl
htmlcov/

docker-compose.override.yaml

node_modules/

dev/example.sql
dev/prod.sql
dev/prod.sql.xz
./data/

warehouse/.commit
warehouse/static/components
warehouse/static/dist
warehouse/admin/static/dist

tags
*.sw*

.DS_Store
