*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Documentation build directory
docs/_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
