repos:
  - repo: local
    hooks:
      - id: translations
        name: translations
        entry: make translations
        language: system
        files: '\.py$|\.html$|babel\.cfg$'
        pass_filenames: false

      - id: reformat
        name: reformat
        entry: make reformat
        language: system
        files: '\.py$|\.html$'
        pass_filenames: false
