language: python
python:
  - "3.3"
install:
  - pip install -r requirements.txt
  - pip install pep8 pylint coveralls
before_script:
  - psql -c 'CREATE DATABASE warehouse;' -U postgres
script:
  - invoke tests --suite unit
  - invoke tests --suite functional
  - invoke tests --suite coverage
  - pep8 --show-source --show-pep8 warehouse
  - pylint --rcfile .pylintrc warehouse
after_success:
  - coveralls
branches:
  only:
    - master
