language: python
python: 3.6.1

env:
  global:
    - TRAVIS_NODE_VERSION=6.6.0
    - CXX=g++-4.8

dist: trusty
sudo: false

addons:
  hosts:
    - warehouse.local
  postgresql: "9.6"
  # sauce_connect: true
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

services:
  - postgresql

cache:
  apt: true
  directories:
    - ~/.cache/pip
    - node_modules/

install:
  - 'rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION'
  - pip install -U pip setuptools wheel
  - pip install -r requirements/main.txt -r requirements/deploy.txt -r requirements/docs.txt -r requirements/lint.txt -r requirements/tests.txt
  - npm install

script:
  - node -v
  - npm -v
  - ./node_modules/.bin/gulp dist
  - bin/tests --postgresql-host 127.0.0.1

matrix:
  include:
    - env:
      - SUITE=Tests
    - script: make lint BINDIR="$(dirname $(which python))"
      env:
        - SUITE=Lint
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
    - script: make docs BINDIR="$(dirname $(which python))"
      env:
        - SUITE=Documentation
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
    - script: make travis-deps BINDIR="$(dirname $(which python))"
      env:
        - SUITE=Dependencies
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
    - script: make licenses BINDIR="$(dirname $(which python))"
      env:
        - SUITE=Licenses

after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master

notifications:
  irc:
    channels:
      - "irc.freenode.org#pypa-dev"
    use_notice: true
    skip_join: true
