# I (dstufft) try to keep a number of Wheels here for projects we use but which
# don't provide wheels of their own. These are only pure Python wheels however.
--find-links https://wheels.caremad.io/

# Install Warehouse itself.
-e .

# Install the extra dependencies we'll want for development.
pyramid_debugtoolbar
