include AUTHORS
include LICENSE
include CONTRIBUTING.rst
include tox.ini
include requirements.txt
include .coveragerc

recursive-include dev *.yml

recursive-include docs *.empty
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile

include compass.rb
include package.json

recursive-include warehouse *.html
recursive-include warehouse *.mako
recursive-include warehouse config.yml
recursive-include warehouse/migrations/versions *.py

graft warehouse/static

recursive-include tests *.py
recursive-include tests *.yml
