[tool.curlylint]
# For jinja's i18n extension:
template_tags = [['trans', 'pluralize', 'endtrans']]

[tool.isort]
profile = 'black'
lines_between_types = 1
combine_as_imports = true
known_first_party = ['warehouse', 'tests']

[tool.mypy]
python_version = "3.9"
namespace_packages = true
warn_unused_configs = true
plugins = ["mypy_zope:plugin"]
exclude = ["warehouse/locale/.*", "warehouse/migrations/versions.*"]

[[tool.mypy.overrides]]
# These modules do not yet have types available.
module = [
    "automat.*",
    "babel.*",
    "bpython.*",
    "celery.app.backends.*",
    "celery.backends.redis.*",
    "citext.*",
    "disposable_email_domains.*",
    "elasticsearch_dsl.*", # https://github.com/elastic/elasticsearch-dsl-py/issues/1533
    "google.cloud.*",
    "IPython.*",
    "mistune.*",
    "msgpack.*",
    "paginate.*",
    "paginate_sqlalchemy.*",
    "passlib.*",
    "premailer.*",
    "pymacaroons.*", # https://github.com/ecordell/pymacaroons/issues/41
    "pyramid.*", # https://github.com/Pylons/pyramid/issues/2638
    "pyramid_jinja2.*",
    "pyramid_mailer.*",
    "pyramid_retry.*",
    "pyramid_rpc.*",
    "pyqrcode.*",
    "readme_renderer.*", # https://github.com/pypa/readme_renderer/issues/166
    "requests_aws4auth.*",
    "rfc3986.*",
    "stdlib_list.*",
    "sqlalchemy.*", # https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html
    "sqlalchemy_utils.*",
    "transaction.*",
    "trove_classifiers.*",
    "venusian.*",
    "whitenoise.*",
    "wtforms.*", # https://github.com/wtforms/wtforms/issues/618
    "yara.*",
    "zxcvbn.*", # https://github.com/dwolfhub/zxcvbn-python/issues/56
    "zope.sqlalchemy.*",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
norecursedirs = ['build', 'dist', 'node_modules', '*.egg-info', '.state requirements']
markers = [
    'unit: Quick running unit tests which test small units of functionality.',
    'functional: Slower running tests which test the entire system is functioning.',
]
filterwarnings = [
    'ignore::warehouse.admin.services.InsecureStorageWarning',
    'ignore::warehouse.packaging.services.InsecureStorageWarning',
    'ignore:UserDefinedType CIText.*:sqlalchemy.exc.SAWarning'  # See https://github.com/mahmoudimus/sqlalchemy-citext/issues/25
]
