[tool.curlylint]
include = '\.(html|jinja|txt)$'
# For jinja's i18n extension:
template_tags = [['trans', 'pluralize', 'endtrans']]

[tool.isort]
profile = 'black'
lines_between_types = 1
combine_as_imports = true
known_first_party = ['warehouse', 'tests']

[tool.mypy]
python_version = "3.11"
warn_unused_configs = true
warn_unused_ignores = true
plugins = ["mypy_zope:plugin"]
exclude = ["warehouse/locale/.*", "warehouse/migrations/versions.*"]

[[tool.mypy.overrides]]
# These modules do not yet have types available.
module = [
    "alembic_postgresql_enum.*",
    "automat.*",
    "bpython.*",  # https://github.com/bpython/bpython/issues/892
    "b2sdk.*",  # https://github.com/Backblaze/b2-sdk-python/issues/148
    "celery.app.backends.*",
    "celery.backends.redis.*",
    "disposable_email_domains.*",
    "elasticsearch_dsl.*", # https://github.com/elastic/elasticsearch-dsl-py/issues/1533
    "github_reserved_names.*",
    "google.cloud.*",
    "forcediphttpsadapter.*",
    "IPython.*",
    "linehaul.*",
    "mistune.*",
    "packaging_legacy.*",
    "paginate.*",
    "paginate_sqlalchemy.*",
    "premailer.*",
    "pymacaroons.*", # https://github.com/ecordell/pymacaroons/issues/41
    "pyramid.*", # https://github.com/Pylons/pyramid/issues/2638
    "pyramid_jinja2.*",
    "pyramid_mailer.*",
    "pyramid_retry.*",
    "pyramid_rpc.*",
    "pyqrcode.*",
    "requests_aws4auth.*",  # https://github.com/tedder/requests-aws4auth/issues/53
    "rfc3986.*",
    "transaction.*",
    "ua_parser.*",  # https://github.com/ua-parser/uap-python/issues/110
    "venusian.*",
    "webob.*", # https://github.com/python/typeshed/pull/9874
    "whitenoise.*",
    "yara.*",
    "zxcvbn.*", # https://github.com/dwolfhub/zxcvbn-python/issues/56
    "zope.sqlalchemy.*",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "--disable-socket --allow-hosts='localhost,::1,stripe' --durations=20"
norecursedirs = ['build', 'dist', 'node_modules', '*.egg-info', '.state requirements']
markers = [
    'unit: Quick running unit tests which test small units of functionality.',
    'functional: Slower running tests which test the entire system is functioning.',
]
filterwarnings = [
    'ignore::warehouse.admin.services.InsecureStorageWarning',
    'ignore::warehouse.utils.exceptions.InsecureOIDCPublisherWarning',
    'ignore::warehouse.packaging.services.InsecureStorageWarning',
]
