# Install Invoke (this is used to run various tasks)
invoke

# Install Django (we are using an unreleased version)
https://www.djangoproject.com/m/releases/1.6/Django-1.6b4.tar.gz

# Install Warehouse (and it's dependencies)
-e .[tests]
