# Install Invoke (this is used to run various tasks)
invoke

# Install Django (we are using an unreleased version)
-e git+https://github.com/django/django.git@stable/1.6.x#egg=Django

# Install Warehouse (and it's dependencies)
-e .[tests]
