{# SPDX-License-Identifier: Apache-2.0 -#}

{% extends "admin/base.html" %}

{% block title %}Journal Entries For {{ project.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ request.route_path('admin.project.list') }}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{{ request.route_path('admin.project.detail', project_name=project.normalized_name) }}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active">Journal Entries</li>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div id="journals-table"
         data-url="{{ request.route_path('admin.journals.list') }}"
         data-filter-name="{{ project.name }}"></div>
  </div>
</div>
{% endblock content %}
