// SETTINGS - COLOURS

$brand-color:           #006dad;
$highlight-color:       #ffd343;
$success-color:         #169428;
$danger-color:          #f41f1f;
$brand-color-soft:      lighten($brand-color, 45);

$white:                 #fff;
$background-color:      #fdfdfd;
$base-grey:             #ececec;
$border-color:          darken($base-grey, 10);
$text-color:            #464646;
