/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";

// SETTINGS - COLORS

$primary-color:               #006dad;
$primary-color-light-border:  color.mix($primary-color, white, 20%);
$primary-color-light:         color.adjust($primary-color, $lightness: 45%);
$primary-color-dark:          color.adjust($primary-color, $lightness: -10%);
$success-color:               #148024;
$warning-color:               #c2410c;
$notification-color:          #feecbe;
$danger-color:                #dc2626;
$highlight-color:             #ffd343;
$white:                       #fff;
$black:                       #000;
$background-color:            #fdfdfd;
$off-white:                   #f7f7f7;
$base-grey:                   #ececec;
$light-grey:                  #bbb;
$mid-grey:                    #616161;
$border-color:                color.adjust($base-grey, $lightness: -10%);
$accessible-border-color:     #949494;
$text-color:                  #464646;
$transparent-white:           color.adjust($white, $alpha: -0.6);
$header-background-color:     color.adjust($primary-color, $lightness: 2%);
$header-border-color:         color.adjust($primary-color, $lightness: -2%);
