/* SPDX-License-Identifier: Apache-2.0 */

// SETTINGS - FONTS

$base-font-family: "Source Sans 3", "Helvetica", arial, sans-serif;
$code-font: "Source Code Pro", monospace;
$base-font-size:   1rem;
$small-font-size:  0.8rem;
$input-font-size:  $base-font-size * 1.1;
$base-line-height: 1.4;
$base-font-weight: 400;
$bold-font-weight: 600;
