/* SPDX-License-Identifier: Apache-2.0 */

// Grid settings

@use "sass:math";

$site-container:     1150px;
$narrow-container:   940px;
$spacing-unit:       30px;

// Declare our own spacing unit variable since we recalculate it so often
$half-spacing-unit:  math.div($spacing-unit, 2);
$quarter-spacing-unit: math.div($spacing-unit, 4);

// Set the number of columns in the grid
$grid-columns: 12;
