.applied-filters {
  margin-top: 10px;
  @include clearfix;

  @media only screen and (max-width: 700px){
    margin-top: 20px;
  }

  a.add-filter {
    display: none;

    @media only screen and (max-width: 1000px){
      display: inline-block;
      float: left;
    }
  }
}
