.button-set {
  display: block;
  margin: 0 0 25px;

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  .wh-button {
    float: left;
    border-radius: 0;
  }

  .wh-button + .wh-button {
    margin-left: -2px;
  }

  .wh-button:first-child {
    border-radius: 3px 0 0 3px;
  }

  .wh-button:last-child {
    border-radius: 0 3px 3px 0;
  }
}
