/*
  A table whose column widths are set by its content - in this case, a
  package's download data.
*/

.downloads-table {
  box-sizing: border-box;
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 10px;

  &__filename {
    width: 65%;
  }

  &__type,
  &__upload-date {
    width: 13%;
  }

  &__version {
    width: 9%;
  }

  &__sha256-link {
    margin-left: 5px;
  }

  @media only screen and (max-width: 1150px){
    // Hide 'file type' column
    th:nth-child(3),
    td:nth-child(3) {
      display: none;
    }
  }

  @media only screen and (max-width: 1000px){
    // Hide 'version' column
    th:nth-child(5),
    td:nth-child(5) {
      display: none;
    }
  }

  @media only screen and (max-width: 800px){
    // Hide 'upload date' column
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
}
