.download-graph {
  @extend .card-style;
  width: 100%;
  height: 450px;
  margin-bottom: 10px;

  .download-overview {
    @include clearfix;
    border-bottom: 1px solid $border-color;
    background-color: $white;
    display: table;
    width: 100%;
    text-align: center;

    p {
      display: table-cell;
      padding: 10px;
      margin: 0;
      font-size: 16px;

      @media only screen and (max-width: 950px){
        display: block;
        text-align: left;
        width: 50%;
        float: left;
        border-bottom: 1px dotted $base-grey;
      }

      @media only screen and (max-width: 450px){
        width: 100%;
        float: none;
      }
    }

    p:last-child {
      border-bottom: 0;
    }
  }
}
