/*
  Footer:

  <div class="footer">
    <div class="footer__icon">
      // footer icon image goes here
    </div>
    <div class="footer__menus"> // menu wrapper
      <ul class="footer__menu"> // 3 of these!
        <li><h3>Menu Title</h3></li>
        <li><a>Menu Link</a></li>
      </ul>
    </div>

    <hr class="footer__divider">

    <div class="footer__text">
      // copyright, disclaimers,etc.
    </div>
  </div>
*/

.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $footer-faded-color: transparentize($white, 0.3);

  background-color: lighten($brand-color, 2);
  color: $white;
  padding: 60px 0;
  width: 100%;

  @media only screen and (max-width: 400px){
    padding-top: 40px 0;
  }

  &__logo {
    margin-bottom: 2em;
    text-align: center;
  }

  &__menus {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-bottom: $base-spacing;

    @media only screen and (max-width: 400px){
      margin-bottom: 10px;
    }
  }

  &__menu {
    @include flex-basis(13em);
    @include flex-shrink(0);
    margin: 0 15px 40px 15px;
    padding: 0;

    li {
      line-height: 1.5em;
      list-style: none;
      text-align: center;

      a {
        color: $footer-faded-color;
        text-decoration: none;

        &:focus,
        &:hover {
          color: transparentize($white, 0);
        }
      }

      h3 {
        color: $white;
        font-size: 1em;
        margin-bottom: 0.4em;
      }
    }
  }

  &__divider {
    border: 1px solid transparentize($footer-faded-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  &__text {
    color: $footer-faded-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 40em;
    text-align: center;
    padding: 0 20px;

    a {
      color: transparentize($white, .5);
      text-decoration: underline;
    }
  }
}
