
.version-history-graphic {
  clear: both;
}

.history-section {
  @include clearfix;
  display: table;
  width: 100%;
  border-left: 1px solid $background-color;
  padding: 0 20px;

  @media only screen and (max-width: 800px){
    padding: 0 10px;
  }

  @media only screen and (max-width: 550px){
    display: block;
    padding: 10px 10px 0 10px;
    margin: 10px 0;
  }

  .version {
    width: 15%;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-align: right;
    font-weight: 600;

    @media only screen and (max-width: 1200px){
      width: 20%;
    }

    @media only screen and (max-width: 800px){
      width: 30%;
      text-align: center;
    }

    @media only screen and (max-width: 550px){
      display: block;
      width: 100%;
    }

    p {
      margin-bottom: 0;
    }
  }

  .graphic {
    width: 10%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;

    @media only screen and (max-width: 1200px){
      width: 15%;
    }

    @media only screen and (max-width: 800px){
      display: none;
    }

    .line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url('../img/history-line.png') repeat-y 50% 50%;
    }

    img.history-node {
      background-color: $background-color;
      padding: 7px 0;
      position: relative;
      z-index: 2;
    }
  }

  .changelog {
    width: 75%;
    display: table-cell;

    @media only screen and (max-width: 1200px){
      width: 65%;
    }

    @media only screen and (max-width: 800px){
      width: 70%;
    }

    @media only screen and (max-width: 550px){
      display: block;
      width: 100%;
    }

    .card {
      background-color: #f5f5f5;
      border: 1px solid darken(#ececec, 5);
      background-color: $white;
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
      padding: 15px;
      margin: 20px 0;
      font-size: 15px;

      @media only screen and (max-width: 800px){
        margin: 10px 0;
      }
    }
  }
}

.history-section.current {
  background-color: darken($background-color, 1);
  border: 1px dotted #ccc;

  .graphic img.history-node {
    background-color: darken($background-color, 1);
  }

  .changelog .card {
    background-color: $white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
  }
}

.history-section.latest .graphic .line,
.history-section.oldest .graphic .line {
  height: 50%;
}

.history-section.oldest .graphic .line{
  bottom: auto;
  top: 0;
}
