/*
  Individual release information represented as a card with meta data

  <div class="history-section">
    <div class="history-section__meta">
      // Aligned to the left
      <p class="history-section__version"></p>
      // Optional badge here
      <p class="history-section__version-date"></p>
    </div>
    <div class="history-section__graphic"> // Node graphic with connecting line
      <div class="history-section__line"></div>
      <img class="history-section__node">
    </div>
    <div class="history-section__changelog">
      <div class="history-section__card">
        // Changelog here
      </div>
    </div>
  </div>
*/

.history-section {
  @include clearfix;
  display: table;
  width: 100%;
  border-left: 1px solid $background-color;
  padding: 0 20px;

  @media only screen and (max-width: 800px){
    padding: 0 10px;
  }

  @media only screen and (max-width: 550px){
    display: block;
    padding: 10px 10px 0 10px;
    margin: 10px 0;
  }

  &__meta {
    width: 15%;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-align: right;
    font-weight: 600;

    @media only screen and (max-width: 1200px){
      width: 20%;
    }

    @media only screen and (max-width: 800px){
      width: 30%;
      text-align: center;
    }

    @media only screen and (max-width: 550px){
      display: block;
      width: 100%;
    }
  }

  &__version {
    padding-bottom: 0;
  }

  &__version-date {
    font-size: $small-font-size;
    font-weight: normal;
    margin-top: 5px;
  }

  &__graphic {
    width: 10%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;

    @media only screen and (max-width: 1200px){
      width: 15%;
    }

    @media only screen and (max-width: 800px){
      display: none;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: index($z-index-scale, 'history-line');
    background: url('../images/history-line.png') repeat-y 50% 50%;
  }

  &__node {
    background-color: $background-color;
    padding: 7px 0;
    position: relative;
    z-index: index($z-index-scale, 'history-node');
  }

  &__changelog {
    width: 75%;
    display: table-cell;

    @media only screen and (max-width: 1200px){
      width: 65%;
    }

    @media only screen and (max-width: 800px){
      width: 70%;
    }

    @media only screen and (max-width: 550px){
      display: block;
      width: 100%;
    }
  }

  &__card {
    background-color: #f5f5f5;
    border: 1px solid darken(#ececec, 5);
    background-color: $white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
    padding: 15px;
    margin: 20px 0;
    font-size: 15px;

    @media only screen and (max-width: 800px){
      margin: 10px 0;
    }
  }

  &--current {
    background-color: darken($background-color, 1);
    border: 1px dotted #ccc;

    .history-section__node {
      background-color: darken($background-color, 1);
    }

    .history-section__card {
      background-color: $white;
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.05);
    }
  }

  &--latest,
  &--oldest {
    .history-section__line {
      height: 50%;
    }
  }

  &--oldest {
    .history-section__line {
      bottom: auto;
      top: 0;
    }
  }
}
