.homepage-hero {
  text-align: center;

  h1 {
    max-width: 810px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;

    @media only screen and (max-width: 400px){
       padding: 0 10px 30px 10px;
    }
  }

  .browse-packages {
    font-size: 1.2rem;
    margin: 30px 0 10px 0;

    @media only screen and (max-width: 400px){
       font-size: 18px;
    }

    a {
      color: $white;
      text-decoration: underline;
      text-decoration-color: rgba(255,255,255, 0.4);
    }
  }
}
