.sidebar-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ececec;

  h3 {
    font-size: 18px;
  }
}

.sidebar-section.status {
  padding-bottom: 10px;
}

.sidebar-section.maintainers {
  @include clearfix;

  img {
    margin: 0 5px 5px 0;
    display: inline;
    float: left;

    @media only screen and (max-width: 1000px){
      max-width: 40px;
    }
  }
}

.sidebar-section.meta {
  padding-bottom: 0;
  border: 0;
}
