/*
  A sidebar section. Currently used on the package detail page.

  <div class="sidebar-section">
    <h3 class="sidebar-section__title">Title</h3>
    // Content here
  </div>

  Modifiers:
    - Maintainers: Custom layout for maintainers section on package detail page.
*/

.sidebar-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $border-color;

  .sidebar-section__title {
    font-size: 18px;
  }

  &:last-of-type {
    margin-bottom: 0;
    border: 0;
  }

  &--maintainers {
    @include clearfix;

    img {
      margin: 0 5px 5px 0;
      display: inline;
      float: left;

      &:last-of-type {
        margin-right: 0;
      }

      @media only screen and (max-width: $desktop){
        max-width: 40px;
      }
    }
  }
  dd {
    text-indent:-20px;
    margin-left:20px;
  }
}
