.site-header {
  background-color: lighten($brand-color, 2);
  border-bottom: 1px solid darken($brand-color, 2);

  .site-header__logo{
    padding: 15px 0;
    max-width: 65px;
    float: left;

    @media screen and (max-width: 400px) {
      max-width: 50px;
    }
  }
}
