/*
  A badge that provides package status information.
  By default the badge is white with an info icon.

  <a class="status-badge">
    // Some status
  </a>

  Modifiers:
    - Unknown: Adds a question mark icon to the badge
    - Good: Adds a tick icon to the badge. Makes it green.
    - Bad: Adds a warning icon to the badge. Makes it red.

*/

.status-badge {
  @include span-columns(3);
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  font-size: $small-font-size;
  margin-bottom: 10px;
  color: $text-color;
  background-color: $white;
  border: 1px solid #bebebe;

  &:hover {
    color: $text-color;
  }

  &:before {
    content: '\f05a'; // Info icon
    font-family: 'FontAwesome';
    margin-right: 3px;
    display: inline-block;
    padding: 8px 12px;
    width: 40px;
    margin-right: 12px;
    text-align: center;
    border-right: 1px solid #bebebe;
  }

  &--unknown {
    &:before {
      content: '\f059'; // Question mark
    }
  }

  &--good {
    color: $white;
    background-color: $success-color;
    border: 1px solid darken($success-color, 5);

    &:hover {
      color: $white;
    }

    &:before {
      content: '\f00c'; // Check / Tick
      border-right: 1px solid darken($success-color, 5);
    }
  }

  &--bad {
    color: $white;
    background-color: $danger-color;
    border: 1px solid darken($danger-color, 7);

    &:hover {
      color: $white;
    }

    &:before {
      content: '\f071'; // Warning
      border-right: 1px solid darken($danger-color, 7);
    }
  }

  @media only screen and (max-width: 1200px){
     @include span-columns(6);
  }

  @media only screen and (max-width: 600px){
     @include span-columns(12);
  }

  @media only screen and (max-width: 300px){
     font-size: 14px;
  }
}
