#{$all-buttons},
.wh-button {
  position: relative;
  font-size: $button-font-size;
  font-weight: $bold-font-weight;
  cursor: pointer;
  text-decoration: none;
  padding: 0 em(15px);
  color: lighten($text-color, 10);
  height: em(41px);
  line-height: em(35px);
  border: 2px solid darken($base-grey, 10);
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
}

.wh-button.-large {
  font-size: $button-font-size * 1.2;
}

.wh-button.-small {
  font-size: $small-font-size;
  height: em(40px);
  line-height: em(36px);
}

.wh-button:focus,
#{$all-buttons-focus},
.wh-button:hover,
#{$all-buttons-hover},
.wh-button:active,
#{$all-buttons-active}  {
  border-color: $brand-color;
  color: darken($brand-color, 10);
  text-decoration: none;
  z-index: 2;
}

.wh-button.-dark {
  border-color: darken($brand-color, 16);
  background-color: darken($brand-color, 15);
  color: $white;

  &:hover {
    border-color: darken($brand-color, 21);
    background-color: darken($brand-color, 20);
    color: $white;
  }
}

.wh-button.-highlight {
  border-color: $brand-color;
  background-color: $brand-color;
  color: $white;
  z-index: 1;

  &:hover {
    background-color: darken($brand-color, 2);
    text-decoration-colozr: rgba(255,255,255, .2);
    color: $white;
  }
}

// Toggle icons / text on mobile devices

.wh-button .icon {
  display: none;
  display: none;
}

@media only screen and (max-width: 450px){
  .wh-button .icon {
    display: inline-block;
    display: inline-block;
  }

  .wh-button .text {
    display: none;
    display: none;
  }
}
