{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "manage_organization_base.html" %}
{% set title = gettext("Danger zone") %}
{% set active_tab = "settings" %}
{% set active_subtab = "danger-zone" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
  <h1 class="page-title">{{ title }}</h1>
  <section id="delete-organization">
    <h2 class="sub-title">{% trans %}Delete organization{% endtrans %}</h2>
    <div class="callout-block callout-block--danger">
      {% if active_projects %}
        <h3>{% trans %}Cannot delete organization{% endtrans %}</h3>
        <p>
          {% trans count=active_projects|length %}
          Your organization currently owns {{ count }} project.
        {% pluralize %}
          Your organization currently owns {{ count }} projects.
        {% endtrans %}
        {% trans %}For each project, you must either:{% endtrans %}
      </p>
      <ul>
        <li>{% trans %}Transfer ownership and remove the project from your organization{% endtrans %}</li>
        <li>{% trans %}Delete the project{% endtrans %}</li>
      </ul>
      {% trans %}Before you can delete your organization.{% endtrans %}
      <ul class="no-bottom-margin">
        {% for project in active_projects %}
          <li>
            <strong>{{ project.name }}</strong> -
            {% trans transfer_href=request.route_path('manage.project.roles', project_name=project.name), remove_delete_href=request.route_path('manage.project.settings', project_name=project.name) %}
            <a href="{{ transfer_href }}">transfer ownership</a> and <a href="{{ remove_delete_href }}">remove project</a>
            <b>or</b>
            <a href="{{ remove_delete_href }}">delete project</a>
          {% endtrans %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>{% trans %}Proceed with caution!{% endtrans %}</h3>
    <p>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="sr-only">{% trans %}Warning{% endtrans %}</span></i>
      {% trans %}You will not be able to recover your organization after you delete it.{% endtrans %}
    </p>
    {% if organization.subscriptions %}
      <p>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="sr-only">{% trans %}Warning{% endtrans %}</span></i>
        {% if organization.active_subscription %}
          {% trans %}Your subscription will be cancelled, and you will lose access to the billing portal.{% endtrans %}
        {% else %}
          {% trans %}You will lose access to the billing portal.{% endtrans %}
        {% endif %}
        {% trans billing_href=request.route_path('manage.organization.subscription', organization_name=organization.normalized_name, _query={'next': request.current_route_path(organization_name=organization.normalized_name)}) %}
        Please ensure you have retrieved all invoices from <a href="{{ billing_href }}">your billing portal</a> before proceeding.
      {% endtrans %}
    </p>
  {% endif %}
  {{ confirm_button(gettext("Delete organization") , gettext("Organization Name"), "organization_name", organization.name) }}
{% endif %}
</div>
</section>
{% endblock %}
