#!/usr/bin/env pip install -r
# Why requirements.txt?
# See https://caremad.io/2013/07/setup-vs-requirement/

# We need a newer version of Pyramid (1.6) than what is currently available on
# PyPI, so we'll install it from GitHub first.
https://github.com/Pylons/pyramid/archive/master.zip#egg=pyramid

# We need a patched version of Jinja2 which gives access to the context in a
# finalize function.
https://github.com/dstufft/jinja2/archive/contextfinalize.zip#egg=jinja2

# We need a patched version of pyramid_jinja2 which allows overriding the
# GetTextWrapper with one of our own.
https://github.com/dstufft/pyramid_jinja2/archive/allow-override-gettext.zip#egg=pyramid_jinja2

# Install Warehouse itself.
-e .

# Install the extra dependencies we'll want for development.

# We need a newer version of pyramid_debugtoolbar than what is currently
# available on PyPI, so we'll install this from Github. This can be switched
# back when Pylons/pyramid_debugtoolbar#212 is merged and released.
https://github.com/dstufft/pyramid_debugtoolbar/archive/no-inline.zip#egg=pyramid_debugtoolbar
