{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block extra_head %}
  <link rel="canonical" href="{{ url_for('warehouse.ui.views.project_detail', project_name=project.name, version=release.version, _force_external=True) }}">
{% endblock %}

{% block content %}
  <header class="page-header project-header">
    <h1>
      <a href="{{ url_for('warehouse.ui.views.project_detail', project_name=project.name) }}">
        {{ project.name }}
      </a>
      <small>{{ release.version }}</small>
    </h1>
    {% if release.summary %}
      <h2 class="text-muted">{{ release.summary }}</h2>
    {% endif %}
  </header>

  <div class="row">
    <div class="col-md-9 project-description">
     {{ description_html }}
    </div>

    <div class="col-md-3">
      <div class="download-counts">
        <h2 class="sr-only">{{ gettext('Downloads') }}</h2>
        <ul class="list-unstyled">
          <li>{{ gettext('%(count)s downloads in the last day', count=downloads.last_day) }}</li>
          <li>{{ gettext('%(count)s downloads in the last week', count=downloads.last_week) }}</li>
          <li>{{ gettext('%(count)s downloads in the last month', count=downloads.last_month) }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
