{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% block content %}
  <p>
    {% trans organization_name=organization_name %}Your new organization named '{{ organization_name }}' has been approved and created.{% endtrans %}
  </p>
  {% trans %}You are the owner of the new organization and can log in to manage organization projects, collaborators, teams, or settings.{% endtrans %}
  {% if organization_type == 'Company' %}
    <p><strong>{% trans %}Action Required:{% endtrans %}</strong> {% trans %}As this is a corporate organization, you must purchase at least one (1) seat or your organization will be deactivated.{% endtrans %}</p>
  {% endif %}
  <p>{{ message }}</p>
{% endblock %}
