{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set domain = request.registry.settings.get('warehouse.domain') %}
{% block content %}
  <p>
    {% trans organization_name=organization_name %}Your new organization named '{{ organization_name }}' has been approved and created.{% endtrans %}
  </p>
  {% trans %}You are the owner of the new organization and can log in to manage organization projects, collaborators, teams, or settings.{% endtrans %}
  {% if organization_type == 'Company' %}
    <p>
      <strong>{% trans %}Action Required:{% endtrans %}</strong> {% trans %}As this is a Company organization, you must purchase at least one (1) seat or your organization will be deactivated.{% endtrans %}
    </p>
    <p>
      <strong><a href="{{ request.route_url('manage.organization.activate_subscription', organization_name=organization_name, _host=domain) }}">{% trans %}Activate your subscription{% endtrans %}</a></strong>
    </p>
    <p>
      {% trans %}Interested in a PyPI service agreement?{% endtrans %} {% trans %}Enhanced options like annual bulk seat purchases, higher project size limits, and prioritized support are available.{% endtrans %} <a href="https://www.surveymonkey.com/r/H53HHSS">{% trans %}Fill out our service agreement interest survey{% endtrans %}</a> {% trans %}and we'll follow up.{% endtrans %}
    </p>
  {% endif %}
  <p>{{ message }}</p>
{% endblock %}
