{# SPDX-License-Identifier: Apache-2.0 -#}

{% extends "admin/base.html" %}

{% block title %}{{ organization.name }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ request.route_path('admin.organization.list') }}">Organizations</a></li>
  <li class="breadcrumb-item active">{{ organization.name }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div class="card card-primary">
        <div class="card-body card-widget widget-user-1">
          <div class="widget-user-header">
            <h3 class="widget-user-username text-center">{{ organization.display_name }}</h3>
          </div>
        </div>
        <div class="card-body">
          <p class="text-muted text-center">
            Created on {{ organization.created|format_date() }}
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header with-border">
          <h2 class="card-title">Actions</h2>
        </div>
        <div class="card-body">

            <button
              type="button"
              class="btn btn-danger btn-block"
              data-toggle="modal"
              data-target="#renameModal" {{ 'disabled' if not request.has_permission(Permissions.AdminOrganizationsWrite) }}
              title="Rename"
            >
              <i class="icon fa fa-rotate"></i> Rename
            </button>

            <div class="modal fade" id="renameModal" tabindex="-1" role="dialog">
              <form method="POST" action="{{ request.route_path('admin.organization.rename', organization_id=organization.id) }}">
                <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="renameModalLabel">
                        Rename {{ organization.name }}?
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        This will rename <strong>{{ organization.name }}</strong>
                      </p>
                      <div class="form-group">
                        <label for="renameModalOrganizationName">
                          New Organization Name
                        </label>
                        <input type="text" id="renameModalOrganizationName" class="form-control" aria-describedby="renameModalOrganizationNameHelpBlock" name="new_organization_name" placeholder="{{ organization.name }}" required>
                        <span id="renameModalOrganizationNameHelpBlock">
                          Type the NEW organization name for "{{ organization.name }}" to confirm you are <strong>renaming</strong> the organization.
                        </span>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger">
                        <i class="icon fa fa-check"></i> Rename organization
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header with-border">
          <h3 class="card-title">Organization Details</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ request.route_path('admin.organization.detail', organization_id=organization.id) }}">
            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-5 control-label">
                  Organization Account Name
                </label>
                <div class="col-sm-7">
                  <input class="form-control" value="{{ organization.name }}" readonly>
                  <small class="form-text text-muted">Account name cannot be changed here. Use the Rename action instead.</small>
                </div>
              </div>
              <div class="form-group">
                <label for="display_name" class="col-sm-5 control-label">
                  Organization Display Name
                </label>
                <div class="col-sm-7">
                  {{ form.display_name(class="form-control", value=organization.display_name, disabled=(not request.has_permission(Permissions.AdminOrganizationsWrite))) }}
                  {% if form.display_name.errors %}
                    <div class="text-danger">{{ form.display_name.errors[0] }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="link_url" class="col-sm-5 control-label">
                  Organization URL <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </label>
                <div class="col-sm-7">
                  {{ form.link_url(class="form-control", value=organization.link_url, disabled=(not request.has_permission(Permissions.AdminOrganizationsWrite))) }}
                  {% if form.link_url.errors %}
                    <div class="text-danger">{{ form.link_url.errors[0] }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="col-sm-5 control-label">
                  Organization Description
                </label>
                <div class="col-sm-7">
                  {{ form.description(class="form-control", rows="4", disabled=(not request.has_permission(Permissions.AdminOrganizationsWrite))) }}
                  {% if form.description.errors %}
                    <div class="text-danger">{{ form.description.errors[0] }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="orgtype" class="col-sm-5 control-label">
                  Organization Type
                </label>
                <div class="col-sm-7">
                  {{ form.orgtype(class="form-control", disabled=(not request.has_permission(Permissions.AdminOrganizationsWrite))) }}
                  {% if form.orgtype.errors %}
                    <div class="text-danger">{{ form.orgtype.errors[0] }}</div>
                  {% endif %}
                </div>
              </div>
              {% if request.has_permission(Permissions.AdminOrganizationsWrite) %}
              <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Save Changes
                  </button>
                </div>
              </div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header with-border">
          <h3 class="card-title">Projects</h3>
        </div>

        <div class="card-body">
          {% if organization.projects %}
          <table class="table table-hover" id="projects">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Total Size</th>
              </tr>
            </thead>
            <tbody>
            {% for project in organization.projects %}
              <tr>
                <td><a href="{{ request.route_path('admin.project.detail', project_name=project.normalized_name) }}">{{ project.name }}</a></td>
                <td>{{ project.total_size | filesizeformat(binary=True) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          No projects.
          {% endif %}
        </div>
      </div> <!-- .card -->

      <div class="card">
        <div class="card-header with-border">
          <h3 class="card-title">Members</h3>
        </div>

        <div class="card-body">
          {% if organization.roles %}
          <table class="table table-hover" id="projects">
            <thead>
              <tr>
                <th>User</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
            {% for role in organization.roles %}
              <tr>
                <td><a href="{{ request.route_path('admin.user.detail', username=role.user.username) }}">{{ role.user.username }}</a></td>
                <td>{{ role.role_name.value }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          No members.
          {% endif %}
        </div>

        <div class="card-header with-border">
          <h3 class="card-title">Invitations</h3>
        </div>

        <div class="card-body">
          {% if organization.invitations %}
          <table class="table table-hover" id="projects">
            <thead>
              <tr>
                <th>User</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for role in organization.invitations %}
              <tr>
                <td><a href="{{ request.route_path('admin.user.detail', username=role.user.username) }}">{{ role.user.username }}</a></td>
                <td><i>{{ role.invite_status.value }}</i></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          No invitations.
          {% endif %}
        </div>
      </div> <!-- .card -->

      <div class="card">
        <div class="card-header with-border">
          <h3 class="card-title">Teams</h3>
        </div>

        <div class="card-body">
          {% if organization.teams %}
          <table class="table table-hover" id="projects">
            <thead>
              <tr>
                <th>Team</th>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
            {% for team in organization.teams %}
              <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.members|length }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          No teams.
          {% endif %}
        </div>
      </div> <!-- .card -->

    </div>

  </div>
{% endblock %}
