{# SPDX-License-Identifier: Apache-2.0 -#}
<div id="security"
     data-project-tabs-target="content"
     role="tabpanel"
     aria-labelledby="security-tab mobile-security-tab"
     tabindex="-1">
  <h2 class="page-title">{% trans %}Security for {% endtrans %}</h2>
  <a class="button button--full-width button--warning"
     href="{{ request.route_url('packaging.project.submit_malware_observation', name=project.name) }}"
     rel="nofollow"
     role="button">{% trans %}Report project as malware{% endtrans %}</a>
</div>
