{# SPDX-License-Identifier: Apache-2.0 -#}
{% if project.lifecycle_status == "quarantine-enter" %}
  <div class="project-status project-status--quarantined">
    <div class="project-status__content">
      <strong class="project-status__label">
        <i class="fa fa-shield-halved" aria-hidden="true"></i>
        {% trans %}Quarantined{% endtrans %}
      </strong>
      <p class="project-status__description">
        {% trans href=request.route_path('help') + '#project_in_quarantine' %}This project has been <a href="{{ href }}">quarantined</a> by PyPI admins. It cannot be installed or modified until a security review is complete.{% endtrans %}
      </p>
    </div>
  </div>
{% elif release.lifecycle_status == "quarantine-enter" %}
  <div class="project-status project-status--quarantined">
    <div class="project-status__content">
      <strong class="project-status__label">
        <i class="fa fa-shield-halved" aria-hidden="true"></i>
        {% trans %}Quarantined{% endtrans %}
      </strong>
      <p class="project-status__description">
        {% trans href=request.route_path('help') + '#project_in_quarantine' %}This release has been <a href="{{ href }}">quarantined</a> by PyPI admins. It cannot be installed or modified until a security review is complete.{% endtrans %}
        {% if latest_version and latest_version.version != release.version %}
          <br />
          {% trans href=request.route_path('packaging.release', name=release.project.name, version=latest_version.version), version=latest_version.version %}Consider using <a href="{{ href }}">release {{ version }}</a> instead.{% endtrans %}
        {% endif %}
      </p>
    </div>
  </div>
{% elif release.yanked %}
  <div class="project-status project-status--yanked">
    <div class="project-status__content">
      <strong class="project-status__label">
        <i class="fa fa-ban" aria-hidden="true"></i>
        {% trans %}Yanked{% endtrans %}
      </strong>
      <p class="project-status__description">
        {% trans href=request.route_path('help') + '#yanked' %}This release has been <a href="{{ href }}">yanked</a> by its maintainers, and will be ignored by installers, except when explicitly specified.{% endtrans %}
        {% if latest_version and latest_version.version != release.version %}
          <br />
          {% trans href=request.route_path('packaging.release', name=release.project.name, version=latest_version.version), version=latest_version.version %}Consider using <a href="{{ href }}">release {{ version }}</a> instead.{% endtrans %}
        {% endif %}
        {% if release.yanked_reason %}
          <br />
          <strong>{% trans %}Reason given by maintainers:{% endtrans %}</strong> {{ release.yanked_reason }}
        {% endif %}
      </p>
    </div>
  </div>
{% elif project.lifecycle_status in ["archived", "archived-noindex"] %}
  <div class="project-status project-status--archived">
    <div class="project-status__content">
      <strong class="project-status__label">
        <i class="fa fa-box-archive" aria-hidden="true"></i>
        {% trans %}Archived{% endtrans %}
      </strong>
      <p class="project-status__description">
        {% trans href=request.route_path('help') + '#archived-project' %}This project has been <a href="{{ href }}">archived</a> by its maintainers, and is no longer receiving any updates.{% endtrans %}
      </p>
    </div>
  </div>
{% elif release.is_prerelease %}
  <div class="project-status project-status--pre-release">
    <div class="project-status__content">
      <strong class="project-status__label">
        <i class="fa fa-flask" aria-hidden="true"></i>
        {% trans %}Pre-release{% endtrans %}
      </strong>
      <p class="project-status__description">
        {% trans href=request.route_path('help') + '#pre-release-versioning' %}This release is a <a href="{{ href }}">pre-release</a> and may not be stable for production use.{% endtrans %}
      </p>
    </div>
  </div>
{% endif %}
