{# SPDX-License-Identifier: Apache-2.0 -#}
<div class="horizontal-section horizontal-section--grey horizontal-section--no-padding">
  <div class="site-container">
    <nav class="project-tabs__tabs"
         aria-label="{% trans project=release.project.name %}Navigation for {{ project }}{% endtrans %}">
      <ul class="project-tabs__list" role="tablist">
        <li role="presentation">
          <a id="description-tab"
             href="#description"
             role="tab"
             class="project-tabs__tab project-tabs__tab--is-active"
             aria-selected="true"
             aria-controls="description"
             tabindex="0"
             data-project-tabs-target="tab"
             data-action="project-tabs#tabClick keydown->project-tabs#tabKeydown"
             aria-label="{% trans %}Project description. Focus will be moved to the description.{% endtrans %}">
            <span>
              <i class="fa-regular fa-rectangle-list" aria-hidden="true"></i>
              {% trans %}Description{% endtrans %}
            </span>
          </a>
        </li>
        <li role="presentation">
          <a id="history-tab"
             href="#history"
             role="tab"
             class="project-tabs__tab"
             aria-selected="false"
             aria-controls="history"
             tabindex="-1"
             data-project-tabs-target="tab"
             data-action="project-tabs#tabClick keydown->project-tabs#tabKeydown"
             aria-label="{% trans %}Release history. Focus will be moved to the release history panel.{% endtrans %}">
            <span>
              <i class="fa fa-history" aria-hidden="true"></i>
              {% trans %}Release history{% endtrans %}
            </span>
          </a>
        </li>
        {% if files and not release.lifecycle_status == "quarantine-enter" %}
          <li role="presentation">
            <a id="files-tab"
               href="#files"
               role="tab"
               class="project-tabs__tab"
               aria-selected="false"
               aria-controls="files"
               tabindex="-1"
               data-project-tabs-target="tab"
               data-action="project-tabs#tabClick keydown->project-tabs#tabKeydown"
               aria-label="{% trans %}Files. Focus will be moved to the project files.{% endtrans %}">
              <span>
                <i class="fa-regular fa-file" aria-hidden="true"></i>
                {% trans count=files|count %}{{ count }} File
              {% pluralize %}
                {{ count }} Files{% endtrans %}
              </span>
            </a>
          </li>
          <!-- <li role="presentation">
              <a id="security-tab"
                 href="#security"
                 role="tab"
                 class="project-tabs__tab"
                 aria-selected="false"
                 aria-controls="security"
                 tabindex="-1"
                 data-project-tabs-target="tab"
                 data-action="project-tabs#tabClick keydown->project-tabs#tabKeydown"
                 aria-label="{% trans %}Release security. Focus will be moved to the security panel.{% endtrans %}">
                <span>
                  <i class="fa fa-shield-halved" aria-hidden="true"></i>
                  {% trans %}Security{% endtrans %}
                </span>
              </a>
            </li> -->
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
