{# SPDX-License-Identifier: Apache-2.0 -#}
{% if files %}
  <div id="files"
       data-project-tabs-target="content"
       role="tabpanel"
       aria-labelledby="files-tab"
       tabindex="-1"
       data-controller="filter-list">
    <h2 class="page-title">{% trans name=release.project.name, version=release.version %}Release files for {{ name }} {{ version }}{% endtrans %}</h2>
    <p>
      {% trans href='https://packaging.python.org/en/latest/discussions/package-formats/#package-formats', title=gettext('External link') %}For a detailed explanation of source distributions (sdists) and built distributions (wheels), please see the <a href="{{ href }}" title="{{ title }}" target="_blank" rel="noopener">package formats documentation</a>.{% endtrans %}
    </p>
    {% if late_file_count > 0 %}
      <div class="callout-block callout-block--warning">
        <h3 class="callout-block__heading">
          {% trans count=late_file_count %}File added late
        {% pluralize %}
          Files added late{% endtrans %}
        </h3>
        <p>
          {% trans count=late_file_count, days=maximum_age_for_new_uploads_days %}{{ count }} file was uploaded more than {{ days }} days after the first file in this release.
        {% pluralize %}
          {{ count }} files were uploaded more than {{ days }} days after the first file in this release.{% endtrans %}
        </p>
        <p>{% trans %}While project maintainers occasionally add legitimate files to an existing release, late additions can also indicate a security compromise.{% endtrans %}</p>
        <p>{% trans %}We recommend inspecting the release files before installing.{% endtrans %}</p>
      </div>
    {% endif %}
    {% if sdists %}
      <h3>
        <i class="fa-regular fa-file-code" aria-hidden="true"></i>
        {% trans count=sdists|length %}
        Source distribution (sdist)
      {% pluralize %}
        Source distributions (sdists)
      {% endtrans %}
    </h3>
    <table class="table table--files">
      <caption class="sr-only">{% trans name=release.project.name, version=release.version %}Source distribution for {{ name }} {{ version }}{% endtrans %}</caption>
      <thead>
        <tr>
          <th scope="col">{% trans %}File{% endtrans %}</th>
          <th scope="col">{% trans %}Size{% endtrans %}</th>
          <th scope="col">{% trans %}Uploaded{% endtrans %}</th>
          {# TODO: add provenance states with security page: <th scope="col">{% trans %}Provenance{% endtrans %}</th>#}
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for file in sdists %}
          <tr>
            <td>
              <span class="file-info__name">
                <a href="{{ request.route_url('packaging.file', path=file.path) }}"><i class="fa-regular fa-circle-down" aria-hidden="true"></i> <span>{{ file.filename }}</span></a>
              </span>
            </td>
            <td>{{ file.size|filesizeformat() if file.size else 0|filesizeformat() }}</td>
            <td>{% trans upload_time=humanize(file.upload_time) %}{{ upload_time }}{% endtrans %}</td>
            {#<td>TODO</td>#}
            <td>
              <a href="#{{ file.filename }}"
                 class="button button--small button--outline file-info__details-button"
                 data-project-tabs-target="tab"
                 data-action="project-tabs#onTabClick">{% trans %}Details{% endtrans %}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if sdists and bdists %}<hr>{% endif %}
  {% if bdists %}
    {% set bdist_count = bdists|length %}
    <h3>
      <i class="fa-solid fa-cube" aria-hidden="true"></i>
      {% trans count=bdist_count %}
      Built distribution (wheel)
    {% pluralize %}
      Built distributions (wheels)
    {% endtrans %}
  </h3>
  {% if bdist_count > 3 %}
    <noscript>
      <p class="initial-toggle-visibility">
        {% trans %}Enable javascript to be able to filter the list of wheel files.{% endtrans %}
      </p>
    </noscript>
    <div class="hidden initial-toggle-visibility">
      <div class="form-group form-group--flex-width form-group--wide">
        <label class="form-group__label sr-only" for="bdist-filenames-filter">{% trans %}Search wheels{% endtrans %}</label>
        <input class="form-group__field"
               type="text"
               id="bdist-filenames-filter"
               name="bdist-filenames-filter"
               placeholder="{% trans %}Search wheels by file name{% endtrans %}"
               autocapitalize="none"
               autocomplete=""
               spellcheck="false"
               data-action="filter-list#filter"
               data-filter-list-target="filter"
               data-filtered-source="filename"
               data-comparison-type="includes"
               data-auto-update-url-querystring="true">
      </div>
    </div>
  {% endif %}
  <table class="table table--files">
    <caption class="sr-only">{% trans name=release.project.name, version=release.version %}Table of built distributions (wheels) for {{ name }} {{ version }}{% endtrans %}</caption>
    <thead>
      <tr>
        <th scope="col">{% trans %}File{% endtrans %}</th>
        <th scope="col" class="table__filter-col">
          {% if bdist_count > 3 %}
            <label class="sr-only" for="bdist-tags-interpreter">{% trans %}Interpreter{% endtrans %}</label>
            <span class="table__filter-control">
              <i class="fa-solid fa-filter" aria-hidden="true"></i>
              <select class="table-filter"
                      id="bdist-tags-interpreter"
                      name="bdist-tags-interpreter"
                      data-action="filter-list#filter"
                      data-filter-list-target="filter"
                      data-filtered-source="interpreter"
                      data-comparison-type="exact"
                      data-auto-update-url-querystring="true">
                <option value="">{% trans %}Interpreter{% endtrans %}</option>
                {% for value in wheel_filters_all['interpreter'] | sort %}
                  <option value="{{ value }}">{{ wheel_filters_all['interpreter'][value] }}</option>
                {% endfor %}
              </select>
            </span>
          {% else %}
            {% trans %}Interpreter{% endtrans %}
          {% endif %}
        </th>
        <th scope="col" class="table__filter-col">
          {% if bdist_count > 3 %}
            <label class="sr-only" for="bdist-tags-abi">{% trans %}ABI{% endtrans %}</label>
            <span class="table__filter-control">
              <i class="fa-solid fa-filter" aria-hidden="true"></i>
              <select class="table-filter"
                      id="bdist-tags-abi"
                      name="bdist-tags-abi"
                      data-action="filter-list#filter"
                      data-filter-list-target="filter"
                      data-filtered-source="abi"
                      data-comparison-type="exact"
                      data-auto-update-url-querystring="true">
                <option value="">{% trans %}ABI{% endtrans %}</option>
                {% for value in wheel_filters_all['abi'] | sort %}
                  <option value="{{ value }}">{{ wheel_filters_all['abi'][value] }}</option>
                {% endfor %}
              </select>
            </span>
          {% else %}
            {% trans %}ABI{% endtrans %}
          {% endif %}
        </th>
        <th scope="col" class="table__filter-col">
          {% if bdist_count > 3 %}
            <label class="sr-only" for="bdist-tags-platform">{% trans %}Platform{% endtrans %}</label>
            <span class="table__filter-control">
              <i class="fa-solid fa-filter" aria-hidden="true"></i>
              <select class="table-filter"
                      id="bdist-tags-platform"
                      name="bdist-tags-platform"
                      data-action="filter-list#filter"
                      data-filter-list-target="filter"
                      data-filtered-source="platform"
                      data-comparison-type="exact"
                      data-auto-update-url-querystring="true">
                <option value="">{% trans %}Platform{% endtrans %}</option>
                {% for value in wheel_filters_all['platform'] | sort %}
                  <option value="{{ value }}">{{ wheel_filters_all['platform'][value] }}</option>
                {% endfor %}
              </select>
            </span>
          {% else %}
            {% trans %}Platform{% endtrans %}
          {% endif %}
        </th>
        <th scope="col">
          <a href="{% if request.matched_route %}{{ request.current_route_url() }}{% else %}{{ request.url }}{% endif %}#files"
             data-action="filter-list#filterClear"
             data-filter-list-target="clear"
             class="hidden button button--link">{% trans %}Reset{% endtrans %}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for file in bdists %}
        <tr class="file-row"
            {% if 'source' not in file.python_version %} data-filter-list-target="item" data-filtered-target-filename='{{ (([file.filename] + file.pretty_wheel_tags) | list) | tojson }}' {% for filter_name, filter_items in file.wheel_filters.items() %} data-filtered-target-{{ filter_name }}='{{ (filter_items.keys() | list) | tojson }}' {% endfor %}
            {% endif %}>
          {% if 'Egg' in file.pretty_wheel_tags and bdist_count == 1 %}
            <td colspan="5">{% trans %}Legacy Egg format.{% endtrans %}</td>
          {% else %}
            <td>
              <span class="file-info__name">
                <a href="{{ request.route_url('packaging.file', path=file.path) }}"><i class="fa-regular fa-circle-down" aria-hidden="true"></i> <span>{{ file.filename }}</span></a>
              </span>
              <span class="file-info__metadata">
                <small>{{ file.size|filesizeformat() if file.size else 0|filesizeformat() }}</small>
                <span class="file-info__meta-divider" aria-hidden="true"></span>
                {% if (file.upload_time - first_upload).days > maximum_age_for_new_uploads_days %}
                  <small class="file-info__late">
                    <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
                    {{ humanize(file.upload_time) }}
                  </small>
                {% else %}
                  <small>
                    <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                    {{ humanize(file.upload_time) }}
                  </small>
                {% endif %}
                {# TODO: add provenance states with security page
                <span class="file-info__meta-divider" aria-hidden="true"></span>
                <small><i class="fa-regular fa-circle-check" aria-hidden="true"></i> TODO</small> #}
              </span>
            </td>
            <td class="table__filter-col">
              {% set values = file.wheel_filters.get('interpreter', {}) %}
              {{ values.values() | list | join(', ') }}
            </td>
            <td class="table__filter-col">
              {% set values = file.wheel_filters.get('abi', {}) %}
              {{ values.values() | list | join(', ') }}
            </td>
            <td class="table__filter-col">
              {% set values = file.wheel_filters.get('platform', {}) %}
              {{ values.values() | list | join(', ') }}
            </td>
            <td>
              <a href="#{{ file.filename }}"
                 class="button button--small button--outline file-info__details-button"
                 data-project-tabs-target="tab"
                 data-action="project-tabs#onTabClick">{% trans %}Details{% endtrans %}</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if bdist_count > 3 %}
    <p class="hidden initial-toggle-visibility">
      <span data-filter-list-target="summary"></span>
    </p>
  {% endif %}
  {% if files | length > 1 %}
    <hr />
    <div>
      {% set total_size = files | map(attribute='size') | reject('none') | sum %}
      <p>
        <strong>{% trans %}Total release size:{% endtrans %}</strong><code class="margin-left">{{ total_size|filesizeformat() }}</code>
      </p>
    </div>
  {% endif %}
{% endif %}
</div>
{# Tabs: file details #}
{% for file in files %}
  {% include "warehouse:templates/includes/file-details.html" %}
{% endfor %}
{% endif %}
