@import "compass/layout/sticky-footer";

@include sticky-footer(60px, "#wrap", "#push", "#footer");


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
