/* SPDX-License-Identifier: Apache-2.0 */

@charset "utf-8";

/*
  This is an import file for the CSS for the Warehouse project (PyPI).
  This stylesheet is used to override any styling that will cause issues
  for users without Javascript (or have it disabled).
 */

.notification-bar {
  // Default notifications to be visible, even if they're dismissed
  // Also, hide any elements that suggest dismiss-ability since js is disabled
  display: block;

  &__dismiss {
    display: none;
  }

  &--hidden,
  &--visible {
    display: inherit;
  }
}

.stick-to-top {
  // Avoid hiding navigation bar with notification
  position: relative;
}
