{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "manage/manage_base.html" %}
{% set user = request.user %}
{% set title = gettext("Security history") %}
{% set active_tab = "account" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
  <h1 class="page-title">{{ title }}</h1>
  <section id="account-events">
    {% set role_strings = {
          EventTag.Account.RoleAdd: 'Role added',
          EventTag.Account.RoleChange: 'Role changed',
          EventTag.Account.RoleDeclineInvite: 'Role invitation declined',
          EventTag.Account.RoleInvite: 'Invited to role',
          EventTag.Account.RoleRemove: 'Role removed',
          EventTag.Account.RoleRevokeInvite: 'Role invitation revoked'
        } %}
    {% set team_role_strings = {
          EventTag.Account.TeamRoleAdd: 'Team role added',
          EventTag.Account.TeamRoleRemove: 'Team role removed'
        } %}
    {% if recent_events|length > 0 %}
      {% macro caveat_detail(caveat) -%}
        {% if "permissions" in caveat %}
          {% if caveat.permissions == "user" %}
            {% trans %}Token scope: entire account{% endtrans %}
          {% else %}
            {% trans project_name=caveat.permissions.projects[0] %}Token scope: Project {{ project_name }}{% endtrans %}
          {% endif %}
        {% elif "exp" in caveat %}
          {% trans exp=humanize(caveat.exp) %}Expires: {{ exp }}{% endtrans %}
        {% endif %}
      {%- endmacro %}
      {% macro event_summary(event) -%}
        {% if event.tag == EventTag.Account.AccountCreate %}
          <strong>{% trans %}Account created{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.LoginSuccess %}
          <strong>{% trans %}Logged in{% endtrans %}</strong>
          <br>
          <small>
            {% trans %}Two factor method:{% endtrans %}
            {% if event.additional.two_factor_method == None %}
              {% trans %}None{% endtrans %}
            {% elif event.additional.two_factor_method == "webauthn" %}
              {% if event.additional.two_factor_label %}<strong>"{{ event.additional.two_factor_label }}"</strong> -{% endif %}
              {% trans %}Security device (<abbr title="web authentication">WebAuthn</abbr>){% endtrans %}
            {% elif event.additional.two_factor_method == "totp" %}
              {% trans %}Authentication application (<abbr title="time-based one-time password">TOTP</abbr>){% endtrans %}
            {% elif event.additional.two_factor_method == "recovery-code" %}
              {% trans %}Recovery code{% endtrans %}
            {% elif event.additional.two_factor_method == "remembered-device" %}
              {% trans %}Remembered device{% endtrans %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.LoginFailure %}
          <strong>{% trans %}Login failed{% endtrans %}</strong>
          {% if event.additional.auth_method %}
            {% if event.additional.auth_method == "basic" %}
              {% trans %}- Basic Auth (Upload endpoint){% endtrans %}
            {% endif %}
          {% endif %}
          <br>
          <small>
            {% trans %}Reason:{% endtrans %}
            {% if event.additional.reason == "invalid_password" %}
              {% trans %}Incorrect Password{% endtrans %}
            {% elif event.additional.reason == "invalid_totp" %}
              {% trans %}Invalid two factor (TOTP){% endtrans %}
            {% elif event.additional.reason == "invalid_webauthn" %}
              {% trans %}Invalid two factor (WebAuthn){% endtrans %}
            {% elif event.additional.reason == "invalid_recovery_code" %}
              {% trans %}Invalid two factor (Recovery code){% endtrans %}
            {% elif event.additional.reason == "burned_recovery_code" %}
              {% trans %}Invalid two factor (Recovery code){% endtrans %}
            {% else %}
              {{ event.additional.reason }}
            {% endif %}
          </small>
        {% elif event.tag == "account:reauthenticate:failure" %}
          <strong>{% trans %}Session reauthentication failed{% endtrans %}</strong>
          <br>
          <small>
            {% trans %}Reason:{% endtrans %}
            {% if event.additional.reason == "invalid_password" %}
              {% trans %}Incorrect Password{% endtrans %}
            {% else %}
              {{ event.additional.reason }}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.EmailAdd %}
          <strong>{% trans %}Email added to account{% endtrans %}</strong>
          <br>
          <small>{{ event.additional.email }}</small>
        {% elif event.tag == EventTag.Account.EmailRemove %}
          <strong>{% trans %}Email removed from account{% endtrans %}</strong>
          <br>
          <small>{{ event.additional.email }}</small>
        {% elif event.tag == EventTag.Account.EmailVerified %}
          <strong>{% trans %}Email verified{% endtrans %}</strong>
          <br>
          <small>{{ event.additional.email }}</small>
        {% elif event.tag == EventTag.Account.EmailReverify %}
          <strong>{% trans %}Email reverified{% endtrans %}</strong>
          <br>
          <small>{{ event.additional.email }}</small>
        {% elif event.tag == EventTag.Account.EmailPrimaryChange %}
          {% if event.additional.old_primary %}
            <strong>{% trans %}Primary email changed{% endtrans %}</strong>
            <br>
            <small>
              {% trans %}Old primary email:{% endtrans %} {{ event.additional.old_primary }}
              <br>
              {% trans %}New primary email:{% endtrans %} {{ event.additional.new_primary }}
            </small>
          {% else %}
            <strong>{% trans %}Primary email set{% endtrans %}</strong>
            <br>
            <small>{{ event.additional.new_primary }}</small>
          {% endif %}
        {% elif event.tag == EventTag.Account.EmailSent %}
          <strong>{% trans %}Email sent{% endtrans %}</strong>
          <br>
          <small>
            {% trans %}From:{% endtrans %} <span class="table__monospace">{{ event.additional.from_ }}</span>
            <br>
            {% trans %}To:{% endtrans %} <span class="table__monospace">{{ event.additional.to }}</span>
            <br>
            {% trans %}Subject:{% endtrans %} <span class="table__monospace">{{ event.additional.subject }}</span>
          </small>
        {% elif event.tag == EventTag.Account.PasswordResetRequest %}
          <strong>{% trans %}Password reset requested{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.PasswordResetAttempt %}
          <strong>{% trans %}Password reset attempted{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.PasswordReset %}
          <strong>{% trans %}Password successfully reset{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.PasswordChange %}
          <strong>{% trans %}Password successfully changed{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.PasswordDisabled %}
          <strong>{% trans %}Password disabled{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.PendingOIDCPublisherAdded %}
          <strong>Pending trusted publisher added</strong>
          <small>{% trans %}Project:{% endtrans %} {{ event.additional.project }}</small>
          {{ oidc_audit_event(event) }}
        {% elif event.tag == EventTag.Account.PendingOIDCPublisherRemoved %}
          <strong>Pending trusted publisher removed</strong>
          <small>{% trans %}Project:{% endtrans %} {{ event.additional.project }}</small>
          {{ oidc_audit_event(event) }}
        {% elif event.tag == EventTag.Account.TwoFactorMethodAdded %}
          <strong>{% trans %}Two factor authentication added{% endtrans %}</strong>
          <br>
          <small>
            {% if event.additional.method == "webauthn" %}
              {% trans %}Method: Security device (<abbr title="web authentication">WebAuthn</abbr>){% endtrans %}
              <br>
              {% trans %}Device name:{% endtrans %} {{ event.additional.label }}
            {% elif event.additional.method == "totp" %}
              {% trans %}Method: Authentication application (<abbr title="time-based one-time password">TOTP</abbr>){% endtrans %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.TwoFactorMethodRemoved %}
          <strong>{% trans %}Two factor authentication removed{% endtrans %}</strong>
          <br>
          <small>
            {% if event.additional.method == "webauthn" %}
              {% trans %}Method: Security device (<abbr title="web authentication">WebAuthn</abbr>){% endtrans %}
              <br>
              {% trans %}Device name:{% endtrans %} {{ event.additional.label }}
            {% elif event.additional.method == "totp" %}
              {% trans %}Method: Authentication application (<abbr title="time-based one-time password">TOTP</abbr>){% endtrans %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.TwoFactorDeviceRemembered %}
          <strong>{% trans %}Two factor device remembered{% endtrans %}</strong>
        {% elif event.tag == EventTag.Account.RecoveryCodesGenerated %}
          <strong>{% trans %}Recovery codes generated{% endtrans %}</strong>
          <br>
        {% elif event.tag == EventTag.Account.RecoveryCodesRegenerated %}
          <strong>{% trans %}Recovery codes regenerated{% endtrans %}</strong>
          <br>
        {% elif event.tag == EventTag.Account.RecoveryCodesUsed %}
          <strong>{% trans %}Recovery code used for login{% endtrans %}</strong>
          <br>
        {% elif event.tag == EventTag.Account.AccountAssociationAdd %}
          <strong>{% trans %}Account association added{% endtrans %}</strong>
          <br>
          <small>
            {% if event.additional.service == "github" %}
              <i class="fab fa-github" aria-hidden="true"></i>
              {% trans username=event.additional.external_username %}GitHub: {{ username }}{% endtrans %}
            {% else %}
              {% trans service=event.additional.service, username=event.additional.external_username %}{{ service }}: {{ username }}{% endtrans %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.AccountAssociationRemove %}
          <strong>{% trans %}Account association removed{% endtrans %}</strong>
          <br>
          <small>
            {% if event.additional.service == "github" %}
              <i class="fab fa-github" aria-hidden="true"></i>
              {% trans username=event.additional.external_username %}GitHub: {{ username }}{% endtrans %}
            {% else %}
              {% trans service=event.additional.service, username=event.additional.external_username %}{{ service }}: {{ username }}{% endtrans %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.APITokenAdded %}
          <strong>{% trans %}API token added{% endtrans %}</strong>
          <br>
          <small>
            {% trans %}Token name:{% endtrans %} {{ event.additional.description }}
            <br>
            {#
            NOTE: Old events contain a single caveat dictionary, rather than a list of caveats.

            This check can be deleted roughly 90 days after merge, since events older than
            90 days are not presented to the user.
          #}
            {% if event.additional.caveats is mapping %}
              {{ caveat_detail(event.additional.caveats) }}
            {% else %}
              {% for caveat in event.additional.caveats %}{{ caveat_detail(caveat) }}{% endfor %}
            {% endif %}
          </small>
        {% elif event.tag == EventTag.Account.APITokenRemoved %}
          <strong>{% trans %}API token removed{% endtrans %}</strong>
          <br>
          <small>{% trans %}Unique identifier:{% endtrans %} {{ event.additional.macaroon_id }}</small>
        {% elif event.tag == EventTag.Account.APITokenRemovedLeak %}
          <strong>{% trans %}API token automatically removed for security reasons{% endtrans %}</strong>
          <br>
          <small>
            {% trans %}Token name:{% endtrans %} {{ event.additional.description }}
            <br>
            {% trans %}Unique identifier:{% endtrans %} {{ event.additional.macaroon_id }}
            <br>
            {% if event.additional.permissions == "user" %}
              {% trans %}Token scope: entire account{% endtrans %}
            {% else %}
              {% trans project_name=event.additional.permissions.projects[0] %}Token scope: Project {{ project_name }}{% endtrans %}
            {% endif %}
            <br>
            {% trans public_url=event.additional.public_url %}Reason: Token found at <a href="{{ public_url }}">public url</a>{% endtrans %}
          </small>
        {% elif event.tag == EventTag.Account.OrganizationRoleInvite %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Invited to join <a href="{{ href }}">{{ organization_name }}</a>{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleDeclineInvite %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Invitation to join <a href="{{ href }}">{{ organization_name }}</a> declined{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleRevokeInvite %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Invitation to join <a href="{{ href }}">{{ organization_name }}</a> revoked{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleExpireInvite %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Invitation to join <a href="{{ href }}">{{ organization_name }}</a> expired{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleAdd %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Role in <a href="{{ href }}">{{ organization_name }}</a> added{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleChange %}
          <strong>
            {% trans href=request.route_path('organizations.profile', organization=event.additional.organization_name), organization_name=event.additional.organization_name, role_name=event.additional.role_name|lower %}Role in <a href="{{ href }}">{{ organization_name }}</a> changed{% endtrans %}
          </strong>
        {% elif event.tag == EventTag.Account.OrganizationRoleRemove %}
          <strong>{% trans %}Organization role removed{% endtrans %}</strong>
          <small>
            {% trans project_name=event.additional.project_name, role_name=event.additional.role_name|lower %}
            Project: {{ project_name }}; role: {{ role_name }}
          {% endtrans %}
        </small>
      {% elif event.tag in role_strings %}
        <strong>{% trans heading=role_strings[event.tag] %}{{ heading }}{% endtrans %}</strong>
        <small>
          {% trans project_name=event.additional.project_name, role_name=event.additional.role_name|lower %}
          Project: {{ project_name }}; role: {{ role_name }}
        {% endtrans %}
      </small>
    {% elif event.tag in team_role_strings %}
      <strong>{% trans heading=team_role_strings[event.tag] %}{{ heading }}{% endtrans %}</strong>
      <small>
        {% trans organization_name=event.additional.organization_name, team_name=event.additional.team_name, role_name=event.additional.role_name|lower %}
        Organization: {{ organization_name }}; team: {{ team_name }}; role: {{ role_name }}
      {% endtrans %}
    </small>
  {% else %}
    <strong>{{ event.tag }}</strong>
  {% endif %}
{%- endmacro %}
<p>
  {% trans faq_url=request.help_url(_anchor='suspicious-activity') %}
  Events appear here as security-related actions occur on your account. If you notice anything suspicious, please <a href="{{ faq_url }}">secure your account</a> as soon as possible.
{% endtrans %}
</p>
<table class="table table--security-logs">
  <caption class="sr-only">{% trans %}Recent account activity{% endtrans %}</caption>
  <thead>
    <tr>
      <th scope="col">{% trans %}Event{% endtrans %}</th>
      <th scope="col">{% trans %}Time{% endtrans %}</th>
      <th scope="col">{% trans %}Additional Info{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for event in recent_events %}
      <tr>
        <td>{{ event_summary(event) }}</td>
        <td>
          <span class="table__mobile-label">{% trans %}Date / time{% endtrans %}</span>
          {{ humanize(event.time, time="true") }}
        </td>
        <td>
          <span class="table__mobile-label">{% trans %}Location Info{% endtrans %}</span>
          {{ "Redacted" if event.additional.redact_ip else event.location_info }}
          <br>
          <span class="table__mobile-label">{% trans %}Device Info{% endtrans %}</span>
          {{ event.user_agent_info }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans %}Events will appear here as security-related actions occur on your account.{% endtrans %}</p>
{% endif %}
</section>
{% endblock %}
