{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "manage_project_base.html" %}
{% set active_tab = "settings" %}
{% block title %}
  {% trans project_name=project.name %}Manage '{{ project_name }}' settings{% endtrans %}
{% endblock %}
{% block main %}
  <h2>{% trans %}Project details{% endtrans %}</h2>
  {% set project_size_limit = project.total_size_limit_value %}
  {% set project_size_percent = ((project.total_size or 0) / project_size_limit * 100) %}
  <table class="table table--information">
    <caption class="sr-only">{% trans %}Project size and limits{% endtrans %}</caption>
    <tbody>
      <tr>
        <th scope="row">{% trans %}Project size{% endtrans %}</th>
        <td>{{ project.total_size|filesizeformat(binary=True) }}</td>
      </tr>
      <tr>
        <th scope="row">{% trans %}Upload limit{% endtrans %}</th>
        <td>
          {% if project.upload_limit_size == MAX_FILESIZE %}Default{% endif %}
          {{ project.upload_limit_size|filesizeformat(binary=True) }}
          {% trans help_url=request.user_docs_url("/project-management/storage-limits", anchor="requesting-a-file-size-limit-increase") %}
          <a href="{{ help_url }}">(request an increase)</a>{% endtrans %}
        </td>
      </tr>
      <tr>
        <th scope="row">{% trans %}Size limit{% endtrans %}</th>
        <td>
          {% if project_size_limit == MAX_PROJECT_SIZE %}Default{% endif %}
          {{ project_size_limit|filesizeformat(binary=True) }}
          ({{ project_size_percent|round(1) }}% used)
          {% if project_size_limit_request and project_size_limit_request.status == "submitted" %}
            <br>
            <small>{% trans %}A size limit increase request is pending review.{% endtrans %}</small>
          {% else %}
            <a href="#request-project-size-increase"
               class="button button--primary float-right">{% trans %}Request an increase{% endtrans %}</a>
            {% if project_size_limit_request and project_size_limit_request.status == "declined" %}
              <br>
              <small>
                {% trans %}Your last size limit increase request was declined.{% endtrans %}
                {% if project_size_limit_request.admin_message %}
                  {{ project_size_limit_request.admin_message }}
                {% endif %}
              </small>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <div id="request-project-size-increase"
       class="modal"
       data-controller="modal-close">
    <div class="modal__content" role="dialog">
      <a href="#modal-close"
         data-action="click->modal-close#cancel"
         title="{% trans %}Close{% endtrans %}"
         class="modal__close">
        <i class="fa fa-times" aria-hidden="true"></i>
        <span class="sr-only">{% trans %}Close{% endtrans %}</span>
      </a>
      <form id="request-project-size-increase-form"
            method="post"
            class="modal__form"
            action="{{ request.route_path('manage.project.size_limit_request', project_name=project.normalized_name) }}">
        <input name="csrf_token"
               type="hidden"
               value="{{ request.session.get_csrf_token() }}">
        <div class="modal__body">
          <h3 class="modal__title">{% trans %}Request a project size increase{% endtrans %}</h3>
          <p>
            {% trans %}
            This request will be reviewed by PyPI admins. You'll see the
            status of your request on this page.
          {% endtrans %}
        </p>
        <div class="form-group">
          <label for="request-project-size-increase-new-limit">{% trans %}New limit, in GiB{% endtrans %}</label>
          <input id="request-project-size-increase-new-limit"
                 name="requested_limit"
                 type="number"
                 min="1"
                 max="{{ PROJECT_SIZE_LIMIT_REQUEST_CAP // ONE_GIB }}"
                 step="1"
                 class="form-group__field"
                 required>
        </div>
        <div class="form-group">
          <label for="request-project-size-increase-indexes">
            {% trans %}Which indexes do you need the increase for?{% endtrans %}
          </label>
          <select id="request-project-size-increase-indexes"
                  name="indexes"
                  class="form-group__field">
            <option value="PyPI">{% trans %}PyPI{% endtrans %}</option>
            <option value="TestPyPI">{% trans %}TestPyPI{% endtrans %}</option>
            <option value="Both">{% trans %}Both{% endtrans %}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="request-project-size-increase-about">{% trans %}About the project{% endtrans %}</label>
          <p class="form-group__help-text">
            {% trans %}
            What the project is and how long it has been active.
            If you expect your release sizes/total project size to
            increase in the future, mention it here.
          {% endtrans %}
        </p>
        <textarea id="request-project-size-increase-about"
                  name="about_project"
                  class="form-group__field"
                  rows="4"
                  required></textarea>
      </div>
      <div class="form-group">
        <label for="request-project-size-increase-release-size">{% trans %}How large is each release?{% endtrans %}</label>
        <p class="form-group__help-text">
          {% trans %}
          Use MiB to describe the size, and provide a summary of what
          files are uploaded in each release. If you have made efforts
          to reduce the size of your PyPI releases, bundle other
          packages, or bundle example data, mention it here.
        {% endtrans %}
      </p>
      <textarea id="request-project-size-increase-release-size"
                name="release_size"
                class="form-group__field"
                rows="4"
                placeholder="{% trans %}e.g. ~200 MiB total: 2 Linux wheels at ~60 MiB due to bundled libxml binaries, 6 Windows/MacOS wheels at ~10 MiB, source tarball at ~10 MiB.{% endtrans %}"
                required></textarea>
    </div>
    <div class="form-group">
      <label for="request-project-size-increase-release-frequency">
        {% trans %}How frequently do you make a release?{% endtrans %}
      </label>
      <textarea id="request-project-size-increase-release-frequency"
                name="release_frequency"
                class="form-group__field"
                rows="4"
                placeholder="{% trans %}e.g. roughly once every three months.{% endtrans %}"
                required></textarea>
    </div>
  </div>
  <div class="modal__footer">
    <button type="reset"
            class="button modal__action js-cancel"
            data-action="click->modal-close#cancel">{% trans %}Cancel{% endtrans %}</button>
    <button type="submit" class="button button--primary modal__action">{% trans %}Submit request{% endtrans %}</button>
  </div>
</form>
</div>
</div>
<h3>{% trans %}API tokens{% endtrans %}</h3>
<p>{% trans %}API tokens provide an alternative way to authenticate when uploading packages to PyPI.{% endtrans %}</p>
{% if user.has_primary_verified_email %}
  <p class="no-bottom-padding">
    <a href="{{ request.route_path('manage.account.token', _query={'selected_project': project.name}) }}"
       class="button button--primary">
      {% trans project_name=project.name %}Create a token for {{ project_name }}{% endtrans %}
    </a>
  </p>
{% else %}
  <p class="no-bottom-padding">
    {% trans href='{url}#account-emails'.format(url=request.route_path('manage.account')), project_name=project.name %}
    <a href="{{ href }}">Verify your primary email address</a> to add an API token for {{ project_name }}.
  {% endtrans %}
</p>
{% endif %}
<div class="callout-block"
     data-controller="dismissable"
     data-dismissable-identifier="settings">
  <h3>{% trans %}Project description and sidebar{% endtrans %}</h3>
  <p>
    {% trans project_name=project.name, pyproject_args_href='https://packaging.python.org/tutorials/packaging-projects/#creating-pyproject-toml', distribution_href='https://packaging.python.org/guides/section-build-and-publish/' %}
    To set the '{{ project_name }}' description, author, links, classifiers,
    and other details for your next release, use the
    <a href="{{ pyproject_args_href }}" rel="noopener" target="_blank"><code>project</code>
      metadata fields in your <code>pyproject.toml</code> file</a>.
      Updating these fields will not change the metadata for past releases.
      See <a href="{{ distribution_href }}" rel="noopener" target="_blank">the Python Packaging User Guide</a> for more help.
    {% endtrans %}
  </p>
  <button type="button"
          title="{% trans %}Dismiss{% endtrans %}"
          data-action="click->dismissable#dismiss"
          class="callout-block__dismiss"
          aria-label="{% trans %}Close{% endtrans %}">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<hr>
{#
   # To remove project from an organization:
   # 1. User must be organization owner.
   # 2. There must be an individual project owner.
   #}
{% if project.organization and request.user in project.organization.owners %}
  {% if (project.owners|length) %}
    <div class="callout-block callout-block--danger">
      <h3>{% trans %}Remove project from organization{% endtrans %}</h3>
      <p>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="sr-only">{% trans %}Warning{% endtrans %}</span></i>
        {% trans %}Removing this project from the organization will:{% endtrans %}
      </p>
      <ul>
        <li>
          {% trans organization_name=project.organization.name %}Remove this project from the '{{ organization_name }}' organization.{% endtrans %}
        </li>
        <li>
          {% trans organization_name=project.organization.name %}Revoke project permissions for teams in the '{{ organization_name }}' organization.{% endtrans %}
        </li>
      </ul>
      <p>{% trans %}Individual owners and maintainers of the project will retain their project permissions.{% endtrans %}</p>
      {% set action = request.route_path('manage.project.remove_organization_project', project_name=project.normalized_name) %}
      {% set extra_description %}
        <p>
          {% trans organization_name=project.organization.name %}This will remove the project from the '{{ organization_name }}' organization.{% endtrans %}
          {% trans %}Individual owners and maintainers of the project will retain their project permissions.{% endtrans %}
        </p>
      {% endset %}
      {{ confirm_button(gettext("Remove project") , gettext("Project Name"), "remove_organization_project_name", project.name, extra_description=extra_description, action=action) }}
    </div>
  {% else %}
    <div class="callout-block">
      <h3>{% trans %}Cannot remove project from organization{% endtrans %}</h3>
      <p>
        {% trans %}Your organization is currently the <strong>sole owner</strong> of the project. You must add an individual owner to the project before you can remove the project from your organization.{% endtrans %}
      </p>
    </div>
  {% endif %}
{% endif %}
{#
   # To transfer project to an organization:
   # 1. If project is currently in an organization, the user must be organization owner.
   # 2. User must have an organization to transfer the project to.
   #}
{% if (not project.organization or request.user in project.organization.owners) and (transfer_organization_project_form.organization.choices|length > 1) %}
  <div class="callout-block callout-block--danger">
    <h3>
      {% if project.organization %}
        {% trans %}Transfer project to another organization{% endtrans %}
      {% else %}
        {% trans %}Transfer project to an organization{% endtrans %}
      {% endif %}
    </h3>
    <p>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="sr-only">{% trans %}Warning{% endtrans %}</span></i>
      {% trans %}Transferring this project will:{% endtrans %}
    </p>
    <ul>
      {% if project.organization %}
        <li>
          {% trans organization_name=project.organization.name %}Remove this project from the '{{ organization_name }}' organization.{% endtrans %}
        </li>
        <li>
          {% trans organization_name=project.organization.name %}Revoke project permissions for teams in the '{{ organization_name }}' organization.{% endtrans %}
        </li>
      {% else %}
        <li>{% trans %}Revoke your direct Owner role on the project.{% endtrans %}</li>
        <li>{% trans %}You will retain Owner permissions on the project through your organization role.{% endtrans %}</li>
      {% endif %}
      <li>
        {% if project.organization %}
          {% trans %}Add the project to another organization that you own.{% endtrans %}
        {% else %}
          {% trans %}Add the project to an organization that you own.{% endtrans %}
        {% endif %}
      </li>
      <li>{% trans %}Grant full project permissions to owners of the organization.{% endtrans %}</li>
    </ul>
    <p>
      {% trans %}All other individual owners and maintainers of the project will retain their project permissions.{% endtrans %}
    </p>
    {% set action = request.route_path('manage.project.transfer_organization_project', project_name=project.normalized_name) %}
    {% set extra_fields %}
      <label for="transfer_organization_project_name-modal-organization">Organization account name</label>
      <select id="transfer_organization_project_name-modal-organization"
              name="organization"
              class="form-group__field">
        {% for option in transfer_organization_project_form.organization %}
          {% if option.data in transfer_organization_project_form.disabled_organizations %}
            {{ option(disabled="") }}
          {% else %}
            {{ option }}
          {% endif %}
        {% endfor %}
      </select>
    {% endset %}
    {% set extra_description %}
      <p>
        This will transfer the project to the organization that you select below. You can transfer the project to organizations that you own. Company organizations must have an active subscription in order to receive project transfers.
      </p>
    {% endset %}
    {{ confirm_button(gettext("Transfer project") , gettext("Project Name"), "transfer_organization_project_name", project.name, action=action, extra_fields=extra_fields, extra_description=extra_description) }}
  </div>
{% else %}
  <div class="callout-block">
    <h3>
      {% if project.organization %}
        {% trans %}Cannot transfer project to another organization{% endtrans %}
      {% else %}
        {% trans %}Cannot transfer project to an organization{% endtrans %}
      {% endif %}
    </h3>
    <p>
      {% if project.organization %}
        {% trans %}Organization owners can transfer the project to organizations that they own or manage.{% endtrans +%}
        {% trans %}You are not an owner or manager of any other organizations.{% endtrans %}
      {% else %}
        {% trans %}Project owners can transfer the project to organizations that they own or manage.{% endtrans +%}
        {% trans %}You are not an owner or manager of any organizations.{% endtrans %}
      {% endif %}
    </p>
  </div>
{% endif %}
<h2>{% trans %}Archive project{% endtrans %}</h2>
<div class="callout-block callout-block--danger"
     data-controller="archive-confirm">
  <p>
    {% trans readme_description_href='https://packaging.python.org/guides/making-a-pypi-friendly-readme/' %}
    Archiving a project will prevent any new uploads, and remove the project
    from PyPI's search results. Before doing so, we recommend publishing a
    final release with an update to the project's description to warn the users
    that the project won't receive further updates, and to mention any
    alternative projects they may consider as a replacement. If your project is
    <a href="{{ readme_description_href }}" rel="noopener" target="_blank">configured
      to do so</a>, you can update the project's description by editing the README file.
    {% endtrans %}
  </p>
</div>
{% if project.lifecycle_status in ["archived", "archived-noindex"] %}
  <a href="#unarchive-project" class="button button--primary">{% trans %}Unarchive project{% endtrans %}</a>
  {% set action = request.route_path('manage.project.unarchive', project_name=project.name) %}
  {% set slug = "unarchive-project" %}
  {% set title = gettext("Unarchive project") %}
  {% set extra_description = gettext("Unarchiving a project will allow new file uploads and add the project to the search index.") %}
  {{ confirm_modal(title=title, label=project.name, slug=slug, extra_description=extra_description, action=action, warning=False) }}
{% else %}
  <a href="#archive-project"
     class="button button--primary {{ 'button--disabled' if project.lifecycle_status == 'quarantine' }}">
    {% trans %}Archive project{% endtrans %}
  </a>
  {% set action = request.route_path('manage.project.archive', project_name=project.name) %}
  {% set slug = "archive-project" %}
  {% set title = gettext("Archive project") %}
  {% set extra_description = gettext("Archiving a project will block any new file uploads and remove the project from the search index.") %}
  {{ confirm_modal(title=title, label=project.name, slug=slug, extra_description=extra_description, action=action, warning=False) }}
{% endif %}
<hr>
<div class="callout-block callout-block--danger"
     data-controller="delete-confirm">
  <h3>{% trans %}Delete project{% endtrans %}</h3>
  <p>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"><span class="sr-only">{% trans %}Warning{% endtrans %}</span></i>
    {% trans %}Deleting this project will:{% endtrans %}
  </p>
  <ul>
    <li>
      {% if project.releases %}
        {% trans count=project.releases|length(), href=request.route_path('manage.project.releases', project_name=project.name) %}
        Irreversibly delete the project along with <a href="{{ href }}">{{ count }} release</a>
      {% pluralize %}
        Irreversibly delete the project along with <a href="{{ href }}">{{ count }} releases</a>
      {% endtrans %}
    {% else %}
      {% trans %}Irreversibly delete the project{% endtrans %}
    {% endif %}
  </li>
  <li>
    {% trans %}Make the project name available to <strong>any other PyPI</strong> user{% endtrans %}
    <br>
    <small class="margin-left display-block margin-top margin-bottom">
      {% trans %}
      This user will be able to make new releases under this project name,
      so long as the distribution filenames do not match filenames from a
      previously released distribution (all PyPI distribution filenames
      are unique, as they are generated by combining the
      project name + version number + distribution type)
    {% endtrans %}
  </small>
</li>
</ul>
<ul class="no-bullets">
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that I am permanently deleting all releases for this project.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that my users will no longer be able to install this project.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that I will <a href="https://pypi.org/help/#file-name-reuse">not be able to re-upload any deleted versions</a>.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that I am releasing this project name for use by any other PyPI user.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that I may not be able to re-register the project name <a href="https://pypi.org/help/#project-name">under some circumstances</a>.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that I will not be able to undo this.
  </li>
  <li>
    <input type="checkbox"
           data-action="input->delete-confirm#check"
           data-delete-confirm-target="input">
    I understand that the PyPI administrators will not be able to undo this.
  </li>
</ul>
{% set action = request.route_path('manage.project.delete_project', project_name=project.normalized_name) %}
{{ confirm_button(gettext("Delete project") , gettext("Project Name"), "project_name", project.name, action=action, additional_attributes="data-delete-confirm-target=button") }}
</div>
{% endblock %}
