.banner-block {
  background-color: $brand-color;
  color: $white;
  padding: 50px 0;

  @media only screen and (max-width: 800px) {
     padding: 40px 0;
  }

  @media only screen and (max-width: 400px) {
    padding: 25px 0;
  }
}
