@use "../settings/breakpoints";
@use "../settings/colours";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  Large blue padded horizontal container for at the top of the page:
  <div class="banner"></div>
*/

.banner {
  background-color: colours.$primary-color;
  color: colours.$white;
  padding: 50px 0;

  @media only screen and (max-width: breakpoints.$tablet) {
    padding: 40px 0;
  }

  @media only screen and (max-width: breakpoints.$mobile) {
    padding: 25px 0;
  }
}
