/*
  Column that is 50% wide:
  <div class="col-half"></div>
*/

.col-half {
  @include span-columns(6);

  &:last-of-type {
    margin: 0;
  }

  @media only screen and (max-width: $tablet){
    float: none;
    margin: 0;
    width: 100%;

    &:first-of-type {
      margin-bottom: $spacing-unit;
    }
  }
}
