/* SPDX-License-Identifier: Apache-2.0 */

/*
  Main container for the site:
  <div class="site-container"></div>
*/

.site-container {
  @include site-container;
}

/*
  Container for vertical tabs
*/

.tabs-container {
  @include site-container;

  @media only screen and (max-width: $tablet) {
    padding: 5px;
  }
}

/*
  Narrow container for text only pages:
  <div class="narrow-container"></div>
*/

.narrow-container { // Use for single column content pages
  @include centered-container($narrow-container);
  padding: 0 $spacing-unit;

  @media screen and (max-width: $small-tablet) {
    padding: 0 $half-spacing-unit;
  }
}

/*
  Reduce the size of the content to a single column:
  <div class="single-column"></div>
*/

.single-column {
  max-width: $site-container / 2;
}
