/*
  Main container for the site:
  <div class="site-container"></div>
*/
.site-container {
  @include site-container;
}

/*
  Narrow container for text only pages:
  <div class="narrow-container"></div>
*/
.narrow-container { // Use for single column content pages
  @include centered-container($narrow-container);
  padding: 0 20px;

  @media screen and (max-width: 400px) {
    padding: 0 15px;
  }
}
