@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/layout-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  Main container for the site:
  <div class="site-container"></div>
*/

.site-container {
  @include layout-utilities.site-container;
}

/*
  Container for vertical tabs
*/

.tabs-container {
  @include layout-utilities.site-container;

  @media only screen and (max-width: breakpoints.$tablet) {
    padding: 5px;
  }
}

/*
  Narrow container for text only pages:
  <div class="narrow-container"></div>
*/

.narrow-container { // Use for single column content pages
  @include layout-utilities.centered-container(grid.$narrow-container);
  padding: 0 grid.$spacing-unit;

  @media screen and (max-width: breakpoints.$small-tablet) {
    padding: 0 grid.$half-spacing-unit;
  }
}

/*
  Reduce the size of the content to a single column:
  <div class="single-column"></div>
*/

.single-column {
  max-width: grid.$site-container / 2;
}
