.half-column {
  float: left;
  @include calc(width, "50% - " $spacing-unit / 2);

  @media only screen and (max-width: 800px){
    float: none;
    width: 100%;
  }
}

.half-column:first-child {
  margin-right: $spacing-unit;

  @media only screen and (max-width: 800px){
    margin-bottom: $spacing-unit;
  }
}
