@use "../settings/breakpoints";
@use "../settings/grid";
@use "../tools/layout-utilities";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A layout with a left sidebar and main section.

  <div class="left-layout">
    <div class="left-layout__sidebar"></div>
    <div class="left-layout__main"></div>
  </div>
*/

.left-layout {
  @include layout-utilities.site-container;

  &__sidebar {
    float: left;
    width: calc(25% - #{grid.$half-spacing-unit});
    margin-right: grid.$spacing-unit;

    @media only screen and (max-width: breakpoints.$desktop) {
      width: 100%;
      margin: 0;
    }
  }

  &__main {
    float: left;
    width: calc(75% - #{grid.$half-spacing-unit});
    margin-right: 0;

    @media only screen and (max-width: breakpoints.$desktop) {
      width: 100%;
      margin: 0;
    }
  }
}
