/*
  A helper that will stick an element to the top of the page:
  <div class="stick-to-top">
    // I will stick to the top of the page
  </div>
*/

.stick-to-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
