@use "sass:list";
@use "../settings/z-index";

/* SPDX-License-Identifier: Apache-2.0 */

/*
  A helper that will stick an element to the top of the page:
  `js-stick-to-top` required for JS hook:
  <div class="stick-to-top js-stick-to-top">
    // I will stick to the top of the page
  </div>
*/

.stick-to-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: list.index(z-index.$z-index-scale, "sticky-top");
}
