// FORMS

#{$all-text-inputs},
select {
  font-size: $input-font-size;
  border-radius: 2px;
  background-color: $white;
  padding: 0 8px;
  height: 40px;
  line-height: 37px;
  border: 1px solid $border-color;
  color: $text-color;
  vertical-align: middle;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover},
#{$all-text-inputs-active},
select:focus,
select:hover,
select:active {
  box-shadow: inset 0 0 0 2px $brand-color-soft;
  border-color: $brand-color-soft;
}

label {
  vertical-align: middle;
}

.hidden {
  display: none;
}
