/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/colours";
@use "../settings/fonts";

// FORMS

@mixin input-field-active-styles {
  box-shadow: inset 0 0 0 1px colours.$primary-color;
  border-color: colours.$primary-color;
  outline: none;
}

// TODO: Cannot use :where() in the following selector
// because of the order of normalize.css will reset it.
:is(
  input:not([type]),
  select,
  textarea,
  [type="color"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"]
) {
  font-size: fonts.$input-font-size;
  border-radius: 2px;
  background-color: colours.$white;
  padding: 7px;
  min-height: 40px;
  border: 1px solid colours.$accessible-border-color;
  color: colours.$text-color;
  vertical-align: middle;
  width: 250px;
  max-width: 100%;

  &:hover,
  &:active,
  &:focus {
    @include input-field-active-styles;
  }
}

input[type="checkbox"] {
  &:focus,
  &:hover,
  &:active {
    @include input-field-active-styles;
  }
}

:where(input:disabled, select:disabled) {
  cursor: not-allowed;
  box-shadow: none;
  background-color: colours.$base-grey;
}

label {
  vertical-align: middle;
}
