#{$all-text-inputs},
select {
  border-radius: 2px;
  background-color: $white;
  padding: em(8px);
  height: em(40px);
  border: 1px solid $border-color;
  color: $text-color;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover},
select:focus,
select:hover {
  box-shadow: inset 0px 0px 0px 2px $brand-color-soft;
  border-color: $brand-color-soft;
}

select {
  padding: 7px 5px;
}
