/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/fonts";

// IMAGES

img {
  max-width: 100%;
  vertical-align: middle;
}


// FIGURES

figure > img {
  display: block;
}

figcaption {
  font-size: fonts.$small-font-size;
}
