/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/fonts";
@use "../settings/grid";

// LISTS

ul {
  list-style-type: circle;
}

ul,
ol {
  margin-left: grid.$spacing-unit;
}

dl {
  dt {
    font-weight: fonts.$bold-font-weight;
    margin-top: grid.$half-spacing-unit;

    &:first-of-type {
      margin-top: 0;
    }
  }

  dd {
    padding-left: grid.$half-spacing-unit;
  }
}
