body {
    background-color: $background-color;
}

@include selection {
  color: darken($brand-color, 15);
  background: $highlight-color;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p:last-child, pre:last-child,
ul:last-child, ol:last-child, dl:last-child, figure:last-child,
%vertical-rhythm {
    margin-bottom: 0;
}
