html {
  font-size: 100%;

  @media screen and (max-width: 800px) {
    font-size: 95%;
  }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
}

strong {
  font-weight: $bold-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 10);
    text-decoration: underline;
  }
}

code, kbd, pre, samp, tt {
  font-family: $code-font;
  background-color: lighten($base-grey, 5);
  border: 1px solid $border-color;
  padding: 0 2px 1px 2px;
  font-size: 85%;
  color: lighten($text-color, 15);
}
