aside.filter-packages {
  @include span-columns(3);
  padding: 60px 0;
}

.search-results {
  @include span-columns(9);
  padding: 60px 0;

  @media only screen and (max-width: 1000px){
    width: 100%;
    margin: 0;
    padding: 30px 0;
  }
}
