{# SPDX-License-Identifier: Apache-2.0 -#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <style>
      p.footer {
        font-size: small;
        color: #666666;
      }

      {% block extra_style %}
      {% endblock %}
    </style>
  </head>
  <body>
    {% block content %}
    {% endblock %}

    {% if self.reason()|trim %}
    <p class="footer">
        —<br>
        {% block reason %}
        {% endblock %}
    </p>
    {% endif %}
  </body>
</html>
