{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "base.html" %}
{% macro url_icon(name, url) -%}
  {% set parsed = url|urlparse %}
  {% if name|lower == "download" %}
    {% set icon = "fas fa-cloud-download-alt" %}
  {% elif name|lower in ["home", "homepage", "home page"] %}
    {% set icon = "fas fa-home" %}
  {% elif name|lower in ["changelog", "change log", "changes", "release notes", "news", "what's new", "history"] %}
    {% set icon = "fas fa-scroll" %}
  {% elif name.lower().startswith(("docs", "documentation")) or parsed.netloc in ["readthedocs.io", "readthedocs.org", "rtfd.io", "rtfd.org"] or parsed.netloc.endswith((".readthedocs.io", ".readthedocs.org", ".rtfd.io", ".rtfd.org")) or parsed.netloc.startswith(("docs.", "documentation.")) %}
    {% set icon = "fas fa-book" %}
  {% elif name.lower().startswith(("bug", "issue", "tracker", "report")) %}
    {% set icon = "fas fa-bug" %}
  {% elif name.lower().startswith(("funding", "donate", "donation", "sponsor")) %}
    {% set icon = "fas fa-donate" %}
  {% elif parsed.netloc in ["github.com", "github.io"] or parsed.netloc.endswith((".github.com", ".github.io")) %}
    {% set icon = "fab fa-github" %}
  {% elif parsed.netloc == "gitlab.com" or parsed.netloc.endswith(".gitlab.com") %}
    {% set icon = "fab fa-gitlab" %}
  {% elif parsed.netloc == "gitter.im" or parsed.netloc.endswith(".gitter.im") %}
    {% set icon = "fab fa-gitter" %}
  {% elif parsed.netloc in ["discord.com", "discordapp.com", "discord.gg"] %}
    {% set icon = "fab fa-discord" %}
  {% elif parsed.netloc == "google.com" or parsed.netloc.endswith(".google.com") %}
    {% set icon = "fab fa-google" %}
  {% elif parsed.netloc == "bitbucket.org" or parsed.netloc.endswith(".bitbucket.org") %}
    {% set icon = "fab fa-bitbucket" %}
  {% elif parsed.netloc == "reddit.com" or parsed.netloc.endswith(".reddit.com") %}
    {% set icon = "fab fa-reddit-alien" %}
  {% elif name.lower().startswith("slack") or parsed.netloc == "slack.com" or parsed.netloc.endswith(".slack.com") %}
    {% set icon = "fab fa-slack" %}
  {% elif parsed.netloc in ["twitter.com", "x.com"] or parsed.netloc.endswith((".twitter.com", ".x.com")) %}
    {% set icon = "fab fa-twitter" %}
  {% elif parsed.netloc in ["ci.appveyor.com", "circleci.com", "codecov.io", "coveralls.io", "travis-ci.com", "travis-ci.org"] or parsed.netloc.endswith((".appveyor.com", ".circleci.com", ".codecov.io", ".coveralls.io", ".travis-ci.org", ".travis-ci.com")) %}
    {% set icon = "fas fa-tasks" %}
  {% elif parsed.netloc in ["cheeseshop.python.org", "pypi.io", "pypi.org", "pypi.python.org"] %}
    {% set icon = "fas fa-cube" %}
  {% elif parsed.netloc == "python.org" or parsed.netloc.endswith(".python.org") %}
    {% set icon = "fab fa-python" %}
  {% elif parsed.netloc in ["youtube.com", "youtu.be"] or parsed.netloc.endswith((".youtube.com", ".youtu.be")) %}
    {% set icon = "fab fa-youtube" %}
  {% elif name|lower == "mastodon" %}
    {% set icon = "fab fa-mastodon" %}
  {% else %}
    {% set icon = "fas fa-external-link-square-alt" %}
  {% endif %}
  <i class="{{ icon }}" aria-hidden="true"></i>
{%- endmacro %}
{% macro project_snippet(release) -%}
  <a class="package-snippet"
     href="{{ request.route_path('packaging.project', name=release.project.normalized_name) }}">
    <h3 class="package-snippet__title">
      <span class="package-snippet__name">{{ release.project.name }}</span>
      <span class="package-snippet__version">{{ release.version }}</span>
    </h3>
    <p class="package-snippet__description">{{ release.summary }}</p>
  </a>
{%- endmacro %}
{%- macro pip_command(release, request_route, test_environment) -%}
  {%- if test_environment -%}
    {% set index_url = " -i https://test.pypi.org/simple/" %}
  {%- endif -%}
  {%- if request_route == "packaging.release" -%}
    {% set project_version = "==" + release.version %}
  {%- endif -%}
  {%- if release.version.epoch -%}
    pip install{{ index_url }} '{{ release.project.name }}{{ project_version }}'
  {%- else -%}
    pip install{{ index_url }} {{ release.project.name }}{{ project_version }}
  {%- endif -%}
{%- endmacro -%}
{%- macro sdists_table(files) -%}
  <table class="table table--files">
    <caption class="sr-only">{% trans name=release.project.name, release=release.version %}Source distribution for {{ name }} {{ version }}{% endtrans %}</caption>
    <thead>
      <th scope="col">{% trans %}File{% endtrans %}</th>
      <th scope="col">{% trans %}Uploaded{% endtrans %}</th>
      <th scope="col">{% trans %}Size{% endtrans %}</th>
      <th scope="col">{% trans %}Type{% endtrans %}</th>
      <th class="table__align-right"  scope="col">{% trans %}Details{% endtrans %}</th>
    </thead>
    {% for file in files %}
      <tr>
        <td>
          <span class="table__mobile-label">{% trans %}File{% endtrans %}</span>
          <a href="{{ request.route_url('packaging.file', path=file.path) }}"><i class="fa-solid fa-file-arrow-down" aria-hidden="true"></i></a>&nbsp;
          <a href="{{ request.route_url('packaging.file', path=file.path) }}">{{ file.filename }}</a>
        </td>
        <td>
          <span class="table__mobile-label">{% trans %}Uploaded{% endtrans %}</span>
          {% trans upload_time=humanize(file.upload_time) %}Uploaded {{ upload_time }}{% endtrans %}
        </td>
        <td>
          <span class="table__mobile-label">{% trans %}Size{% endtrans %}</span>
          {{ file.size|filesizeformat() if file.size else 0|filesizeformat() }}
        </td>
        <td>
          <span class="table__mobile-label">{% trans %}Type{% endtrans %}</span>
          {% trans %}Source{% endtrans %}
        </td>
        <td class="table__align-right">
          <span class="table__mobile-label">{% trans %}View details{% endtrans %}</span>
          <a href="#{{ file.filename }}"
             data-project-tabs-target="tab"
             data-action="project-tabs#onTabClick">{% trans %}Details{% endtrans %}</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{%- endmacro -%}
{%- macro bdists_table(files) -%}
  <table class="table table--files">
    <caption class="sr-only">{% trans name=release.project.name, release=release.version %}Table of built distributions (wheels) for {{ name }} {{ release }}{% endtrans %}</caption>
    <thead>
      <th scope="col">{% trans %}File{% endtrans %}</th>
      <th scope="col">{% trans %}Interpreter{% endtrans %}</th>
      <th scope="col">{% trans %}ABI{% endtrans %}</th>
      <th scope="col">{% trans %}Platform{% endtrans %}</th>
      <th class="table__align-right" scope="col">{% trans %}Details{% endtrans %}</th>
    </thead>
    {% for file in files %}
      <tr {% if 'source' not in file.python_version %} data-filter-list-target="item" data-filtered-target-filename='["{{ file.filename }}"]' {% for filter_name, filter_items in file.wheel_filters.items() %} data-filtered-target-{{ filter_name }}='{{ ((filter_items.keys() | list) + (filter_items.values() | list)) | tojson }}' {% endfor %}
          {% endif %}>
        <td class="file-name">
          <span class="table__mobile-label">{% trans %}File{% endtrans %}</span>
          <a href="{{ request.route_url('packaging.file', path=file.path) }}"><i class="fa-solid fa-file-arrow-down" aria-hidden="true"></i></a>&nbsp;
          <a href="{{ request.route_url('packaging.file', path=file.path) }}">Download file</a>
          <br />
          <small>
            {{ file.size|filesizeformat() if file.size else 0|filesizeformat() }}.&nbsp;
            {% trans upload_time=humanize(file.upload_time) %}Uploaded {{ upload_time }}{% endtrans %}.
          </small>
        </td>
        {% if 'Egg' in file.pretty_wheel_tags %}
          <td colspan="3">
            {{ file.filename }}
            {% for tag in file.pretty_wheel_tags %}
              {% if loop.first %}-{% endif %}
              {{ tag }}
              {% if not loop.last %}&nbsp;{% endif %}
            {% endfor %}
          </td>
        {% else %}
          <td>
            <span class="table__mobile-label">{% trans %}Interpreter{% endtrans %}</span>
            {% for key, value in file.wheel_filters.items() %}
              {% if key == 'interpreter' %}
                {% for interpreter_value, interpreter_label in value.items() %}
                  {{ interpreter_label }}
                  {% if not loop.last %}<br />{% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            <span class="table__mobile-label">{% trans %}ABI{% endtrans %}</span>
            {% for key, value in file.wheel_filters.items() %}
              {% if key == 'abi' %}
                {% for abi_value, abi_label in value.items() %}
                  {{ abi_label }}
                  {% if not loop.last %}<br />{% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            <span class="table__mobile-label">{% trans %}Platform{% endtrans %}</span>
            {% for key, value in file.wheel_filters.items() %}
              {% if key == 'platform' %}
                {% for platform_value, platform_label in value.items() %}
                  {{ platform_label }}
                  {% if not loop.last %}<br />{% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </td>
        {% endif %}
        <td class="table__align-right">
          <span class="table__mobile-label">{% trans %}View details{% endtrans %}</span>
          <a href="#{{ file.filename }}"
             data-project-tabs-target="tab"
             data-action="project-tabs#onTabClick">{% trans %}Details{% endtrans %}</a>
        </td>
      </tr>
      <tr {% if 'source' not in file.python_version %} data-filter-list-target="item" data-filtered-target-filename='["{{ file.filename }}"]' {% for filter_name, filter_items in file.wheel_filters.items() %} data-filtered-target-{{ filter_name }}='{{ ((filter_items.keys() | list) + (filter_items.values() | list)) | tojson }}' {% endfor %}
      {% endif %}>
        <td colspan="5" class="file-name"><small>{%  trans %}File name:{% endtrans %} {{ file.filename }}</small></td>
      </tr>
    {% endfor %}
  </table>
{%- endmacro -%}
{% macro filter_select(name, title) %}
  <label class="form-group__label sr-only" for="bdist-tags-{{ name }}">{% trans %}{{ title }}{% endtrans %}</label>
  <select class="form-group__field"
          id="bdist-tags-{{ name }}"
          name="bdist-tags-{{ name }}"
          data-action="filter-list#filter"
          data-filter-list-target="filter"
          data-filtered-source="{{ name }}"
          data-comparison-type="exact"
          data-auto-update-url-querystring="true">
    <option value="">{% trans %}{{ title }}{% endtrans %}</option>
    {% for value in wheel_filters_all[name] | sort %}
      <option value="{{ value }}">{{ wheel_filters_all[name][value] }}</option>
    {% endfor %}
  </select>
{% endmacro %}
{% block title %}{{ release.project.name }}{% endblock %}
{% block description %}{{ release.summary }}{% endblock %}
{% block additional_rss -%}
  <link rel="alternate"
        type="application/rss+xml"
        title="{% trans project_name=release.project.name %}RSS: latest releases for {{ project_name }}{% endtrans %}"
        href="{{ request.route_path('rss.project.releases', name=release.project.normalized_name) }}">
{%- endblock %}
{% block canonical_url %}{{ request.route_url('packaging.project', name=release.project.name) }}{% endblock %}
{% block extra_meta %}
  {% if release.project.created|is_recent %}<meta name="googlebot" content="noindex">{% endif %}
{% endblock %}
{% block content %}
  {% if release.verified_github_repo_info_url and release.verified_github_open_issue_info_url %}
    <div class="hidden"
         data-controller="github-repo-stats"
         data-github-repo-stats-github-repo-info-outlet=".github-repo-info"
         data-github-repo-stats-url-value="{{ release.verified_github_repo_info_url }}"
         data-github-repo-stats-issue-url-value="{{ release.verified_github_open_issue_info_url }}"></div>
  {% endif %}
  {% if release.verified_gitlab_repository %}
    <div class="hidden"
         data-controller="gitlab-repo-stats"
         data-gitlab-repo-stats-gitlab-repo-info-outlet=".gitlab-repo-info"
         data-gitlab-repo-stats-repository-value="{{ release.verified_gitlab_repository }}"></div>
  {% endif %}
  <div class="banner">
    <div class="package-header">
      <div class="package-header__left">
        <h1 class="package-header__name">{{ release.project.name }} {{ release.version }}</h1>
        {% if files and not project.lifecycle_status == "quarantine-enter" %}
          <div data-controller="clipboard">
            <p class="package-header__pip-instructions">
              <span id="pip-command" data-clipboard-target="source">{{ pip_command(release, request.matched_route.name, testPyPI) }}</span>
              <button type="button"
                      class="copy-tooltip copy-tooltip-s"
                      data-action="clipboard#copy"
                      data-clipboard-target="tooltip"
                      data-clipboard-tooltip-value="{% trans %}Copy to clipboard{% endtrans %}">
                <i class="fa fa-copy" aria-hidden="true"></i>
                <span class="sr-only">{% trans %}Copy PIP instructions{% endtrans %}</span>
              </button>
            </p>
          </div>
        {% endif %}
      </div>
      <div class="package-header__right">
        {% if project.lifecycle_status == "quarantine-enter" %}
          <a class="status-badge status-badge--warn"
             href="{{ request.route_path("help") }}#project_in_quarantine">
            <span>{% trans %}This project has been quarantined{% endtrans %}</span>
          </a>
        {% elif release.yanked %}
          <a class="status-badge status-badge--bad"
             href="{{ request.route_path('packaging.project', name=release.project.name) }}">
            <span>
              {% trans %}This release has been yanked{% endtrans %}
              <br>
            </span>
          </a>
        {% else %}
          {% if release.version|parse_version > latest_version.version|parse_version %}
            <a class="status-badge status-badge--warn"
               href="{{ request.route_path('packaging.project', name=release.project.name) }}">
              <span>{% trans version=latest_version.version %}Stable version available ({{ version }}){% endtrans %}</span>
            </a>
          {% elif release.version|parse_version != latest_version.version|parse_version %}
            <a class="status-badge status-badge--bad"
               href="{{ request.route_path('packaging.project', name=release.project.name) }}">
              <span>{% trans version=latest_version.version %}Newer version available ({{ version }}){% endtrans %}</span>
            </a>
          {% else %}
            <a class="status-badge status-badge--good"
               href="{{ request.route_path('packaging.project', name=release.project.name) }}">
              <span>{% trans %}Latest version{% endtrans %}</span>
            </a>
          {% endif %}
        {% endif %}
        <p class="package-header__date">
          {% trans release_date=humanize(release.created) %}Released: {{ release_date }}{% endtrans %}
        </p>
      </div>
    </div>
  </div>
  <div class="horizontal-section horizontal-section--grey horizontal-section--thin">
    <div class="site-container">
      {% csi request.route_path("includes.administer-project-include", project_name=project.normalized_name) %}
    {% endcsi %}
    <div class="split-layout split-layout--middle package-description">
      {% if release.summary %}
        <p class="package-description__summary">{{ release.summary }}</p>
      {% else %}
        <p class="package-description__summary">{% trans %}No project description provided{% endtrans %}</p>
      {% endif %}
      {% csi request.route_path("includes.edit-project-button", project_name=project.normalized_name) %}
    {% endcsi %}
  </div>
</div>
</div>
<div data-controller="project-tabs">
  <div class="tabs-container">
    <div class="vertical-tabs">
      <div class="vertical-tabs__tabs">
        <div class="sidebar-section">
          <h3 class="sidebar-section__title">{% trans %}Navigation{% endtrans %}</h3>
          <nav aria-label="{% trans project=release.project.name %}Navigation for {{ project }}{% endtrans %}">
            <ul class="vertical-tabs__list" role="tablist">
              <li role="tab">
                <a id="description-tab"
                   href="#description"
                   data-project-tabs-target="tab"
                   data-action="project-tabs#onTabClick"
                   class="vertical-tabs__tab vertical-tabs__tab--with-icon vertical-tabs__tab--is-active"
                   aria-selected="true"
                   aria-label="{% trans %}Project description. Focus will be moved to the description.{% endtrans %}">
                  <i class="fa fa-align-left" aria-hidden="true"></i>
                  {% trans %}Project description{% endtrans %}
                </a>
              </li>
              <li role="tab">
                <a id="history-tab"
                   href="#history"
                   data-project-tabs-target="tab"
                   data-action="project-tabs#onTabClick"
                   class="vertical-tabs__tab vertical-tabs__tab--with-icon"
                   aria-label="{% trans %}Release history. Focus will be moved to the history panel.{% endtrans %}">
                  <i class="fa fa-history" aria-hidden="true"></i>
                  {% trans %}Release history{% endtrans %}
                </a>
              </li>
              {% if files %}
                <li role="tab">
                  <a id="files-tab"
                     href="#files"
                     data-project-tabs-target="tab"
                     data-action="project-tabs#onTabClick"
                     class="vertical-tabs__tab vertical-tabs__tab--with-icon"
                     aria-label="{% trans %}Download files. Focus will be moved to the project files.{% endtrans %}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    {% trans %}Download files{% endtrans %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% include "warehouse:templates/includes/packaging/project-data.html" %}
        {% set include_sponsor_logos = project.organization.orgtype != OrganizationType.Company %}
        {% include "warehouse:templates/includes/sidebar-sponsor-logo.html" %}
        <div class="sidebar-section">
          <a class="button button--full-width button--warning"
             href="{{ request.route_url('packaging.project.submit_malware_observation', name=project.name) }}"
             role="button">{% trans %}Report project as malware{% endtrans %}</a>
        </div>
      </div>
      <div class="vertical-tabs__panel">
        <!-- mobile menu -->
        <nav aria-label="{% trans project=release.project.name %}Navigation for {{ project }}{% endtrans %}">
          <ul class="vertical-tabs__list" role="tablist">
            <li role="tab">
              <a id="mobile-description-tab"
                 href="#description"
                 data-project-tabs-target="mobileTab"
                 data-action="project-tabs#onTabClick"
                 class="vertical-tabs__tab vertical-tabs__tab--with-icon vertical-tabs__tab--mobile vertical-tabs__tab--no-top-border vertical-tabs__tab--is-active"
                 aria-selected="true"
                 aria-label="{% trans %}Project description. Focus will be moved to the description.{% endtrans %}">
                <i class="fa fa-align-left" aria-hidden="true"></i>
                {% trans %}Project description{% endtrans %}
              </a>
            </li>
            <li role="tab">
              <a id="mobile-data-tab"
                 href="#data"
                 data-project-tabs-target="mobileTab"
                 data-action="project-tabs#onTabClick"
                 class="vertical-tabs__tab vertical-tabs__tab--with-icon vertical-tabs__tab--mobile"
                 aria-label="{% trans %}Project details. Focus will be moved to the project details.{% endtrans %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                {% trans %}Project details{% endtrans %}
              </a>
            </li>
            <li role="tab">
              <a id="mobile-history-tab"
                 href="#history"
                 data-project-tabs-target="mobileTab"
                 data-action="project-tabs#onTabClick"
                 class="vertical-tabs__tab vertical-tabs__tab--with-icon vertical-tabs__tab--mobile"
                 aria-label="{% trans %}Release history. Focus will be moved to the history panel.{% endtrans %}">
                <i class="fa fa-history" aria-hidden="true"></i>
                {% trans %}Release history{% endtrans %}
              </a>
            </li>
            {% if files %}
              <li role="tab">
                <a id="mobile-files-tab"
                   href="#files"
                   data-project-tabs-target="mobileTab"
                   data-action="project-tabs#onTabClick"
                   class="vertical-tabs__tab vertical-tabs__tab--with-icon vertical-tabs__tab--mobile"
                   aria-label="{% trans %}Download files. Focus will be moved to the project files.{% endtrans %}">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  {% trans %}Download files{% endtrans %}
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {# Tab: Project description #}
        <div id="description"
             data-project-tabs-target="content"
             class="vertical-tabs__content"
             role="tabpanel"
             aria-labelledby="description-tab mobile-description-tab"
             tabindex="-1">
          {% if project.lifecycle_status == "quarantine-enter" %}
            <div class="callout-block callout-block--warning">
              <p>{% trans %}This project has been quarantined.{% endtrans %}</p>
              <p>
                {% trans %}
                PyPI Admins need to review this project before it can be restored.
                While in quarantine, the project is not installable by clients,
                and cannot be being modified by its maintainers.
              {% endtrans %}
            </p>
            <p>
              {% trans href=request.route_path('help') + "#project_in_quarantine" %}
              Read more in the <a href="{{ href }}">project in quarantine</a> help article.
            {% endtrans %}
          </p>
        </div>
      {% elif project.lifecycle_status in ["archived", "archived-noindex"] %}
        <div class="callout-block callout-block--warning">
          <p>{% trans %}This project has been archived.{% endtrans %}</p>
          <p>
            {% trans %}
            The maintainers of this project have marked this project as archived.
            No new releases are expected.
          {% endtrans %}
        </p>
      </div>
    {% elif release.yanked and release.yanked_reason %}
      <div class="callout-block callout-block--danger">
        <p>{% trans %}Reason this release was yanked:{% endtrans %}</p>
        <p>{{ release.yanked_reason }}</p>
      </div>
    {% endif %}
    <h2 class="page-title">{% trans %}Project description{% endtrans %}</h2>
    {% if description %}
      <div class="project-description">{{ description|camoify|safe }}</div>
    {% else %}
      <div class="callout-block">
        <p>{% trans %}The author of this package has not provided a project description{% endtrans %}</p>
      </div>
    {% endif %}
  </div>
  {# Tab: project details #}
  <div id="data"
       data-project-tabs-target="content"
       class="vertical-tabs__content"
       role="tabpanel"
       aria-labelledby="mobile-data-tab"
       tabindex="-1">
    <h2 class="page-title">{% trans %}Project details{% endtrans %}</h2>
    {% include "warehouse:templates/includes/packaging/project-data.html" %}
    <br>
  </div>
  {# Tab: Release history #}
  <div id="history"
       data-project-tabs-target="content"
       class="vertical-tabs__content"
       role="tabpanel"
       aria-labelledby="history-tab mobile-history-tab"
       tabindex="-1">
    <h2 class="page-title split-layout">
      <span>{% trans %}Release history{% endtrans %}</span>
      <span class="reset-text margin-top">
        <a href="{{ request.route_path("help") }}#project-release-notifications">{% trans %}Release notifications{% endtrans %}</a> |
        <a href="{{ request.route_path('rss.project.releases', name=release.project.normalized_name) }}">{% trans %}RSS feed{% endtrans %} <i class="fa fa-rss" aria-hidden="true"></i></a>
      </span>
    </h2>
    <div class="release-timeline">
      {% set blue_cube = request.static_url('warehouse:static/dist/images/blue-cube.svg') %}
      {% set white_cube = request.static_url('warehouse:static/dist/images/white-cube.svg') %}
      {% for hversion in all_versions %}
        {% set is_current = (hversion.version == release.version) %}
        <div class="release{{ ' release--latest' if loop.first else ' release--oldest' if loop.last }}{{ ' release--current' if is_current }}">
          <div class="release__meta">
            {% if is_current %}
              <span class="badge">{% trans %}This version{% endtrans %}</span>
            {% endif %}
          </div>
          <div class="release__graphic">
            {% if loop.length > 1 %}<div class="release__line"></div>{% endif %}
            {% if is_current %}
              <img class="release__node" alt="" src="{{ blue_cube }}">
            {% else %}
              <img class="release__node" alt="" src="{{ white_cube }}">
            {% endif %}
          </div>
          <a class="card release__card"
             href="{{ request.route_path('packaging.release', name=release.project.name, version=hversion.version) }}">
            <p class="release__version">
              {{ hversion.version }}
              {% if hversion.is_prerelease %}
                <span class="badge badge--warning">{% trans %}pre-release{% endtrans %}</span>
              {% endif %}
              {% if hversion.yanked %}
                <span class="badge badge--danger">{% trans %}yanked{% endtrans %}</span>
              {% endif %}
            </p>
            <p class="release__version-date">{{ humanize(hversion.created) }}</p>
            {% if hversion.yanked and hversion.yanked_reason %}
              <div class="callout-block callout-block--danger release__yanked-reason">
                <p>{% trans %}Reason this release was yanked:{% endtrans %}</p>
                <p>{{ hversion.yanked_reason }}</p>
              </div>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if files %}
    {# Tab: Downloads #}
    <div id="files"
         data-project-tabs-target="content"
         class="vertical-tabs__content"
         role="tabpanel"
         aria-labelledby="files-tab mobile-files-tab"
         tabindex="-1"
         data-controller="filter-list">
      <h2 class="page-title">{% trans %}Download files{% endtrans %}</h2>
      <p>
        {% trans href='https://packaging.python.org/en/latest/discussions/package-formats/#package-formats', title=gettext('External link') %}For a detailed explanation of source distributions (sdists) and built distributions (wheels), please see the  <a href="{{ href }}" title="{{ title }}" target="_blank" rel="noopener">package formats documentation</a>.{% endtrans %}
      </p>
      <h3>
        {% trans count=sdists|length %}
        Source distribution (sdist)
      {% pluralize %}
        Source distributions (sdists)
      {% endtrans %}
    </h3>
    {% if sdists %}
      {{ sdists_table(sdists) }}
    {% else %}
      <div>
        <i class="fas fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
        {% trans %}No source distribution files available for this release.{% endtrans %}&nbsp;
        {% trans href='https://packaging.python.org/tutorials/packaging-projects/#generating-distribution-archives', title=gettext('External link') %}See tutorial on <a href="{{ href }}" title="{{ title }}" target="_blank" rel="noopener">generating distribution archives</a>.{% endtrans %}
      </div>
    {% endif %}
    {% if bdists %}
      {% set bdist_count = bdists|length %}
      <h3>
        {% trans count=bdist_count %}
        Built distribution (wheel)
      {% pluralize %}
        Built distributions (wheels)
      {% endtrans %}
    </h3>
    {% if bdist_count > 3 %}
      <noscript>
        <p class="initial-toggle-visibility">
          {% trans %}Enable javascript to be able to filter the list of wheel files.{% endtrans %}
        </p>
      </noscript>
      <div class="filter-wheels">
        <div class="filter-wheels__search hidden initial-toggle-visibility">
          <div class="form-group form-group--flex-width">
            <label class="form-group__label" for="bdist-filenames-filter">{% trans %}Search{% endtrans %}</label>
            <input class="form-group__field"
                   type="text"
                   id="bdist-filenames-filter"
                   name="bdist-filenames-filter"
                   placeholder="{% trans %}Search by file name{% endtrans %}"
                   autocapitalize="none"
                   autocomplete=""
                   spellcheck="false"
                   data-action="filter-list#filter"
                   data-filter-list-target="filter"
                   data-filtered-source="filename"
                   data-comparison-type="includes"
                   data-auto-update-url-querystring="true">
          </div>
        </div>
        <div class="filter-wheels__filters">
          <div class="form-group form-group--flex-width">
            <strong>{% trans %}Filters{% endtrans %}</strong>
            <span class="hidden initial-toggle-visibility" data-controller="clipboard">
              <a class="hidden"
                 href="{% if request.matched_route %}{{ request.current_route_url() }}{% else %}{{ request.url }}{% endif %}#files"
                 data-clipboard-target="source"
                 data-filter-list-target="url"></a>
              <button type="button"
                      class="button--link copy-tooltip copy-tooltip-n"
                      data-action="clipboard#copy"
                      data-clipboard-target="tooltip"
                      data-clipboard-tooltip-value="{% trans %}Copy link to filters{% endtrans %}">
                <i class="fa fa-link" aria-hidden="true"></i>
                <span class="sr-only">{% trans %}Copy link to filters{% endtrans %}</span>
              </button>
            </span>
            {{ filter_select('interpreter', 'Interpreter') }}
          </div>
          <div class="form-group form-group--flex-width">{{ filter_select('abi', 'ABI') }}</div>
          <div class="form-group form-group--flex-width">
          <strong class="float-right"><a href="{% if request.matched_route %}{{ request.current_route_url() }}{% else %}{{ request.url }}{% endif %}#files"
   data-action="filter-list#filterClear">Show all files</a>
        </strong>
        {{ filter_select('platform', 'Platform') }}
      </div>
    </div>
  </div>
{% endif %}
{{ bdists_table(bdists) }}
{% if bdist_count > 3 %}
  <p class="hidden initial-toggle-visibility">
    <span data-filter-list-target="summary"></span>
  </p>
{% endif %}
{% endif %}
</div>
{# Tabs: file details #}
{% for file in files %}
  {% include "warehouse:templates/includes/file-details.html" %}
{% endfor %}
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
{% block extra_js %}
  <script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
};
  </script>
  <script async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"
          integrity="sha256-1CldwzdEg2k1wTmf7s5RWVd7NMXI/7nxxjJM2C4DqII="
          crossorigin="anonymous"></script>
{% endblock %}
