Source: warehouse
Section: python
Priority: extra
Maintainer: Donald Stufft <donald@stufft.io>
Build-Depends:
  debhelper (>= 9),
  python,
  dh-virtualenv,
  pypy,
  libpq-dev,
  libffi-dev
Standards-Version: 3.9.5

Package: warehouse
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Next Generation Python Package Repository
