#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python pypy
	# This is a hack to cause psycopg2cffi to compile
	opt/warehouse/bin/python -c "import warehouse"
