{# SPDX-License-Identifier: Apache-2.0 -#}
{% from "warehouse:templates/includes/datetime-macros.html" import humanize %}
{% from "warehouse:templates/includes/manage/forms-macros.html" import confirm_modal, confirm_password_modal with context %}
{% macro twofa_section() %}
  <section id="two-factor">
    <h2 class="sub-title">{% trans %}Two factor authentication (2FA){% endtrans %}</h2>
    <p>
      {% trans href='/help#twofa' %}Two factor authentication adds an additional layer of security to your account. <a href="{{ href }}">Learn more about <abbr title="two factor authentication">2FA</abbr></a>. Once 2FA is enabled, it cannot be disabled.{% endtrans %}
    </p>
    {% if user.has_recovery_codes %}
      <table class="table table--2fa">
        <caption class="sr-only">{% trans %}Recovery methods enabled{% endtrans %}</caption>
        <thead>
          <tr>
            <th scope="col" colspan="2">{% trans %}Recovery method{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              {% trans %}Recovery codes{% endtrans %} - {% trans generated_datetime=humanize(request.user.recovery_codes[0].generated, time="true") %}generated {{ generated_datetime }}{% endtrans %} ({% trans remaining=request.user.recovery_codes.filter_by(burned=None).count() %}{{ remaining }} unused{% endtrans %}).
            </th>
            <td class="table__align-right">
              <a href="{{ request.route_path('manage.account.recovery-codes.regenerate') }}"
                 class="button button--secondary">{% trans %}Regenerate{% endtrans %}</a>
            </td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    {% if user.has_two_factor %}
      <table class="table table--2fa">
        <caption class="sr-only">{% trans %}Two factor authentication methods enabled{% endtrans %}</caption>
        <thead>
          <tr>
            <th scope="col" colspan="2">{% trans %}Two factor method{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {% if user.has_single_2fa %}
            <tr>
              <td colspan="2" class="table__no-bottom-border">
                <div class="callout-block callout-block--warning no-top-margin no-bottom-margin">
                  {% trans %}To remove this 2FA method, you must first add another method.{% endtrans %}
                </div>
              </td>
            </tr>
          {% endif %}
          {% if user.totp_secret %}
            <tr>
              <th scope="row">
                {% trans %}Authentication application (<abbr title="time-based one-time password">TOTP</abbr>){% endtrans %}
              </th>
              <td class="table__align-right">
                {% if user.totp_secret %}
                  <a href="{{ request.route_path('manage.account.totp-provision') }}"
                     class="button button--primary">Edit</a>
                {% endif %}
                {% if user.has_single_2fa %}
                  <button class="button"
                          disabled
                          title="{% trans %}Cannot remove last 2FA method{% endtrans %}">
                    {% trans %}Remove{% endtrans %}
                  </button>
                {% else %}
                  <a href="#disable-totp" class="button button--secondary">{% trans %}Remove{% endtrans %}</a>
                  {% set title = gettext("Remove authentication application") %}
                  {% set confirm_button_label = gettext("Remove application") %}
                  {% set action = request.route_path('manage.account.totp-provision') %}
                  {{ confirm_password_modal(title=title, action=action, slug="disable-totp", warning=False, confirm_button_label=confirm_button_label) }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% for credential in user.webauthn %}
            <tr>
              <th scope="row">
                <strong>"{{ credential.label }}"</strong> - {% trans %}Security device (<abbr title="web authentication">WebAuthn</abbr>){% endtrans %}
              </th>
              <td class="table__align-right">
                {% if user.has_single_2fa %}
                  <button class="button"
                          disabled
                          title="{% trans %}Cannot remove last 2FA method{% endtrans %}">
                    {% trans %}Remove{% endtrans %}
                  </button>
                {% else %}
                  <a href="#disable-webauthn-{{ credential.id }}"
                     class="button button--secondary">{% trans %}Remove{% endtrans %}</a>
                  {% set title = gettext("Remove two factor security device") + " - " + credential.label %}
                  {% set confirm_button_label = gettext("Remove device") %}
                  {% set action = request.route_path('manage.account.webauthn-provision.delete') %}
                  {% set slug = "disable-webauthn-" + credential.id | string %}
                  {% set extra_fields %}
                    <input type="hidden"
                           name="label"
                           value="{{ credential.label }}"
                           autocomplete="off">
                  {% endset %}
                  {{ confirm_modal(title=title, label=gettext("Device name") , confirm_name="device_name", confirm_string=credential.label, confirm_button_label=confirm_button_label, slug=slug, extra_fields=extra_fields, action=action, warning=False, confirm_string_in_title=False) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if not user.has_primary_verified_email %}
      <div class="callout-block">
        <p>
          {% if user.has_two_factor %}
            {% trans href='{url}#account-emails'.format(url=request.route_path('manage.account')) %}
            <a href="{{ href }}">Verify your primary email address</a>
            before adding additional two factor authentication methods to your account.
          {% endtrans %}
        {% else %}
          {% trans href='{url}#account-emails'.format(url=request.route_path('manage.account')) %}
          <a href="{{ href }}">Verify your primary email address</a>
          before enabling two factor authentication on your account.
        {% endtrans %}
      {% endif %}
    </p>
  </div>
{% elif not user.has_recovery_codes %}
  <div class="callout-block">
    <p>
      {% if user.has_two_factor %}
        {% trans %}
        You must generate and safely store recovery codes before adding additional two factor
        authentication methods to your account.
      {% endtrans %}
    {% else %}
      {% trans %}
      You must generate and safely store recovery codes before enabling two factor authentication on your account.
    {% endtrans %}
  {% endif %}
</p>
<a href="{{ request.route_path('manage.account.recovery-codes.generate') }}"
   class="button button--primary">
  {% trans %}
  Generate recovery codes
{% endtrans %}
</a>
</div>
{% elif not user.has_burned_recovery_codes %}
<div class="callout-block">
  <p>
    {% if user.has_two_factor %}
      {% trans %}
      Use a recovery code before adding additional two factor
      authentication methods to your account.
    {% endtrans %}
  {% else %}
    {% trans %}
    Use a recovery code before enabling two factor authentication on your account.
  {% endtrans %}
{% endif %}
</p>
<p>
  This is in order to verify that you have safely stored your recovery codes for use in the event of a lost 2FA device.
</p>
<a href="{{ request.route_path('manage.account.recovery-codes.burn') }}"
   class="button button--primary">
  {% trans %}
  Use a recovery code
{% endtrans %}
</a>
</div>
{% endif %}
{% set disabled = not user.has_burned_recovery_codes or not user.has_primary_verified_email %}
{% if not disabled and not user.has_two_factor %}
  <div class="callout-block">
    <p>
      {% trans %}
      You have not enabled two factor authentication on your account.
    {% endtrans %}
  </p>
</div>
{% endif %}
<div class="wrap-children">
  <a href="{{ request.route_path('manage.account.totp-provision') }}"
     class="button button--primary {{ "button--disabled" if disabled or user.totp_secret else "" }}"
     title="{{ 'Only one authentication application (TOTP) can be used at a time' if user.totp_secret else '' }}">
    {% trans %}
    Add <abbr title="two factor authentication">2FA</abbr> with authentication application
  {% endtrans %}
</a>
<a href="{{ request.route_path('manage.account.webauthn-provision') }}"
   class="button button--primary {{ "button--disabled" if disabled else "" }}"
   id="webauthn-button"
   aria-describedby="webauthn-errors">
  {% trans %}
  Add <abbr title="two factor authentication">2FA</abbr> with security device (e.g. USB key)
{% endtrans %}
</a>
</div>
<noscript>
  <p>
    {% trans %}Enable JavaScript to set up two factor authentication with a security device (e.g. USB key){% endtrans %}
  </p>
</noscript>
<ul id="webauthn-errors" class="form-errors form-errors--full-width">
  <li id="webauthn-browser-support" class="hidden margin-top--large">
    {% trans href='https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential#Browser_compatibility', title=gettext('External link') %}
    <a href="{{ href }}" title="{{ title }}" target="_blank" rel="noopener">Upgrade your browser</a> to set up two factor authentication with a security device (e.g. USB key)
  {% endtrans %}
</li>
</ul>
</section>
{% endmacro %}
