{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set site = request.registry.settings["site.name"] %}
{% block content %}
  <p>
    {% trans organization_name=organization_name, role=role, submitter=submitter %}Your role in the "{{ organization_name }}" organization has been changed to <strong>{{ role }}</strong> by {{ submitter }}{% endtrans %}.
  </p>
{% endblock %}
{% block reason %}
  {% trans %}You are receiving this because you are a member of this organization.{% endtrans %}
{% endblock %}
