@import "_sticky-footer";
@import "_pygments-friendly";

#wrap > .container { padding: 60px 15px 0; }
#footer { background-color: #f5f5f5; }

.index-page {
  .site-name {
    margin: 2em 0 1em 0;
    font-size: 4em;
  }

  .search {
    @media (max-width: 991px) {
      margin-top: 2em;
    }

    margin-bottom: 2em
  }

  .projects, .downloads {
    font-size: 1.6em;
  }

  .updates {
    @media (min-width: 992px) {
      margin-top: 4em;
    }
  }
}

.project-header {
  margin-top: 1em;
  margin-bottom: 1em;

  border-bottom: 1px solid #EEEEEE;

  header {
    a {
      color: #333333;
      text-decoration: none;
    }

    h2 {
      font-size: 1em;

      margin-top: 0;
    }
  }

  .download-button {
    margin-top: 2em;
  }
}

.project-body {
  margin-bottom: 6em;

  .downloads {
    margin-top: 4em;
  }

  img {
    max-width: 100%;
  }
}

.metadata {
  dl {
    margin-top: 2em;
  }

  dt {
    margin-top: 0.5em;
  }

  .maintainers > li {
    padding: 4px 2px 2px 0px;
  }
}
