{# SPDX-License-Identifier: Apache-2.0 -#}
{% macro maintainer_link(maintainer) %}
  {% set alt = gettext("Avatar for {username} from gravatar.com").format(username=maintainer.username) %}
  <a class="sidebar-section__maintainer"
     href="{{ request.route_path('accounts.profile', username=maintainer.username) }}"
     aria-label="{{ maintainer.username }}">
    <img src="{{ gravatar(request, maintainer.email, size=35) }}"
         height="35"
         width="35"
         alt="{{ alt }}"
         title="{{ alt }}">
    <span>{{ maintainer.username }}</span>
  </a>
{% endmacro %}
{% if maintainers %}
  <div class="sidebar-section">
    <h2 class="sidebar-section__title">
      {% trans count=maintainers|count %}{{ count }} maintainer
    {% pluralize %}
      {{ count }} maintainers{% endtrans %}
    </h2>
    <div class="sidebar-section__content sidebar-section__content--pypi">
      <details class="sidebar-section__data-source">
        <summary class="sidebar-section__data-source-label"
                 title="{% trans %}PyPI data{% endtrans %}">{% trans %}PyPI data{% endtrans %}</summary>
        <div class="sidebar-section__data-source-description">{% trans %}Data sourced directly from PyPI's database.{% endtrans %}</div>
      </details>
      <div class="sidebar-section__data-block">
        {% for maintainer in maintainers[:3] %}
          {{ maintainer_link(maintainer) }}
        {% endfor %}
        {% if maintainers|length > 3 %}
          <details class="sidebar-section__maintainers-overflow">
            <summary>+{{ maintainers|length - 3 }} more</summary>
            {% for maintainer in maintainers[3:] %}
              {{ maintainer_link(maintainer) }}
            {% endfor %}
          </details>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
