{# SPDX-License-Identifier: Apache-2.0 -#}

<div class="sidebar-section">
  <h2 class="sidebar-section__title">{% trans %}Project links{% endtrans %}</h2>
  {% if release.urls_by_verify_status(verified=True).values() | contains_valid_uris %}
    <div class="sidebar-section__content sidebar-section__content--verified">
      <details class="sidebar-section__data-source">
        <summary class="sidebar-section__data-source-label"
                 title="{% trans date=release.created.strftime('%Y-%m-%d') %}Data verified by PyPI on {{ date }}{% endtrans %}">
          {% trans date=humanize(release.created) %}Data verified by PyPI on {{ date }}{% endtrans %}
        </summary>
        <div class="sidebar-section__data-source-description">
          {% trans %}Data provided by the project maintainers, verified at the time the release was uploaded to PyPI.{% endtrans %}
        </div>
      </details>
      <div class="sidebar-section__data-block">
        <ul class="sidebar-links">
          {% for name, url in release.urls_by_verify_status(verified=True).items() %}
            {% if is_valid_uri(url) %}
              <li>
                <a class="sidebar-links__link" href="{{ url }}" rel="nofollow"><i class="{{ url|url_icon(name) }}" aria-hidden="true"></i>{{ name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  {% if release.urls_by_verify_status(verified=False).values() | contains_valid_uris %}
    <div class="sidebar-section__data-block">
      <ul class="sidebar-links">
        {% for name, url in release.urls_by_verify_status(verified=False).items() %}
          {% if is_valid_uri(url) %}
            <li>
              <a class="sidebar-links__link" href="{{ url }}" rel="nofollow"><i class="{{ url|url_icon(name) }}" aria-hidden="true"></i>{{ name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
