{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set site = request.registry.settings["site.name"] %}
{% block extra_style %}
  ul.member-details {
  list-style-type: none;
  }
{% endblock %}
{% block content %}
  <p>
    {% trans organization_name=organization_name, site=site %}The {{ site }} organization "{{ organization_name }}" has been deleted.{% endtrans %}
  </p>
  <p>
    {% trans email_address="admin@pypi.org", site=site %}If this was a mistake, you can email <a href="mailto:{{ email_address }}">{{ email_address }}</a> to communicate with the {{ site }} administrators.{% endtrans %}
  </p>
{% endblock %}
{% block reason %}
  {% trans %}You are receiving this because you were an owner of this organization.{% endtrans %}
{% endblock %}
