/* SPDX-License-Identifier: Apache-2.0 */

/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/

/*
  Taken directly from inuit.css
  https://github.com/inuitcss/generic.box-sizing
*/

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}
