{# SPDX-License-Identifier: Apache-2.0 -#}

{% extends "admin/base.html" %}

{% block title %}Bulk User Name Prohibition{% endblock %}

{% block content %}
<div class="card card-danger">
  <div class="card-header">
    <h3 class="card-title">Prohibit user name</h3>
  </div>
  <div class="card-body">
    <p>
    User names separated by whitespace. <b>Note: There is no confirmation step!</b>
    </p>
  </div>

  <form method="POST" action="{{ request.route_path('admin.prohibited_user_names.bulk_add') }}">
    <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}">
    <div class="card-body">
      <div class="form-group">
        <label for="prohibitedUserName">User name(s)</label>
        <textarea name="users" class="form-control" id="prohibitedUserName" rows="20" placeholder="Enter user name(s) to prohibit " {{ "disabled" if not request.has_permission(Permissions.AdminUsersWrite) }} autocomplete="off" autocorrect="off" autocapitalize="off"></textarea>
      </div>
    </div>

    <div class="card-footer">
      <div class="float-right">
        <button type="submit" class="btn btn-danger" title="{{ 'Submitting requires superuser privileges' if not request.has_permission(Permissions.AdminUsersWrite) }}" {{ "disabled" if not request.has_permission(Permissions.AdminUsersWrite) }}>Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
