{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set domain = request.registry.settings.get('warehouse.domain') %}
{% block content %}
  <p>
    This email is notifying you of an upcoming deprecation that we have
    determined may affect you as a result of your recent upload to
    '{{ project_name }}'.
  </p>
  <p>
    In the future, PyPI will require all newly uploaded source distribution
    filenames to comply with <a href="https://peps.python.org/pep-0625/">PEP
    625</a>. Any source distributions already uploaded will remain in place
    as-is and do not need to be updated.
  </p>
  <p>
    Specifically, your recent upload of '{{ filename }}' is incompatible with PEP
    625 because the filename does not contain the normalized project name
    '{{ normalized_name }}'.
  </p>
  <p>
    In most cases, this can be resolved by upgrading the version of your build
    tooling to a later version that supports PEP 625 and produces compliant
    filenames. You do not need to remove the file.
  </p>
  <p>
    If you have questions, you can email
    <a href="mailto:admin@pypi.org">admin@pypi.org</a> to communicate with the PyPI
    admin@pypi.org to communicate with the PyPI administrators.
  </p>
{% endblock %}
