/* SPDX-License-Identifier: Apache-2.0 */

@use "sass:color";
@use "sass:list";
@use "../settings/colours";
@use "../settings/z-index";

@mixin card {
  border: 1px solid colours.$border-color;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 5%);
  background-color: colours.$white;
  text-decoration: none;

  &:hover,
  &:active {
    border-color: colours.$border-color;
    text-decoration: none;
  }
}

@mixin overlay {
  position: fixed;
  inset: 0;
  background-color: color.adjust(colours.$black, $alpha: -0.5);
  z-index: list.index(z-index.$z-index-scale, "dark-overlay");
  pointer-events: none;
  transition: opacity 0.3s;
}

@mixin dismiss-button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 18px;
  padding: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}
