/* SPDX-License-Identifier: Apache-2.0 */

@use "../settings/breakpoints";
@use "../settings/grid";

 @mixin clearfix {
  // From Bourbon. https://www.bourbon.io/docs/latest/#clearfix
  // TODO: Confirm usages across codebase, and remove if not needed.
  // Guidance is to fix layouts with flexbox or grid instead.
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centered-container($width) {
  max-width: $width;

  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

@mixin site-container {
  @include centered-container(grid.$site-container);
  padding: 0 grid.$spacing-unit;

  @media screen and (max-width: breakpoints.$small-tablet) {
    padding: 0 grid.$half-spacing-unit;
  }
}

@mixin grid-container {
  display: grid;
  grid-template-columns: repeat(grid.$grid-columns, 1fr);
  column-gap: grid.$half-spacing-unit;
}

@mixin split-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > :first-child {
    padding-right: grid.$spacing-unit;
  }
}

@mixin split-table-layout {
  display: table;
  width: 100%;
  table-layout: fixed;

  > :first-child,
  > :last-child {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}
