@use "sass:color";
@use "../settings/colours";

/* SPDX-License-Identifier: Apache-2.0 */

@mixin link-focus-state($color) {
  &:focus,
  &:active {
    outline: 1px solid $color;
  }
}

@mixin colored-link($color) {
  color: $color;

  &:hover {
    color: color.adjust($color, $lightness: -10);
  }

  @include link-focus-state($color);
}

@mixin primary-underlined-link {
  @include colored-link(colours.$primary-color);
}

@mixin danger-underlined-link {
  @include colored-link(colours.$danger-color);
}

@mixin warning-underlined-link {
  @include colored-link(colours.$warning-color);
}

@mixin success-underlined-link {
  @include colored-link(colours.$success-color);
}

@mixin white-underlined-link {
  @include colored-link(colours.$white);
}

@mixin link-without-underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
