{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
  <form method="POST" action="{{ request.current_route_path() }}">
    <input name="csrf_token" type="hidden" value="{{ request.session.get_scoped_csrf_token('accounts.login') }}">

    {% if redirect.data %}
    <input name="{{ redirect.field }}" type="hidden" value="{{ redirect.data }}">
    {% endif %}

    {% if form.errors.__all__ %}
    <ul class="errors">
      {% for error in form.errors.__all__ %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if form.username.errors %}
    <ul class="errors">
      {% for error in form.username.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.username(placeholder="Username") }}

    {% if form.password.errors %}
    <ul class="errors">
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.password(placeholder="Password") }}

    <input type="submit" value="Login">
  </form>
{% endblock %}
