{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "base.html" %}
{% block title %}
  {% trans %}Log out{% endtrans %}
{% endblock %}
{% block content %}
  <h1>{% trans account_name=request.user.username %}Log out of {{ account_name }}{% endtrans %}</h1>
  <form method="post" action="{{ request.current_route_path() }}">
    <input name="csrf_token"
           type="hidden"
           value="{{ request.session.get_csrf_token() }}">
    {% if redirect.data %}<input name="{{ redirect.field }}" type="hidden" value="{{ redirect.data }}">{% endif %}
    <input type="submit" value="{% trans %}Log out{% endtrans %}">
  </form>
{% endblock %}
