{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="horizontal-section horizontal-section--medium">
  <div class="left-layout">
    <div class="left-layout__sidebar">
      <div class="author-profile">
        <img src="{{ gravatar(user.email, size=110) }}" height="100" width="100" alt="{{ user.name|default(user.username, true) }}">
        <h1 class="author-profile__name">{{ user.name|default(user.username, true) }}{% if user.name %}({{ user.username }}){% endif %}</h1>
        {% if user.date_joined %}
          <p class="author-profile__joined">
            Joined on {{ user.date_joined|format_date() }}
          </p>
        {% endif %}
        {#
        <div class="author-profile__bio">
          <p>User Bio will go here</p>
        </div>
        #}
      </div>
    </div>

    <div class="left-layout__main">
      <h2>Projects</h2>
      <div class="package-list">
        {% for release in projects %}
        <div class="package-snippet">
          <h3 class="package-snippet__title"><a href="{{ request.route_path('packaging.project', name=release.project.normalized_name) }}">{{ release.project.name }}</a></h3>
          <p class="package-snippet__meta">
            <em>Last released on {{ release.created|format_date() }}</em>
          </p>
          <p class="package-snippet__description">{{ release.summary }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% endblock %}
