{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="banner-block">
  <div class="site-container">
    <div class="author-details">
      <div class="profile-img">
        <img src="{{ gravatar(user.email, size=110) }}" height="110" width="110" alt="{{ user.name|default(user.username, true) }}">
      </div>
      <div class="author-meta">
        <h1>{{ user.name|default(user.username, true) }}{% if user.name %}({{ user.username }}){% endif %}</h1>
        {% if user.date_joined %}
          <p class="dates">
            <span class="joined" {{ l20n("userJoinedOn", when=user.date_joined|format_date()) }}>Joined on {{ user.date_joined|format_date() }}</span>
          </p>
        {% endif %}
        <div class="bio">
          <p>This person has written a short bio, which we will need to add to the User model and display here.</p>
          <p>It might be over several lines and include a <a href="">Link</a> which we will need to make a no-follow.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="horizontal-section">
  <div class="site-container">
    <div class="package-list">
      {% for release in projects %}
      <div class="package-snippet">
        <h3 class="title"><a href="{{ request.route_path('packaging.project', name=release.project.normalized_name) }}">{{ release.project.name }}</a></h3>
        <p class="meta">
          <em {{ l20n("lastReleasedOn", when=release.created|format_date()) }}>Last released on {{ release.created|format_date() }}</em>
        </p>
        <p class="description">{{ release.summary }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
