{% extends "base.html" %}

{% import "accounts/macros.html" as macros %}

{% block title %}Register{% endblock %}

{%- from "warehouse:templates/includes/input-recaptcha.html" import recaptcha_html, recaptcha_src %}

{% block content %}
  {{ macros.legacy_pypi_message("register_form") }}
  <form method="POST" action="{{ request.current_route_path() }}" class="hidden">
    <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}">

    {% include "warehouse:templates/includes/input-credentials.html" %}

    {% if form.password_confirm.errors %}
    <ul class="errors">
      {% for error in form.password_confirm.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.password_confirm(placeholder="Confirm password") }}

    {% if form.full_name.errors %}
    <ul class="errors">
      {% for error in form.full_name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.full_name(placeholder="Full name") }}

    {% if form.email.errors %}
    <ul class="errors">
      {% for error in form.email.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {{ form.email(placeholder="Email") }}

    {{ recaptcha_html(request, form) }}

    <input type="submit" value="Register">
  </form>
{% endblock %}

{% block extra_js %}
  {{ recaptcha_src(request) }}
{% endblock %}
