{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span3">
    </div>
    <div class="span9">
      <div class="row">
        <div class="span6">
          <h3>{% trans "Email" %}</h3>
          <ul class="unstyled user-emails">
            {% for email in emails %}
              <li>
                <div class="row">
                  <div class="span3 email">
                    {{ email.email }}
                    {% if email.primary %}<span class="label label-info">{% trans "Default" %}</span>{% endif %}
                  </div>
                  <div class="span3">
                    <div class="pull-right">
                      {% if email.verified and not email.primary %}
                        <form class="pull-left" action="{% url 'accounts.set-primary-email' email=email.email %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="btn">{% trans "Set as Default" %}</button>
                        </form>
                      {% endif %}
                      {% if not email.primary %}
                        <form class="pull-left" action="{% url 'accounts.delete-email' email=email.email %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                        </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="span3"></div>
      </div>
    </div>
  </div>
{% endblock %}
