<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title_base %}{% block title %}{% endblock %} &middot; {{ config.site.name }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
    {% if not config.theme_debug %}
    <link rel="stylesheet" href="{{ static_url('css/warehouse.css') }}">
    {% else %}
    <link rel="stylesheet/less" href="{{ static_url('warehouse/less/warehouse.less') }}">
    <script src="{{ static_url('less/js/less.js') }}"></script>
    {% endif %}


    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <div id="wrap">

      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ config.site.url }}">{{ config.site.name }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="container">
      </div>
    </div>

    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.js') }}"></script>
  </body>
</html>
