{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block body %}
  {% if project_name %}
    {% csi request.route_path("includes.administer-project-include", project_name=project_name) %}
  {% endcsi %}
{% endif %}
<div class="viewport-section viewport-section--dark">
  <div class="viewport-section__content">
    <a href="{{ request.route_path('index') }}">
      <img alt="{{ request.registry.settings['site.name'] }}"
           src="{{ request.static_path('warehouse:static/dist/images/logo-small.svg') }}">
    </a>
    <h1 class="viewport-section__heading">
      {% block error_heading %}{% endblock %}
    </h1>
    {% block error_search %}
    {% endblock error_search %}
    {% block error_text %}
      <div class="viewport-section__text">
        <p>
          {# djlint:off #}
          <strong>{% trans %}Error code{% endtrans %}&nbsp;{% block error_code %}{% endblock %}</strong>
          {# djlint:on #}
          <br>
          <a href="{{ request.route_path('index') }}">{% trans %}Back to the homepage{% endtrans %}</a>
        </p>
      </div>
    {% endblock error_text %}
  </div>
</div>
{% block easter_egg %}{% endblock %}
{% endblock body %}
