{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "error-base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block error_search %}
  <form class="search-form search-form--large search-form--fullwidth"
        action="{{ request.route_path('search') }}"
        role="search">
    <label for="search" class="sr-only">{% trans %}Search PyPI{% endtrans %}</label>
    <input id="search"
           class="search-form__search large-input"
           type="text"
           name="q"
           placeholder="{% trans %}Search projects{% endtrans %}"
           autocomplete="off"
           spellcheck="false"
           autocapitalize="off">
    <button type="submit" class="search-form__button">
      <i class="fa fa-search" aria-hidden="true"></i>
      <span class="sr-only">{% trans %}Search{% endtrans %}</span>
    </button>
  </form>
{% endblock error_search %}
