{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "base.html" %}
{% block title %}{{ request.host }}{% endblock %}
{% block body %}
  <div class="viewport-section viewport-section--dark">
    <div class="viewport-section__content">
      <img alt="{{ request.registry.settings['site.name'] }}"
           src="{{ request.static_path('warehouse:static/dist/images/logo-small.svg') }}">
      <h2 class="viewport-section__heading">API endpoint</h2>
      <div class="viewport-section__text no-top-margin">
        <p>
          {% trans %}This URL is an API endpoint for uploading files to PyPI.{% endtrans %}
          <br>
          {% trans href='https://packaging.python.org/distributing/#uploading-your-project-to-pypi', title=gettext('External link') %}For more information on uploading projects to PyPI, visit the <a href="{{ href }}" title="{{ title }}" target="_blank" rel="noopener">Python Packaging User Guide</a>.{% endtrans %}
        </p>
        <p>
          {% trans href='https://pypi.org/' %}Otherwise, we suggest you <a href="{{ href }}">go to the PyPI homepage</a>.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
{% endblock body %}
