name: CI
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:  # generally only for the "combine-prs" workflow
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
jobs:
  build:
    if: github.repository == 'pypi/warehouse'
    runs-on: depot-ubuntu-24.04-arm
    outputs:
      buildId: ${{ steps.build.outputs.build-id}}
    permissions:
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Depot CLI
        uses: depot/setup-action@15c09a5f77a0840ad4bce955686522a257853461 # v1.7.1
      - name: Build image
        id: build
        uses: depot/build-push-action@5f3b3c2e5a00f0093de47f657aeaefcedff27d18 # v1.17.0
        with:
          save: true
          build-args: |
            DEVEL=yes
            CI=yes
          tags: pypi/warehouse:ci-${{ github.run_id }}
  test:
    # Time out if our test suite has gotten hung
    timeout-minutes: 15
    needs: build
    strategy:
      matrix:
        include:
          - name: Tests
            command: bin/tests --postgresql-host postgres
            runs_on: depot-ubuntu-24.04-arm-4
          - name: Lint
            command: bin/lint
            runs_on: depot-ubuntu-24.04-arm-4
          - name: User Documentation
            command: bin/user-docs
          - name: Developer Documentation
            command: bin/dev-docs
          - name: Dependencies
            command: bin/deps
          - name: Licenses
            command: bin/licenses
          - name: Translations
            command: bin/translations
    runs-on: ${{ (matrix.runs_on != null) && matrix.runs_on || 'depot-ubuntu-24.04-arm' }}
    container:
      image: registry.depot.dev/rltf7cln5v:${{ needs.build.outputs.buildId }}
      env:
        BILLING_BACKEND: warehouse.subscriptions.services.MockStripeBillingService api_base=http://stripe:12111 api_version=2020-08-27
    permissions:
      id-token: write
    services:
      postgres:
        image: ${{ (matrix.name == 'Tests') && 'postgres:17.5' || '' }}
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust  # never do this in production!
          POSTGRES_INITDB_ARGS: '--no-sync --set fsync=off --set full_page_writes=off'
        # Set health checks to wait until postgres has started
        options: --health-cmd "pg_isready --username=postgres --dbname=postgres" --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: ${{ (matrix.name == 'Tests') && 'redis:7.0' || '' }}
        ports:
          - 6379:6379
      stripe:
        image: ${{ (matrix.name == 'Tests') && 'stripe/stripe-mock:v0.162.0' || '' }}
        ports:
          - 12111:12111
    name: ${{ matrix.name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Cache mypy results
        if: ${{ (matrix.name == 'Lint') }}
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
              dev/.mypy_cache
          key: ${{ runner.os }}-mypy-${{ env.pythonLocation }}-${{ hashFiles('requirements.txt', 'requirements/*.txt') }}
      - name: Run ${{ matrix.name }}
        run: ${{ matrix.command }}

  check_db:
    name: Check Database Consistency
    needs: build
    runs-on: depot-ubuntu-24.04-arm
    continue-on-error: true
    container:
      image: registry.depot.dev/rltf7cln5v:${{ needs.build.outputs.buildId }}
    permissions:
      id-token: write
    services:
      postgres:
        image: postgres:17.5
        ports:
        - 5432:5432
        env:
          POSTGRES_DB: warehouse
          POSTGRES_HOST_AUTH_METHOD: trust  # never do this in production!
          POSTGRES_INITDB_ARGS: '--no-sync --set fsync=off --set full_page_writes=off'
        # Set health checks to wait until postgres has started
        options: --health-cmd "pg_isready --username=postgres --dbname=postgres" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Dotenv Action
        # We need to load the environment variables to run the CLI
        id: dotenv
        uses: falti/dotenv-action@f4656c46de6bc223dda660f6724d52537bc0642a # v1.1.5
        with:
          path: dev/environment
          export-variables: true
          keys-case: upper
      - name: Install jq
        run: apt-get update && apt-get install -y jq
      - name: Check Database
        run: bin/db-check
        env:
          # override the hostname set in `dev/environment`
          DATABASE_URL: 'postgresql+psycopg://postgres@postgres/warehouse'
