# Origin: https://github.com/marketplace/actions/combine-prs

name: 'Combine PRs'

# Controls when the action will run - in this case triggered manually
on:
  workflow_dispatch:
    inputs:
      ignoreLabel:
        description: 'Exclude PRs with this label'
        required: true
        default: 'blocked'

# https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
permissions:
  contents: write
  pull-requests: write
  checks: read
  actions: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "combine-prs"
  combine-prs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: combine-prs
        id: combine-prs
        uses: github/combine-prs@v4.0.0
        with:
          # TODO: This may be insufficient to kick off CI.
          # We could set a static user PAT or create a GitHub App (preferable).
          # See https://github.com/github/combine-prs/blob/e2dee3c2a03a8f9a0ecd82fb53cb852cdc7a2fb3/docs/github-app-setup.md
          github_token: ${{secrets.GITHUB_TOKEN}}
          ignore_label: ${{github.event.inputs.ignoreLabel || 'blocked'}}
