name: Node CI
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:  # generally only for the "combine-prs" workflow
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
jobs:
  test:
    strategy:
      matrix:
        include:
          - name: Static Tests
            command: bin/static_tests
          - name: Static Lint
            command: bin/static_lint
          - name: Static Pipeline
            command: bin/static_pipeline
    runs-on: ubuntu-24.04
    name: ${{ matrix.name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
            persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 25.0.0
          cache: 'npm'
      - name: Install Node dependencies
        run: npm ci
      - name: Run ${{ matrix.name }}
        run: ${{ matrix.command }}
