{# SPDX-License-Identifier: Apache-2.0 -#}
{% extends "email/_base/body.html" %}
{% set site = request.registry.settings["site.name"] %}
{% block extra_style %}
  ul.collaborator-details {
  list-style-type: none;
  }
{% endblock %}
{% block content %}
  <p>
    {% trans site=site %}A collaborator was removed from a project you own on {{ site }}{% endtrans %}:
    <ul class="collaborator-details">
      <li>
        <strong>{% trans %}Team{% endtrans %}</strong>: {{ team_name }}
      </li>
      <li>
        <strong>{% trans %}Collaborator for{% endtrans %}</strong>: {{ project }}
      </li>
      <li>
        <strong>{% trans %}Removed by{% endtrans %}</strong>: {{ submitter }}
      </li>
    </ul>
  </p>
  <p>
    If this was a mistake, you can email <a href="mailto:admin@pypi.org">admin@pypi.org</a> to communicate with the PyPI administrators.
  </p>
{% endblock %}
{% block reason %}
  {% trans %}You are receiving this because you are an owner of this project.{% endtrans %}
{% endblock %}
