{# SPDX-License-Identifier: Apache-2.0 -#}

{% extends "admin/base.html" %}

{% block title %}Observations{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Observations</li>
{% endblock %}

{% block content %}
  <div class="card card-primary card-outline">
    <div class="card-body">
      <div class="form-inline mb-3">
        <label class="mr-2" for="observations-kind-filter">Kind:</label>
        <select id="observations-kind-filter" class="form-control">
          <option value="">All</option>
          {% for kind in observation_kinds %}
            <option value="{{ kind.value[0] }}">{{ kind.value[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <table id="observations-table"
             class="table table-striped"
             data-url="{{ request.route_path('admin.observations.list') }}"
      >
        <thead>
          <tr>
            <th>Created</th>
            <th>Kind</th>
            <th>Related</th>
            <th>Summary</th>
            <th>Observer</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}
